<nb-card>
  <tl-linear-progress
    [visible]="this.remoteService.isLoading"
  ></tl-linear-progress>
  <igx-grid
    #grid
    igxGridState
    [data]="items$ | async"
    [height]="null"
    [filterStrategy]="noopFilterStrategy"
    [sortStrategy]="noopSortStrategy"
    [paging]="true"
    [clipboardOptions]="{ copyHeaders: false }"
    [displayDensity]="'cosy'"
    (onSortingDone)="sortingDone($event)"
    (onFilteringDone)="filteringDone($event)"
    (onSelection)="cellSelection($event)"
    [paginationTemplate]="pager"
    [allowFiltering]="true"
    [primaryKey]="'id'"
    [pinning]="pinningConfig"
    [cellSelection]="'none'"
  >
    <igx-grid-toolbar>
      <igx-grid-toolbar-title>
        <span class="fw-bold"
          >Външни администрации</span
        ></igx-grid-toolbar-title
      >
      <igx-grid-toolbar-actions>
        <div class="d-flex gap-2">
          <igx-grid-toolbar-hiding class="mt-1"></igx-grid-toolbar-hiding>
          <div class="ml-auto">
            <a
              nbButton
              matRipple
              [status]="'success'"
              [routerLink]="['/pages/administrations-ext/create']"
            >
              <i class="fa fa-plus" aria-hidden="true"></i>&nbsp; Добавяне
            </a>
          </div>
        </div>
      </igx-grid-toolbar-actions>
    </igx-grid-toolbar>

    <igx-column
      field="id"
      header="id"
      [sortable]="true"
      [dataType]="'string'"
      [hidden]="true"
    >
      <ng-template igxCell let-cell="cell">
        <span [title]="cell.value">{{ cell.value }}</span>
      </ng-template>
    </igx-column>

    <igx-column
      field="name"
      header="Име"
      [sortable]="true"
      [dataType]="'string'"
      [hidden]="false"
    >
      <ng-template igxCell let-cell="cell">
        <span [title]="cell.value">{{ cell.value }}</span>
      </ng-template>
    </igx-column>

    <igx-column
      field="descr"
      header="Описание"
      [sortable]="true"
      [dataType]="'string'"
      [hidden]="false"
    >
      <ng-template igxCell let-cell="cell">
        <span [title]="cell.value">{{ cell.value }}</span>
      </ng-template>
    </igx-column>

    <igx-column
      field="role"
      header="Роля"
      [sortable]="true"
      [dataType]="'string'"
      [hidden]="false"
    >
      <ng-template igxCell let-cell="cell">
        <span [title]="cell.value">{{ cell.value }}</span>
      </ng-template>
    </igx-column>

    <igx-column
      width="120px"
      header="Действия"
      [sortable]="false"
      [filterable]="false"
      [pinned]="true"
      [disableHiding]="true"
    >
      <ng-template igxCell let-cell="cell">
        <div class="cell-center">
          <div class="d-flex gap-3">
            <a
              [title]="'Преглед'"
              [routerLink]="[
                '/pages/administrations-ext/preview',
                cell.rowData.id
              ]"
            >
              <nb-icon pack="fa" icon="eye"></nb-icon>
            </a>
            <a
              [title]="'Редактиране'"
              [routerLink]="[
                '/pages/administrations-ext/edit',
                cell.rowData.id
              ]"
            >
              <nb-icon pack="fa" icon="pen"></nb-icon>
            </a>
          </div>
        </div>
      </ng-template>
    </igx-column>

    <ng-template #pager let-grid>
      <div class="tl-paginator">
        <cais-grid-pager
          [page]="remoteService.pagerParams.page"
          [perPage]="remoteService.pagerParams.perPage"
          [totalCount]="remoteService.pagerParams.totalCount"
          (pagerChange)="pagerChange($event)"
        ></cais-grid-pager>
      </div>
    </ng-template>
  </igx-grid>
</nb-card>
