<nb-card>
  <div class="p-3" *ngIf="isNoSanction">
    <h6>Деецът не е наказан съгласно НК.</h6>
    <div *ngIf="!isForPreview">
      Веведените наказания няма да бъдат отразени!
    </div>
  </div>
  <ng-container *ngIf="!isNoSanction">
    <app-grid-with-transactions [gridTransactions]="bulletinSanctionsTransactions">
      <tl-linear-progress [visible]="this.remoteService?.isLoading"></tl-linear-progress>
      <igx-grid #sanctionsGrid [height]="null" [data]="sanctions" [primaryKey]="'id'">
        <igx-grid-toolbar>
          <igx-grid-toolbar-title>
            <span class="fw-bold">Наказания</span>
          </igx-grid-toolbar-title>
          <igx-grid-toolbar-actions>
            <div class="d-flex gap-2">
              <igx-grid-toolbar-hiding class="mt-1"></igx-grid-toolbar-hiding>
              <button *ngIf="!isForPreview" nbButton [status]="'primary'" (click)="onOpenAddSanction()"
                class="addSanctionBtn">
                <i class="fa fa-plus" aria-hidden="true"></i>&nbsp; Добави
              </button>
            </div>
          </igx-grid-toolbar-actions>
        </igx-grid-toolbar>

        <igx-column field="id" header="Идентификатор" [sortable]="false" [dataType]="'string'" [hidden]="true">
        </igx-column>

        <igx-column field="sanctCategoryId" header="Идентификатор на вид наказание" dataType="number" [hidden]="true">
        </igx-column>

        <igx-column field="sanctCategoryName" header="Вид наказание" [sortable]="true" [dataType]="'string'">
        </igx-column>

        <igx-column field="ecrisSanctCategId" header="Идентификатор на обща категория" dataType="number"
          [hidden]="true">
        </igx-column>

        <igx-column field="ecrisSanctCategName" header="Обща категория" [sortable]="true" [dataType]="'string'">
        </igx-column>

        <igx-column field="descr" header="Описание" [sortable]="true" [dataType]="'string'"></igx-column>

        <igx-action-strip #actionstrip>
          <button title="Преглед" igxButton="icon" igxRipple (click)="onOpenPreviewSanction(actionstrip.context)">
            <nb-icon pack="fa" icon="eye"></nb-icon>
          </button>
          <button *ngIf="!isForPreview" title="Редактирай" igxButton="icon" igxRipple
            (click)="onOpenEditSanction(actionstrip.context)">
            <igx-icon>edit</igx-icon>
          </button>
          <button *ngIf="!isForPreview" title="Изтрии" igxButton="icon" igxRipple
            (click)="onDeleteSanction(actionstrip.context)">
            <igx-icon>delete</igx-icon>
          </button>
        </igx-action-strip>
      </igx-grid>
    </app-grid-with-transactions>

    <igx-dialog #sanctionDialogAdd>
      <div class="dialogNewRecord">
        <nb-card>
          <nb-card-header>
            <div class="d-flex justify-content-between">
              <h5 class="fw-bold">Наказание</h5>
              <div class="d-flex align-items-center gap-3">


                <button *ngIf="!isSanctionPreview" nbButton [status]="'primary'" (click)="onAddOrUpdateSanctionRow()"
                  type="button">
                  <nb-icon class="pt-1" pack="far" icon="circle-check"></nb-icon>
                  Потвърди
                </button>

                <button nbButton (click)="onCloseSanctionDilog()" type="button">
                  <nb-icon class="pt-1" pack="far" icon="circle-xmark"></nb-icon>
                  Откажи
                </button>
              </div>
            </div>

          </nb-card-header>

          <nb-card-body class="cais-modal-dialog" id="sanction-dialog" style="max-width: 600px">
            <div class="row mt-2">
              <div class="form-group col-md-12">
                <cais-autocomplete [label]="'Вид наказание'" [inputFormControl]="bulletinSanctionForm.sanctCategoryId"
                  [parentGroup]="bulletinSanctionForm.group" [items]="sanctionCategoriesOptions"
                  [inputName]="'sanctCategoryId'" (selectionChanged)="onSanctionCategoryChange($event)"
                  [appendTo]="'#sanction-dialog'">
                </cais-autocomplete>
              </div>
              <div class="form-group col-md-12">
                <cais-autocomplete [label]="'Обща категория'"
                  [inputFormControl]="bulletinSanctionForm.ecrisSanctCategId" [parentGroup]="bulletinSanctionForm.group"
                  [items]="dbData.ecrisSanctionCategories" [inputName]="'ecrisSanctCategId'" [appendTo]="'#sanction-dialog'">
                </cais-autocomplete>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-md-12">
                <cais-input [type]="'text'" [label]="'Описание'" [inputFormControl]="bulletinSanctionForm.descr"
                  [parentGroup]="bulletinSanctionForm.group" [inputName]="'descr'" [rows]="'2'"
                  [inputType]="'TextArea'">
                </cais-input>
              </div>
            </div>

            <div [ngClass]="{ 'hidden-container': !showProbationData }">
              <div class="font-weight-bold">Пробационни мерки</div>
              <hr />
              <div class="form-group">
                <div class="sanction-prob-grid-wrapper">
                  <app-grid-with-transactions [gridTransactions]="
                      bulletinSanctionForm.probationsTransactions
                    ">
                    <tl-linear-progress [visible]="this.remoteService?.isLoading"></tl-linear-progress>
                    <igx-grid class="custom-grid" #gridBulletinProbation [data]="probations" [height]="null"
                      [primaryKey]="'id'" [rowEditable]="true" [emptyGridTemplate]="emptyTemplate"
                      (onRowDeleted)="onSanctionProbRowDeleted($event)" displayDensity="compact">
                      <igx-grid-toolbar>
                        <igx-grid-toolbar-actions><button *ngIf="!isForPreview && !isSanctionPreview" igxButton="flat"
                            (click)="addNewProbation()">
                            <igx-icon>add</igx-icon> Добави
                          </button></igx-grid-toolbar-actions>
                      </igx-grid-toolbar>

                      <igx-column field="id" header="Идентификатор" [hidden]="true"></igx-column>
                      <igx-column field="sanctionId" header="Идентификатор на наказанието" [hidden]="true"></igx-column>

                      <igx-column field="sanctProbCategId" header="Вид пробационна мярка от Стандарти на ЕИСПП"
                        [editable]="true" [width]="400">
                        <ng-template igxCell let-cell="cell">
                          {{ getSanctionCategoryNameById(cell.value) }}
                        </ng-template>

                        <ng-template igxCellEditor let-cell="cell" let-value>
                          <igx-select
                          [(ngModel)]="cell.editValue"
                          (onClosing)='handleClosing($event,cell)'>
                            <igx-select-item *ngFor="let item of sanctionProbCategoriesOptions" [value]="item.id">
                              {{ item.name }}
                            </igx-select-item>
                          </igx-select>
                        </ng-template>
                      </igx-column> 

                      <igx-column field="sanctProbMeasureId" header="Мерна единица за количество на пробационна мярка"
                        [editable]="true" [width]="200">
                        <ng-template igxCell let-cell="cell">
                          {{ getSanctionProbMeasureNameById(cell.value) }}
                        </ng-template>
                    
                        <ng-template igxCellEditor let-cell="cell" let-value>
                          <igx-select
                          [(ngModel)]="cell.editValue"
                          (onClosing)='handleClosing($event,cell)'>
                            <igx-select-item *ngFor="let item of sanctionProbMeasuresOptions" [value]="item.id">
                              {{ item.name }}
                            </igx-select-item>
                          </igx-select>
                        </ng-template>
                      </igx-column>

                      <igx-column field="sanctProbValue" header="Количество на пробационна мярка" dataType="number">
                      </igx-column>

                      <igx-column-group header="Продължителност">
                        <igx-column field="decisionDurationYears" header="Години" dataType="number"></igx-column>
                        <igx-column field="decisionDurationMonths" header="Месеци" dataType="number"></igx-column>
                        <igx-column field="decisionDurationDays" header="Дни" dataType="number"></igx-column>
                        <igx-column field="decisionDurationHours" header="Часове" dataType="number"></igx-column>
                      </igx-column-group>

                      <ng-template igxRowEditActions let-endRowEdit>
                        <div class="custom-buttons">
                          <button igxButton igxRowEditTabStop (click)="endRowEdit(false)">
                            <igx-icon>clear</igx-icon> Отказ
                          </button>
                          <button igxButton igxRowEditTabStop (click)="endRowEdit(true)">
                            <igx-icon>add</igx-icon> Запис
                          </button>
                        </div>
                      </ng-template>

                      <igx-action-strip #actionstrip *ngIf="!isSanctionPreview">
                        <igx-grid-editing-actions [addRow]="false" [contentEditable]="true">
                        </igx-grid-editing-actions>
                      </igx-action-strip>
                    </igx-grid>
                  </app-grid-with-transactions>

                  <ng-template #emptyTemplate> </ng-template>
                </div>
              </div>
            </div>

            <ng-container *ngIf="showFineData">
              <div class="row">
                <div class="form-group col-md-6">
                  <cais-input [type]="'number'" [label]="'Размер на наложеното наказание - глоба'"
                    [inputFormControl]="bulletinSanctionForm.fineAmount" [parentGroup]="bulletinSanctionForm.group"
                    [inputName]="'fineAmount'">
                  </cais-input>
                </div>
              </div>
            </ng-container>

            <ng-container *ngIf="!showProbationData && !showFineData">
              <div class="card bg-transparent mt-3">
                <div class="card-body">
                  <h6 class="card-title">Срок на наложеното наказание</h6>
                  <div class="row mt-2 ml-2">
                    <div class="row">
                      <div class="col-md-3 duration-container">
                        <cais-input [label]="'Години'" [type]="'number'" [inputFormControl]="
                            bulletinSanctionForm.decisionDurationYears
                          " [parentGroup]="bulletinSanctionForm.group" [inputName]="'decisionDurationYears'">
                        </cais-input>
                      </div>
                      <div class="col-md-3 duration-container">
                        <cais-input [label]="'Месеци'" [type]="'number'" [inputFormControl]="
                            bulletinSanctionForm.decisionDurationMonths
                          " [parentGroup]="bulletinSanctionForm.group" [inputName]="'decisionDurationMonths'">
                        </cais-input>
                      </div>
                      <div class="col-md-3 duration-container">
                        <cais-input [label]="'Дни'" [type]="'number'" [inputFormControl]="
                            bulletinSanctionForm.decisionDurationDays
                          " [parentGroup]="bulletinSanctionForm.group" [inputName]="'decisionDurationDays'">
                        </cais-input>
                      </div>
                      <div class="col-md-3 duration-container">
                        <cais-input [label]="'Часове'" [type]="'number'" [inputFormControl]="
                            bulletinSanctionForm.decisionDurationHours
                          " [parentGroup]="bulletinSanctionForm.group" [inputName]="'decisionDurationHours'">
                        </cais-input>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>
            <ng-container *ngIf="showPrisonData">
              <div class="card bg-transparent mt-3">
                <div class="card-body">
                  <h6 class="card-title"> Продължителност на изпитателния срок</h6>
                  <div class="alert alert-primary" role="alert">
                    Освобождаването от изтърпяване на наказанието и неналагането на
                    наказание съгласно НК, както и условното осъждане по чл. 66 ал.1
                    или чл.69, ал1 НК, при което се посочва и изпитателният срок.
                  </div>
                  <div class="row">

                    <div class="col-md-3 duration-container">
                      <cais-input [type]="'number'" [label]="'Години'" [inputFormControl]="
                          bulletinSanctionForm.suspentionDurationYears
                        " [parentGroup]="bulletinSanctionForm.group" [inputName]="'suspentionDurationYears'">
                      </cais-input>
                    </div>
                    <div class="col-md-3 duration-container">
                      <cais-input [type]="'number'" [label]="'Месеци'" [inputFormControl]="
                          bulletinSanctionForm.suspentionDurationMonths
                        " [parentGroup]="bulletinSanctionForm.group" [inputName]="'suspentionDurationMonths'">
                      </cais-input>
                    </div>
                    <div class="col-md-3 duration-container">
                      <cais-input [type]="'number'" [label]="'Дни'" [inputFormControl]="
                          bulletinSanctionForm.suspentionDurationDays
                        " [parentGroup]="bulletinSanctionForm.group" [inputName]="'suspentionDurationDays'">
                      </cais-input>
                    </div>

                  </div>
                  <div class="row">
                    <div class="form-group col-md-12">
                      <cais-input [type]="'text'" [label]="
                          'Приспадането и зачитането на предварителното задържане по чл. 59, ал. 1 НК'
                        " [inputFormControl]="bulletinSanctionForm.detenctionDescr"
                        [parentGroup]="bulletinSanctionForm.group" [inputName]="'detenctionDescr'" [rows]="'2'"
                        [inputType]="'TextArea'">
                      </cais-input>
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>
          </nb-card-body>
        </nb-card>
      </div>
    </igx-dialog>
  </ng-container>
</nb-card>