<nb-card class="card-single-page-height" [formGroup]="fullForm.group">
  <nb-card-header class="card-header-shadow">
    <cais-card-header
      [label]="displayTitle"
      [onSaveFunction]="submitFunction"
      [onCancelFunction]="globalCancelFunction"
      [setForPreview]="isForPreview"
    ></cais-card-header>
  </nb-card-header>
  <nb-card-body class="overflow-scroll">
    <form autocomplete="off">
      <cais-person-form
        [personForm]="fullForm"
        [isEditable]="true"
        [personAliasTypes]="dbData.personAliasTypes"
        [genderTypes]="dbData.genderTypes"
        [countries]="dbData.countries"
        [idDocumentCategoryTypes]="dbData.idDocumentCategoryTypes"
      >
      </cais-person-form>
    </form>
  </nb-card-body>
</nb-card>
