<nb-card class="card-single-page-height" accent="primary" [formGroup]="form.group">
  <nb-card-header class="card-header-shadow">
    <div class="d-flex" style="justify-content: space-between">
      <div class="d-flex align-items-center">
        <h2 class="h4">{{ title }}</h2>
      </div>
      <div class="d-flex">

        <button (click)="onSearch()" nbButton status="primary" type="button">
          <nb-icon class="pt-1" [icon]="'search'" pack="fa" title="Търсене"></nb-icon> Търсене
        </button>

      </div>
    </div>
  </nb-card-header>
  <nb-card-body class="overflow-scroll">
    <form autocomplete="off">
      <div class="row">
        <div class="form-group col-md-3">
          <cais-autocomplete [label]="'Бюро съдимост'" [inputFormControl]="form.authority" [parentGroup]="form.group"
            [inputName]="'authority'" [items]="authorities"></cais-autocomplete>
        </div>
        <div class="form-group col-md-3">
          <cais-input [type]="'date'" [label]="'От'" [inputFormControl]="form.fromDate" [parentGroup]="form.group">
          </cais-input>
        </div>
        <div class="form-group col-md-3">
          <cais-input [type]="'date'" [label]="'До'" [inputFormControl]="form.toDate" [parentGroup]="form.group">
          </cais-input>
        </div>
      </div>
    </form>

    <div class="container">
      <!-- <ng-container *ngIf="showChart">
        <div class="row" style="min-height: 300px; align-items: center">
          <div class="legend col-md-3">
            <igx-item-legend orientation="Vertical" name="Legend" #legend>
            </igx-item-legend>
          </div>
          <div class="container fill col-md-9">
            <igx-pie-chart
              [dataSource]="data"
              labelMemberPath="objectType"
              valueMemberPath="count"
              (sliceClick)="itemSelection($event)"
              [legend]="legend"
              legendLabelMemberPath="objectType"
              labelsPosition="BestFit"
              radiusFactor="0.7"
            >
            </igx-pie-chart>
          </div>
        </div>
      </ng-container> -->
      <ng-container *ngIf="showGrid">
        <div class="grid">
          <igx-grid [height]="null" #dataGrid [data]="data">
            <igx-column field="objectType" header="Тип" [cellClasses]="condClasses"></igx-column>
            <igx-column field="count" header="Брой" [cellClasses]="condClasses">
            </igx-column>
          </igx-grid>
        </div>
      </ng-container>
    </div>
  </nb-card-body>
</nb-card>