<nb-card class="card-single-page-height" [formGroup]="fullForm.group">
  <nb-card-header class="card-header-shadow">
    <cais-card-header
      [label]="displayTitle"
      [onSaveFunction]="submitFunction"
      [onCancelFunction]="globalCancelFunction"
      [onDeleteFunction]="deleteFunction"
      [setforDelete]="true"
    ></cais-card-header>
  </nb-card-header>
  <nb-card-body class="overflow-scroll">
    <form autocomplete="off">
      <div class="font-weight-bold">Данни за сведението</div>
      <hr />
      <div class="row">
        <div class="form-group col-md-4">
          <cais-autocomplete
            [label]="'Източник'"
            [inputFormControl]="fullForm.docTypeId"
            [parentGroup]="fullForm.group"
            [inputName]="'docTypeId'"
            [items]="dbData.docTypeId"
            *ngIf="isForPreview || isForEdit"
          >
          </cais-autocomplete>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-md-4">
          <cais-lookup
            [label]="'Държава'"
            [inputControl]="fullForm.countryLookup"
            [parentGroup]="fullForm.countryLookup.group"
            [openFunction]="openCountryDialog"
          >
          </cais-lookup>
        </div>
        <div class="form-group col-md-3">
          <cais-input
            [type]="'date'"
            [label]="'Дата на получаване'"
            [inputFormControl]="fullForm.receiveDate"
            [parentGroup]="fullForm.group"
          ></cais-input>
        </div>
        <div class="form-group col-md-3">
          <cais-input
            [type]="'date'"
            [label]="'Дата на издаване'"
            [inputFormControl]="fullForm.issueDate"
            [parentGroup]="fullForm.group"
          ></cais-input>
        </div>
      </div>

      <div class="font-weight-bold">Данни за лицето</div>
      <hr />
      <cais-person-form
        [personForm]="fullForm.person"
        [genderTypes]="dbData.genderTypes"
        [countries]="dbData.countries"
        [contextType]="PersonContextEnum.Fbbc"
      >
      </cais-person-form>

      <div class="font-weight-bold">Наказание</div>
      <hr />
      <div class="row">
        <div class="form-group col-md-3">
          <cais-autocomplete
            [label]="'Вид'"
            [inputFormControl]="fullForm.sanctionTypeId"
            [parentGroup]="fullForm.group"
            [inputName]="'sanctionTypeId'"
            [items]="dbData.sanctTypes"
          >
          </cais-autocomplete>
        </div>
      </div>
      <div class="font-weight-bold">Присъда</div>
      <hr />
      <div class="row">
        <div class="form-group col-md-3">
          <cais-input
            [type]="'date'"
            [label]="'Дата на присъда'"
            [inputFormControl]="fullForm.convDecisionDate"
            [parentGroup]="fullForm.group"
          ></cais-input>
        </div>
        <div class="form-group col-md-3">
          <cais-input
            [type]="'date'"
            [label]="'Дата на крайната присъда'"
            [inputFormControl]="fullForm.convDecFinalDate"
            [parentGroup]="fullForm.group"
          ></cais-input>
        </div>
      </div>
      <div class="font-weight-bold">Престъпление</div>
      <hr />
      <div class="row">
        <div class="form-group col-md-3">
          <cais-input
            [type]="'date'"
            [label]="'Начална дата на престъплението'"
            [inputFormControl]="fullForm.offenceStartDate"
            [parentGroup]="fullForm.group"
          ></cais-input>
        </div>
        <div class="form-group col-md-3">
          <cais-input
            [type]="'date'"
            [label]="'Крайна дата на престъплението'"
            [inputFormControl]="fullForm.offenceEndDate"
            [parentGroup]="fullForm.group"
          ></cais-input>
        </div>
      </div>

      <div class="row mt-2">
        <div class="col-md-8">
          <div
            class="nb-form-control-container"
            style="
              height: 40px;
              max-width: 100%;
              display: flex;
              align-items: center;
            "
          >
            <nb-checkbox [formControl]="fullForm.isAdministrative"
              >лицето е освободено от наказателна отговорност и е наложено
              административно наказание по чл.78а от НК</nb-checkbox
            >
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-md-9">
          <cais-input
            [type]="'text'"
            [label]="'Анотация'"
            [inputFormControl]="fullForm.annotation"
            [parentGroup]="fullForm.group"
            [inputType]="InputTypeConstants.TextArea"
            [rows]="3"
          ></cais-input>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-md-3">
          <cais-input
            [type]="'text'"
            [label]="'ID на присъда от ECRIS'"
            [inputFormControl]="fullForm.ecrisConvId"
            [parentGroup]="fullForm.group"
            [hidden]="fullForm.docTypeId.value !== docType"
          ></cais-input>
        </div>
      </div>

      <cais-fbbc-document-form
        #fbbcDocuments
        [fbbcForm]="fullForm"
        [showAddDeleteButton]="
          (isEdit() && !isForPreview) || (!isEdit() && isForPreview)
        "
        [documents]="dbData.documents"
        [dbData]="dbData"
      >
      </cais-fbbc-document-form>

      <div
        class="form-group mt-3"
        [hidden]="fullForm.docTypeId.value !== docType"
      >
        <igx-grid
          #ecrisMessages
          igxGridState
          [data]="dbData.ecrisMessages"
          [height]="null"
          [primaryKey]="'id'"
          [pinning]="pinningConfig"
        >
          <igx-grid-toolbar>
            <igx-grid-toolbar-title
              >Свързани съобщения от ЕКРИС</igx-grid-toolbar-title
            >
          </igx-grid-toolbar>

          <igx-column
            field="id"
            header="id"
            [sortable]="true"
            [dataType]="'string'"
            [hidden]="true"
          >
            <ng-template igxCell let-cell="cell">
              <span [title]="cell.value">{{ cell.value }}</span>
            </ng-template>
          </igx-column>

          <igx-column
            field="ecrisIdentifier"
            header="ECRIS Идентификатор"
            [sortable]="true"
            [dataType]="'string'"
            [hidden]="false"
          >
            <ng-template igxCell let-cell="cell">
              <span [title]="cell.value">{{ cell.value }}</span>
            </ng-template>
          </igx-column>

          <igx-column
            field="identifier"
            header="Индетификатор"
            [sortable]="true"
            [dataType]="'string'"
            [hidden]="false"
          >
            <ng-template igxCell let-cell="cell">
              <span [title]="cell.value">{{ cell.value }}</span>
            </ng-template>
          </igx-column>

          <igx-column
            field="msgTimestamp"
            header="Дата"
            [sortable]="true"
            [dataType]="'date'"
            [formatter]="this.dateFormatService.formatDate"
          >
            <ng-template igxCell let-cell="cell">
              <span
                [title]="this.dateFormatService.displayDateTime(cell.value)"
              >
                {{ this.dateFormatService.displayDateTime(cell.value) }}
              </span>
            </ng-template>
          </igx-column>

          <igx-column
            field="firstname"
            header="Име"
            [sortable]="true"
            [dataType]="'string'"
            [hidden]="false"
          >
            <ng-template igxCell let-cell="cell">
              <span [title]="cell.value">{{ cell.value }}</span>
            </ng-template>
          </igx-column>

          <igx-column
            field="surname"
            header="Презиме"
            [sortable]="true"
            [dataType]="'string'"
            [hidden]="false"
          >
            <ng-template igxCell let-cell="cell">
              <span [title]="cell.value">{{ cell.value }}</span>
            </ng-template>
          </igx-column>

          <igx-column
            field="familyname"
            header="Фамилия"
            [sortable]="true"
            [dataType]="'string'"
            [hidden]="false"
          >
            <ng-template igxCell let-cell="cell">
              <span [title]="cell.value">{{ cell.value }}</span>
            </ng-template>
          </igx-column>

          <igx-column
            width="100px"
            header=""
            [sortable]="false"
            [filterable]="false"
            [pinned]="true"
          >
            <ng-template igxCell let-cell="cell">
              <a
                [title]="'Преглед'"
                (click)="getDocument(cell.rowData.id)"
              >
                <nb-icon pack="fa" icon="eye"></nb-icon>
              </a>
              <a
                [title]="'Редактиране'"
                [routerLink]="[
                  '/pages/ecris-identification/edit',
                  cell.rowData.id
                ]"
              >
                <nb-icon pack="fa" icon="pen"></nb-icon>
              </a>
            </ng-template>
          </igx-column>
        </igx-grid>
      </div>
    </form>
  </nb-card-body>
</nb-card>
