<igx-grid
  #grid
  igxGridState
  [data]="items$ | async"
  [height]="null"
  [filterStrategy]="noopFilterStrategy"
  [sortStrategy]="noopSortStrategy"
  [paging]="true"
  [clipboardOptions]="{ copyHeaders: false }"
  [displayDensity]="'cosy'"
  (onSortingDone)="sortingDone($event)"
  (onFilteringDone)="filteringDone($event)"
  (onSelection)="cellSelection($event)"
  [paginationTemplate]="pager"
  [allowFiltering]="true"
  [primaryKey]="'id'"
  [pinning]="pinningConfig"
  [cellSelection]="'none'"
>
  <igx-column
    field="id"
    header="Идентификатор"
    [sortable]="true"
    [dataType]="'string'"
    [hidden]="true"
  >
    <ng-template igxCell let-cell="cell">
      <span [title]="cell.value">{{ cell.value }}</span>
    </ng-template>
  </igx-column>

  <igx-column
    field="msgDateTime"
    [sortable]="true"
    header="Получено на"
    dataType="Date"
    [formatter]="this.dateFormatService.formatDate"
  >
    <ng-template igxCell let-cell="cell">
      <span [title]="this.dateFormatService.displayDate(cell.value)">
        {{ this.dateFormatService.displayDate(cell.value) }}
      </span>
    </ng-template>
  </igx-column>
  <igx-column
    field="decisionInfo"
    header="Акт"
    [sortable]="true"
    [dataType]="'string'"
  >
    <ng-template igxCell let-cell="cell">
      <span [title]="cell.value">{{ cell.value }}</span>
    </ng-template>
  </igx-column>

  <igx-column
    field="caseInfo"
    header="Дело"
    [sortable]="true"
    [dataType]="'string'"
  >
    <ng-template igxCell let-cell="cell">
      <span [title]="cell.value">{{ cell.value }}</span>
    </ng-template>
  </igx-column>
  <igx-column
    field="sanctionStartDate"
    [sortable]="true"
    header="Начална дата"
    dataType="Date"
    [formatter]="this.dateFormatService.formatDate"
  >
    <ng-template igxCell let-cell="cell">
      <span [title]="this.dateFormatService.displayDate(cell.value)">
        {{ this.dateFormatService.displayDate(cell.value) }}
      </span>
    </ng-template>
  </igx-column>
  <igx-column
    field="sanctionEndDate"
    [sortable]="true"
    header="Крайна дата"
    dataType="Date"
    [formatter]="this.dateFormatService.formatDate"
  >
    <ng-template igxCell let-cell="cell">
      <span [title]="this.dateFormatService.displayDate(cell.value)">
        {{ this.dateFormatService.displayDate(cell.value) }}
      </span>
    </ng-template>
  </igx-column>

  <igx-column
    header=""
    [sortable]="false"
    [filterable]="false"
    [pinned]="true"
    [width]="'5%'"
  >
    <ng-template igxCell let-cell="cell">
      <a
        [title]="'Преглед'"
        [routerLink]="['/pages/isin-data/preview', cell.rowData.id]"
      >
        <nb-icon pack="fa" icon="eye"></nb-icon>
      </a>
    </ng-template>
  </igx-column>

  <ng-template #pager let-grid>
    <div class="tl-paginator">
      <cais-grid-pager
        [page]="remoteService.pagerParams.page"
        [perPage]="remoteService.pagerParams.perPage"
        [totalCount]="remoteService.pagerParams.totalCount"
        (pagerChange)="pagerChange($event)"
      ></cais-grid-pager>
    </div>
  </ng-template>
</igx-grid>
