.page-select {
  margin: 2px;
}

.pager-text {
  font-size: 14px;
}

.pages-display {
  margin-top: 0px;
}

.pager {
  padding-left: 15px;
  padding-right: 15px;
}

.cais-pager-container {
  margin: 10px;
}