<div class="d-flex">
  <div class="p-2" *ngIf="excelReference">
    <tl-reference-button  [routeReference]="excelReference" [buttonType]="''">
    </tl-reference-button>
  </div>
  <div class="p-2 flex-grow-1">

    <div class="d-flex justify-content-center align-items-center">
      <nb-select [(ngModel)]="this.perPage" (selectedChange)="selectChange($event)">
        <nb-option [value]="val" *ngFor="let val of [5, 10, 15, 20, 25] | paginatorOptions">
          {{ val }} записа на страница
        </nb-option>
      </nb-select>
      <div class="d-flex justify-content-center align-items-center ml-1">
        <button [disabled]="firstPage" (click)="paginate(0)" igxButton="icon" igxRipple igxRippleCentered="true">
          <igx-icon fontSet="material">first_page</igx-icon>
        </button>
        <button class="mr-1" [disabled]="firstPage" (click)="previousPage()" igxButton="icon" igxRipple
          igxRippleCentered="true">
          <igx-icon fontSet="material">chevron_left</igx-icon>
        </button>
        <span class="pages-display">{{ page + 1 }} от {{ totalPages }}</span>
        <button class="ml-1" [disabled]="lastPage" (click)="nextPage()" igxRipple igxRippleCentered="true"
          igxButton="icon">
          <igx-icon fontSet="material">chevron_right</igx-icon>
        </button>
        <button [disabled]="lastPage" (click)="paginate(totalPages - 1)" igxButton="icon" igxRipple
          igxRippleCentered="true">
          <igx-icon fontSet="material">last_page</igx-icon>
        </button>
      </div>
  
    </div>
  </div>
</div>