@using MJ_CAIS.Common
@using MJ_CAIS.Common.Resources
@using MJ_CAIS.WebPortal.External.Controllers
@using MJ_CAIS.WebPortal.External.Models.Application
@using MJ_CAIS.WebPortal.External.Models.Reports
@using Infragistics.Web.Mvc
@using MJ_CAIS.WebPortal.External.Utils

@model PersonSearchModel

@{
    var title = "Търсене на лица";
    ViewData["Title"] = title;
    var dataSource = Url.Action("AjaxPersonSearch", "Reports");
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header h5 bg-primary text-white">@title</div>
                <div class="card-body">
                    <div class="alert pt-0 pb-0 alert-primary text-center" role="alert">
                        Резултатът от търсенето е ограничен до 50 записа!
                    </div>
                    <div class="row g-3">
                        <form id="form" method="post" autocomplete="off">
                            <div class="row g-1">
                                <div class="col-md-3">
                                    <label asp-for="Firstame" class="form-label fw-bold"></label>
                                    <input asp-for="Firstame" class="form-control" />
                                    <span asp-validation-for="Firstame" class="text-danger"></span>
                                </div>
                                <div class="col-md-3">
                                    <label asp-for="Surname" class="form-label fw-bold"></label>
                                    <input asp-for="Surname" class="form-control" />
                                    <span asp-validation-for="Surname" class="text-danger"></span>
                                </div>
                                <div class="col-md-3">
                                    <label asp-for="Familyname" class="form-label fw-bold"></label>
                                    <input asp-for="Familyname" class="form-control" />
                                    <span asp-validation-for="Familyname" class="text-danger"></span>
                                </div>
                                <div class="col-md-3">
                                    <label asp-for="Fullname" class="form-label fw-bold"></label>
                                    <input asp-for="Fullname" class="form-control" />
                                    <span asp-validation-for="Fullname" class="text-danger"></span>
                                </div>
                                <div class="col-md-3">
                                    <label asp-for="EGN" class="form-label fw-bold"></label>
                                    <input asp-for="EGN" class="form-control" />
                                    <span asp-validation-for="EGN" class="text-danger"></span>
                                </div>
                                <div class="col-md-3">
                                    <label asp-for="LNCH" class="form-label fw-bold"></label>
                                    <input asp-for="LNCH" class="form-control" />
                                    <span asp-validation-for="LNCH" class="text-danger"></span>
                                </div>
                                <div class="col-md-3 align-self-end">
                                    <button name="load" id="load" class="col-8 btn btn-primary" type="button">Зареди критерии</button>
                                    <div id="loadSpinner" class="col-2 spinner-border text-primary" role="status">
                                        <span class="sr-only"></span>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <label asp-for="Birthdate" class="form-label fw-bold"></label>
                                    <input asp-for="Birthdate" class="form-control" />
                                    <span asp-validation-for="Birthdate" class="text-danger"></span>
                                </div>
                                <div class="col-12 d-flex justify-content-end gap-2">
                                    <button id="search2" class="btn btn-primary btn-lg" type="button">Търсене</button>
                                </div>
                            </div>
                        </form>
                        <partial name="_InfragisticsLoader" />
                        @(Html.Infragistics()
                        .Grid(Model.CriminalRecordsPerson.AsQueryable())
                        .ID("PersonsGridModel")
                        .Width("100%")
                        .AutoGenerateColumns(false)
                        .AutofitLastColumn(false)
                        .Columns(column =>
                        {
                        column.For(x => x.Pids).RowIndex(0).ColSpan(2).ColumnIndex(0).HeaderText("Идентификатори").Width("25%");
                        column.For(x => x.Sex).RowIndex(1).ColumnIndex(0).HeaderText("Пол").Width("10%");
                        column.For(x => x.BirthDate).RowIndex(1).ColumnIndex(1).HeaderText("Дата на раждане");
                        column.For(x => x.MatchText).RowIndex(2).ColumnIndex(0).ColSpan(4).HeaderText("Идентифицирано лице по");
                        column.For(x => x.PersonNames).RowIndex(0).ColumnIndex(2).RowSpan(2).HeaderText("Имена");
                        column.For(x => x.MotherNames).RowIndex(0).ColumnIndex(3).HeaderText("Майка");
                        column.For(x => x.FatherNames).RowIndex(1).ColumnIndex(3).HeaderText("Баща");
                        column.For(x => x.ActionTemplate).RowIndex(0).ColumnIndex(4).RowSpan(3).HeaderText("").Width("10%");

                        })
                        .Features(features =>
                        {
                        })
                        .DataSourceUrl(dataSource + "?isInitialSearch=true")
                        .Render())
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script type="text/javascript">
        $(document).ready(function() {
            $("#load").prop('disabled', true);
            $("#loadSpinner").prop('hidden', true);
            $("#EGN").keyup(function() {
                if ($("#EGN").val().length != 0 || $("#LNCH").val().length != 0) {
                    $("#load").prop('disabled', false);
                } else {
                    $("#load").prop('disabled', true);
                }
            });
            $("#LNCH").keyup(function() {
                if ($("#EGN").val().length != 0 || $("#LNCH").val().length != 0) {
                    $("#load").prop('disabled', false);
                } else {
                    $("#load").prop('disabled', true);
                }
            });
            $("#load").click(function() {
                var loadData = {};
                loadData.EGN = $("#EGN").val();
                loadData.LNCH = $("#LNCH").val();
                $("#loadSpinner").prop('hidden', false);
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("LoadSearchData")',
                    data: JSON.stringify(loadData),
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function(data) {
                        $("#Firstame").val(data.firstname);
                        $("#Surname").val(data.surname);
                        $("#Familyname").val(data.familyname);
                        $("#Fullname").val(data.fullname);
                        $("#LNCH").val(data.lnch);
                        $("#EGN").val(data.egn);
                        if (data.birthDate) {
                            $("#Birthdate").val(data.birthDate.split('T')[0]);
                        }
                        $("#loadSpinner").prop('hidden', true);
                    }
                });
            });
            $("#search2").click(function() {
                var form = $("#form");
                $.validator.unobtrusive.parse(form);
                form.validate();
                if (form.valid()) {
                    let queryString = new URLSearchParams(new FormData(document.querySelector("#form"))).toString();
                    $('#PersonsGridModel').igGrid('option', 'dataSource', '@dataSource' + '?' + queryString);

                }
            });
        });
    </script>

}