@using MJ_CAIS.Common
@using MJ_CAIS.Common.Resources
@using MJ_CAIS.WebPortal.External.Controllers
@using MJ_CAIS.WebPortal.External.Models.Application
@using MJ_CAIS.WebPortal.External.Models.Reports
@using Infragistics.Web.Mvc
@using MJ_CAIS.WebPortal.External.Utils

@model PersonSearchModel

@{
    var title = "Търсене на лица";
    ViewData["Title"] = title;
    var dataSource = Url.Action("AjaxPersonSearch", "Reports");
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header h5 bg-primary text-white">@title</div>
                <div class="card-body">
                    <div class="row g-3">
                        <form id="form" method="post" autocomplete="off">
                            <div class="row g-3">
                                <div class="col-md-3">
                                    <label asp-for="Firstame" class="form-label fw-bold"></label>
                                    <input asp-for="Firstame" class="form-control" />
                                    <span asp-validation-for="Firstame" class="text-danger"></span>
                                </div>
                                <div class="col-md-3">
                                    <label asp-for="Surname" class="form-label fw-bold"></label>
                                    <input asp-for="Surname" class="form-control" />
                                    <span asp-validation-for="Surname" class="text-danger"></span>
                                </div>
                                <div class="col-md-3">
                                    <label asp-for="Familyname" class="form-label fw-bold"></label>
                                    <input asp-for="Familyname" class="form-control" />
                                    <span asp-validation-for="Familyname" class="text-danger"></span>
                                </div>
                                <div class="col-md-3">
                                    <label asp-for="Fullname" class="form-label fw-bold"></label>
                                    <input asp-for="Fullname" class="form-control" />
                                    <span asp-validation-for="Fullname" class="text-danger"></span>
                                </div>
                                <div class="col-md-3">
                                    <label asp-for="BirthDatePrec" class="form-label fw-bold required"></label>
                                    @Html.DropDownListFor(model => model.BirthDatePrec, Model.BirthDatePrecList,
                                    new { @class = "form-select"})
                                    <span asp-validation-for="BirthDatePrec" class="text-danger"></span>
                                </div>
                                <div class="col-md-3">
                                    <label asp-for="Birthdate" class="form-label fw-bold"></label>
                                    <input asp-for="Birthdate" class="form-control" />
                                    <span asp-validation-for="Birthdate" class="text-danger"></span>
                                </div>
                                <div class="col-md-3">
                                    <label asp-for="BirthCountry" class="form-label fw-bold"></label>
                                    <input asp-for="BirthCountry" class="form-control" />
                                    <span asp-validation-for="BirthCountry" class="text-danger"></span>
                                </div>
                                <div class="col-md-3">
                                    <label asp-for="Birthplace" class="form-label fw-bold"></label>
                                    <input asp-for="Birthplace" class="form-control" />
                                    <span asp-validation-for="Birthplace" class="text-danger"></span>
                                </div>
                                <hr />
                                <div class="col-md-6">
                                    <label asp-for="LawReason" class="form-label fw-bold required"></label>
                                    <textarea asp-for="LawReason" type="text" class="form-control" required rows="2"></textarea>
                                    <span asp-validation-for="LawReason" class="text-danger"></span>
                                </div>
                                <div class="col-md-6">
                                    <label asp-for="Remark" class="form-label fw-bold"></label>
                                    <textarea asp-for="Remark" type="text" class="form-control" rows="2"></textarea>
                                    <span asp-validation-for="Remark" class="text-danger"></span>
                                </div>
                                <div class="col-12 d-flex justify-content-end gap-2">
                                    <button id="search2" class="btn btn-primary btn-lg" type="button">Търсене</button>
                                </div>
                            </div>
                        </form>
                        <partial name="_InfragisticsLoader" />
                        @(Html.Infragistics()
                        .Grid(Model.CriminalRecordsPerson.AsQueryable())
                        .ID("PersonsGridModel")
                        .Width("100%")
                        .AutoGenerateColumns(false)
                        .AutoGenerateLayouts(false)
                        .Columns(column =>
                        {
                        column.For(x => x.FirstNameBg).Hidden(true);
                        column.For(x => x.SurNameBg).Hidden(true);
                        column.For(x => x.FamilyNameBg).Hidden(true);
                        column.For(x => x.FullNameBg).Hidden(true);
                        column.For(x => x.FirstNameEn).Hidden(true);
                        column.For(x => x.SurNameEn).Hidden(true);
                        column.For(x => x.FamilyNameEn).Hidden(true);
                        column.For(x => x.FullNameEn).Hidden(true);
                        column.For(x => x.MotherNames).Hidden(true);
                        column.For(x => x.FatherNames).Hidden(true);
                        column.For(x => x.BirthPlaceDescr).Hidden(true);
                        column.For(x => x.CityName).Hidden(true);
                        column.For(x => x.CountryName).Hidden(true);
                        column.Unbound("Names").HeaderText("Имена").Template("<span title=\"${FirstNameBg} ${SurNameBg} ${FamilyNameBg} ${FullNameBg} ${FirstNameEn} ${SurNameEn} ${FamilyNameEn} ${FullNameEn}\">${FirstNameBg} ${SurNameBg} ${FamilyNameBg} ${FullNameBg}</br>${FirstNameEn} ${SurNameEn} ${FamilyNameEn} ${FullNameEn}</span>").Width("25%");
                        column.Unbound("Parents").HeaderText("Родители").Template("<span title=\"${MotherNames} ${FatherNames}\">${MotherNames}</br>${FatherNames}</span>").Width("25%");
                        column.Unbound("Birthplace").HeaderText("Място на раждане").Template("<span title=\"${CountryName} ${CityName} ${BirthPlaceDescr}\">${CountryName} ${CityName} ${BirthPlaceDescr}</span>").Width("15%");
                       @* column.For(x => x.FirstNameBg).HeaderText("SurName").Width("16%");
                        column.For(x => x.SurNameBg).HeaderText("SurName").Width("16%");
                        column.For(x => x.FamilyNameBg).HeaderText("FamilyName").Width("14%");*@
                       @* column.For(x => x.FirstNameEn).HeaderText("FirstNameЕn").Width("10%");
                        column.For(x => x.SurNameEn).HeaderText("SurNameEn").Width("12%");
                        column.For(x => x.FamilyNameEn).HeaderText("FamilyNameEn").Width("9%");*@
                   @*     column.For(x => x.CountryName).HeaderText("CountryName").Width("18%");
                        column.For(x => x.CityName).HeaderText("CityName").Width("18%");
                        column.For(x => x.BirthPlaceDescr).HeaderText("BirthplaceDescr").Width("18%");*@
                        column.For(x => x.BirthDate).HeaderText("Дата на раждане").Width("15%");
                        column.For(x => x.EGN).Hidden(true);
                        column.For(x => x.SUID).Hidden(true);
                        column.For(x => x.LNCh).Hidden(true);
                        column.For(x => x.LN).Hidden(true);
                        column.For(x => x.LawReason).Hidden(true);
                        column.For(x => x.Remark).Hidden(true);
                        column.For(x => x.ActionTemplate).HeaderText("").Width("20%");
                        })
                        .Features(features =>
                        {
                        })
                        .DataSourceUrl(dataSource + "?isInitialSearch=true")
                        .Render())
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script type="text/javascript">
        $(document).ready(function() {
            $("#search2").click(function() {
                var form = $("#form");
                $.validator.unobtrusive.parse(form);
                form.validate();
                if (form.valid()) {
                    let queryString = new URLSearchParams(new FormData(document.querySelector("#form"))).toString();
                    $('#PersonsGridModel').igGrid('option', 'dataSource', '@dataSource' + '?' + queryString);

                }
            });
        });
    </script>

}