<nb-card class="card-single-page-height">
  <nb-card-header class="card-header-shadow">
    <div class="d-flex" style="justify-content: space-between">
      <div class="d-flex align-items-center">
        <div style="font-weight: bold; font-size: 22px">
          Настъпили обстоятелства
        </div>
      </div>
    </div>
  </nb-card-header>
  <nb-card-body class="overflow-scroll">
    <nb-tabset #nbtabset (changeTab)="onChangeTab($event)">
      <nb-tab [tabTitle]="articleTabTitle">
        <cais-bulletin-events-article-overview></cais-bulletin-events-article-overview>
      </nb-tab>
      <nb-tab [tabTitle]="documentTabTitle">
        <ng-container *ngIf="showDocumentTab">
          <cais-bulletin-events-document-overview></cais-bulletin-events-document-overview>
        </ng-container>
      </nb-tab>
    </nb-tabset>
  </nb-card-body>
</nb-card>
