<nb-card >
  <nb-card-header class="card-header-shadow">
    <div class="d-flex justify-content-between">
      <div class="d-flex align-items-center">
        <h2 class="h5">Настъпили обстоятелства</h2>
      </div>
    </div>
  </nb-card-header>
  <nb-card-body>
    <nb-tabset #nbtabset (changeTab)="onChangeTab($event)">
      <nb-tab [tabTitle]="articleTabTitle">
        <cais-bulletin-events-article-overview></cais-bulletin-events-article-overview>
      </nb-tab>
      <nb-tab [tabTitle]="documentTabTitle">
        <ng-container *ngIf="showDocumentTab">
          <cais-bulletin-events-document-overview></cais-bulletin-events-document-overview>
        </ng-container>
      </nb-tab>
    </nb-tabset>
  </nb-card-body>
</nb-card>
