<div [formGroup]="formModel.group">
  <div class="row">
    <div class="form-group col-md-4">
      <label for="date" class="label"> {{label || 'Дата'}} </label>
      <ng-select
        #autoControl
        formControlName="precision"
        (change)="onDatePercisionChange($event)"
        (clear)="onDatePercisionChange(undefined)"
      >
        <ng-option *ngFor="let item of items" [value]="item.id">{{
          item.name
        }}</ng-option>
      </ng-select>
    </div>
    <div class="form-group col-md-6">
      <ng-container *ngIf="showFullDate">
        <label class="label">Дата</label>
        <nb-form-field>
          <input
            nbInput
            fullWidth
            [matDatepicker]="formpicker"
            [formControl]="formModel.date"
            [readonly]="isReadOnly"
          />

          <mat-datepicker-toggle
            nbSuffix
            nbButton
            ghost
            [for]="formpicker"
          ></mat-datepicker-toggle>
          <mat-datepicker
            #formpicker
            [disabled]="isReadOnly || formModel.date.disabled"
          ></mat-datepicker>
        </nb-form-field>
      </ng-container>
      <ng-container *ngIf="showYearAndMonth">
        <div class="row">
          <div class="col-md-6">
            <label class="label">Месец</label>
            <input
              pattern="^(0?[1-9]|1[012])$"
              type="number"
              nbInput
              fullWidth
              [ngClass]="validationCss(formModel.month)"
              [formControl]="formModel.month"
            />
          </div>
          <div class="col-md-6">
            <label class="label">Година</label>
            <input
              pattern="^\d{4}$"
              type="number"
              nbInput
              fullWidth
              [ngClass]="validationCss(formModel.year)"
              [formControl]="formModel.year"
            />
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="showYear">
        <label class="label">Година</label>
        <input
          pattern="^\d{4}$"
          type="number"
          nbInput
          fullWidth
          [ngClass]="validationCss(formModel.year)"
          [formControl]="formModel.year"
        />
      </ng-container>
    </div>
  </div>
</div>
