<div [formGroup]="formModel.group">
  <div class="row">
    <div class="form-group col-md-6">
      <label for="date" class="label"> {{ label || "Дата" }} </label>
      <ng-select
        #autoControl
        formControlName="precision"
        (change)="onDatePercisionChange($event)"
        (clear)="onDatePercisionChange(undefined)"
      >
        <ng-option *ngFor="let item of items" [value]="item.id">{{
          item.name
        }}</ng-option>
      </ng-select>
    </div>
    <div class="form-group col-md-6">
      <ng-container *ngIf="showFullDate">
          <cais-input
            [type]="'date'"
            [label]="'Дата'"
            [inputFormControl]="formModel.date"
            [parentGroup]="formModel.group"
            [inputName]="'date'"
          ></cais-input>
      </ng-container>
      <ng-container *ngIf="showYearAndMonth">
        <div class="row">
          <div class="col-md-6">
            <label class="label">Месец</label>
            <input
              pattern="^(0?[1-9]|1[012])$"
              type="number"
              nbInput
              fullWidth
              [ngClass]="validationCss(formModel.month)"
              [formControl]="formModel.month"
            />
          </div>
          <div class="col-md-6">
            <label class="label">Година</label>
            <input
              pattern="^\d{4}$"
              type="number"
              nbInput
              fullWidth
              [ngClass]="validationCss(formModel.year)"
              [formControl]="formModel.year"
            />
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="showYear">
        <label class="label">Година</label>
        <input
          pattern="^\d{4}$"
          type="number"
          nbInput
          fullWidth
          [ngClass]="validationCss(formModel.year)"
          [formControl]="formModel.year"
        />
      </ng-container>
    </div>
  </div>
</div>
