<igx-grid
  #grid
  igxGridState
  [data]="items$ | async"
  [height]="null"
  [filterStrategy]="noopFilterStrategy"
  [paging]="true"
  [clipboardOptions]="{ copyHeaders: false }"
  [displayDensity]="'cosy'"
  [paginationTemplate]="pager"
  [allowFiltering]="false"
  [primaryKey]="'id'"
  [pinning]="pinningConfig"
  [cellSelection]="'none'"
>
  <igx-grid-toolbar>
    <igx-grid-toolbar-title
      ><span class="fw-bold">Лица</span></igx-grid-toolbar-title
    >
    <igx-grid-toolbar-actions>
      <igx-grid-toolbar-hiding></igx-grid-toolbar-hiding>
    </igx-grid-toolbar-actions>
  </igx-grid-toolbar>
  <igx-column
    field="id"
    header="Идентификатор"
    [dataType]="'string'"
    [hidden]="true"
  >
    <ng-template igxCell let-cell="cell">
      <span [title]="cell.value">{{ cell.value }}</span>
    </ng-template>
  </igx-column>

  <igx-column field="pid" header="Идентификатор" [dataType]="'string'">
    <ng-template igxCell let-cell="cell">
      <span [title]="cell.value">{{ cell.value }}</span>
    </ng-template>
  </igx-column>
  <igx-column
    field="pidTypeName"
    header="Тип идентификатор"
    [dataType]="'string'"
  >
    <ng-template igxCell let-cell="cell">
      <span [title]="cell.value">{{ cell.value }}</span>
    </ng-template>
  </igx-column>
  <igx-column field="firstName" header="Име" [dataType]="'string'">
    <ng-template igxCell let-cell="cell">
      <span [title]="cell.value">{{ cell.value }}</span>
    </ng-template>
  </igx-column>
  <igx-column field="surName" header="Презиме" [dataType]="'string'">
    <ng-template igxCell let-cell="cell">
      <span [title]="cell.value">{{ cell.value }}</span>
    </ng-template>
  </igx-column>
  <igx-column field="familyName" header="Фамилия" [dataType]="'string'">
    <ng-template igxCell let-cell="cell">
      <span [title]="cell.value">{{ cell.value }}</span>
    </ng-template>
  </igx-column>
  <igx-column field="fullName" header="Пълно име" [dataType]="'string'">
    <ng-template igxCell let-cell="cell">
      <span [title]="cell.value">{{ cell.value }}</span>
    </ng-template>
  </igx-column>
  <igx-column
    field="birthDate"
    header="Дата на раждане"
    dataType="date"
    [formatter]="this.dateFormatService.formatDate"
  >
    <ng-template igxCell let-cell="cell">
      <span [title]="this.dateFormatService.displayDate(cell.value)">
        {{ this.dateFormatService.displayDate(cell.value) }}
      </span>
    </ng-template>
  </igx-column>

  <igx-column
    width="110px"
    header="Действия"
    [filterable]="false"
    [pinned]="true"
    [disableHiding]="true"
  >
    <ng-template igxCell let-cell="cell">
      <ng-container *ngIf="!isRemindPersonForm">
        <div class="cell-center">
          <button
            igxButton="icon"
            [overlaySettings]="overlaySettings"
            [igxToggleAction]="dropdown"
            [igxDropDownItemNavigation]="dropdown"
          >
            <igx-icon fontSet="material">more_vert</igx-icon>
          </button>
          <igx-drop-down #dropdown>
            <igx-drop-down-item
              [routerLink]="['/pages/people/preview', cell.rowData.id]"
            >
              Детайли
            </igx-drop-down-item>
            <igx-drop-down-item
              [routerLink]="['/pages/bulletins/create']"
              [queryParams]="{ personId: cell.rowData.id }"
            >
              Нов бюлетин
            </igx-drop-down-item>
            <igx-drop-down-item
              [routerLink]="['/pages/applications/create']"
              [queryParams]="{ personId: cell.rowData.id }"
            >
              Ново свидетелство
            </igx-drop-down-item>
            <igx-drop-down-item
              [routerLink]="['/pages/report-applications/create']"
              title="Нова справка за съдимост"
              [queryParams]="{ personId: cell.rowData.id }"
            >
              Нова справка за съдимост
            </igx-drop-down-item>
            <igx-drop-down-item
              [routerLink]="['/pages/people/remind', cell.rowData.id]"
            >
              Нов напомнителен бюлетин
            </igx-drop-down-item>

            <igx-drop-down-item
              [queryParams]="{ personId: cell.rowData.id }"
              [routerLink]="['/pages/internal-requests/create']"
            >
              Нова заявка
            </igx-drop-down-item>
          </igx-drop-down>
        </div>
      </ng-container>
      <ng-container *ngIf="isRemindPersonForm">
        <a
          [title]="'Преглед на лицето'"
          [routerLink]="['/pages/people/preview', cell.rowData.id]"
        >
          <nb-icon pack="fa" icon="eye"></nb-icon>
        </a>

        <button
          igxButton="icon"
          [title]="'Свържи с това лице'"
          (click)="openConnectPeopleDialog(existingPersonId, cell.rowData.id)"
        >
          <i class="fas fa-link"></i>
        </button>
      </ng-container>
    </ng-template>
  </igx-column>

  <ng-template #pager let-grid>
    <div class="tl-paginator">
      <cais-grid-pager
        [page]="remoteService.pagerParams.page"
        [perPage]="remoteService.pagerParams.perPage"
        [excelReference]="excelExportAll"
        [totalCount]="remoteService.pagerParams.totalCount"
        (pagerChange)="pagerChange($event)"
      ></cais-grid-pager>
    </div>
  </ng-template>
</igx-grid>

<div
  class="alert alert-primary m-2 text-center"
  role="alert"
  *ngIf="searchForm?.group.pristine"
>
  Моля, попълтенете критерии за търсене и натиснете бутона
  <span class="fw-bold">Търси</span>.
</div>
<igx-dialog #connectPersonDialog>
  <form autocomplete="off">
    <div class="dialogNewRecord" style="min-width: 500px">
      <nb-card>
        <nb-card-header>Свържи с това лице</nb-card-header>
        <nb-card-body>
          <div class="row">
            <div class="form-group col-md-12">
              <cais-input
                [type]="'text'"
                [label]="'Основание'"
                [inputFormControl]="connectPersonFormGroup.controls.desc"
                [parentGroup]="connectPersonFormGroup"
                [inputName]="'desc'"
                [rows]="'3'"
                [inputType]="'TextArea'"
              >
              </cais-input>
            </div>
          </div>
        </nb-card-body>
        <nb-card-footer>
          <div class="row">
            <div class="col-6">
              <button
                nbButton
                matRipple
                fullWidth
                status="danger"
                (click)="connectPeople()"
              >
                Запис
              </button>
            </div>
            <div class="col-6">
              <button
                nbButton
                matRipple
                fullWidth
                (click)="connectPersonDialog.close()"
              >
                Отказ
              </button>
            </div>
          </div>
        </nb-card-footer>
      </nb-card>
    </div>
  </form>
</igx-dialog>
