@using Microsoft.AspNetCore.Http.Extensions

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MJ_CAIS.WebPortal.Public</title>

    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/jqueryui/jquery-ui.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js" asp-append-version="true"></script>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MJ_CAIS.WebPortal.Public.styles.css" asp-append-version="true" />

    <script src="~/lib/modernizr/modernizr.min.js" asp-append-version="true"></script>
    <script src="~/js/infragistics.loader.js" asp-append-version="true"></script>

    <partial name="_InfragisticsLoader">
</head>
<body>
    <header>
        <div class="container-fluid">
            <div class="cais-headerbar">
                <div class="cais-logo-wrapper">
                    <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                        <img src="@Url.Content("~/images/logo.png")" class="cais-logo" />
                    </a>
                </div>
                <div class="pull-right cais-header-text">
                    <div class="row main-header">
                        Република България
                    </div>
                    <div class="row" style="font-size: 14px;">
                        Министерство на правосъдието  
                    </div>
                    <div class="row" style="line-height: 10px;  font-size: 14px;">
                        ЦАИС "Съдебен статус"
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Публичен портал на ЦАИС
        </div>
    </footer>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
    <script src="~/js/custom/commonUtils.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>