@{
    string projectText = "Създаден в рамките на договор № BG05SFOP001-3.001-0010-C01/23.06.2017 г. по проект: „Реализиране на Централизирана автоматизирана информационна система „Съдебен статус“, финансиран по Оперативна програма „Добро управление“, чрез ЕСФ.";
}
<div class="egov-header">
    <div class="egov-identity">
        <div class="egov-identity-gerb">
            <div>
                <img class="gerb" src="~/logo-gerb.png">
            </div>
            <div class="gerb-text">
                <h6 class="rb-text">Република България</h6>
                <h6 class="daeu-text">Министерство на Правосъдието</h6>
            </div>
        </div>
        <div class="eu-text">
            <span class="eu-text-span">@projectText</span>
        </div>
        <img class="eu-logo" src="~/eu.png" [title]="projectText">
    </div>
    <div class="egov-identity-small">
        <div class="egov-identity-gerb">
            <img class="gerb" src="~/logo-small.gif">
            <div class="gerb-text" igxLayout igxLayoutDir="col" igxLayoutJustify="center">
                <h6 class="daeu-text">Министерство на Правосъдието</h6>
            </div>
        </div>
        <img class="eu-logo" src="~/eu.png" title="@projectText">
    </div>
</div>