<nb-card  [formGroup]="fullForm.group">
  <nb-card-header class="">
    <cais-card-header [label]="'Промяна на парола'" [onSaveFunction]="submitFunction"
      [onCancelFunction]="globalCancelFunction"></cais-card-header>
  </nb-card-header>
  <nb-card-body>
    <form autocomplete="off">
      <div class="row">
        <div class="form-group col-md-12">
          <cais-input [type]="'text'" [label]="'Потребителско име'" [inputFormControl]="fullForm.userName"
            [parentGroup]="fullForm.group" [isReadOnly]="true">
          </cais-input>
          <span class="caption status-danger ng-star-inserted" *ngIf="
          fullForm.userName?.errors?.userNameOrEGN &&
            (fullForm.userName.touched || fullForm.userName.dirty)
          ">
            Потребителите трябва да имат ЕГН и/или потребителско име!
          </span>
        </div>
        <div class="form-group col-md-12">
          <cais-input [type]="'password'" [label]="'Парола'" [inputFormControl]="fullForm.password"
            [parentGroup]="fullForm.group"></cais-input>
        </div>
        <div class="form-group col-md-12">
          <cais-input [type]="'password'" [label]="'Потвърждаване на парола'"
            [inputFormControl]="fullForm.confirmPassword" [parentGroup]="fullForm.group"></cais-input>
        </div>
      </div>
    </form>
  </nb-card-body>
</nb-card>