<app-grid-with-transactions [gridTransactions]="bulletinOffenceTransactions">
  <igx-grid
    #offencesGrid
    #deliveryPropertiesGrid
    [height]="null"
    [data]="dbData.offences"
    [primaryKey]="'id'"
  >
    <igx-grid-toolbar>
      <button
        igxButton="flat"
        (click)="dialogAdd.open()"
        *ngIf="!isForPreview"
        class="addProdBtn"
      >
        <igx-icon>add</igx-icon> Добави
      </button>
    </igx-grid-toolbar>

    <igx-column
      field="id"
      header="Идентификатор"
      [sortable]="false"
      [dataType]="'string'"
      [hidden]="true"
    >
    </igx-column>
    <igx-column
      field="offenceCatId"
      header="Идентификатор на код-национално ниво"
      dataType="number"
      [hidden]="true"
    >
    </igx-column>
    <igx-column
      field="offenceCatName"
      header="Код-националното право"
      [sortable]="true"
      [dataType]="'string'"
    ></igx-column>
    <igx-column
      field="formOfGuilt"
      header="Форма на вината"
      [sortable]="true"
      [dataType]="'string'"
    >
    </igx-column>
    <igx-column
      field="remarks"
      header="Описание на деянието"
      [sortable]="true"
      [dataType]="'string'"
    ></igx-column>
    <igx-column
      field="ecrisOffCatName"
      header="Обща категория"
      [sortable]="true"
      [dataType]="'string'"
    >
    </igx-column>
    <igx-column
      field="legalProvisions"
      header="Правна квалификация"
      [sortable]="true"
      [dataType]="'string'"
    >
    </igx-column>
    <igx-column
      field="offStartDate"
      [sortable]="true"
      header="Начална дата на извършване на деянието"
      dataType="Date"
      [formatter]="this.dateFormatService.formatDate"
    >
      <ng-template igxCell let-cell="cell">
        <span [title]="this.dateFormatService.displayDateTime(cell.value)">
          {{ this.dateFormatService.displayDateTime(cell.value) }}
        </span>
      </ng-template>
    </igx-column>
    <igx-column
      field="offEndDate"
      [sortable]="true"
      header="Крайна дата на извършване на деянието"
      dataType="Date"
      [formatter]="this.dateFormatService.formatDate"
    >
      <ng-template igxCell let-cell="cell">
        <span [title]="this.dateFormatService.displayDateTime(cell.value)">
          {{ this.dateFormatService.displayDateTime(cell.value) }}
        </span>
      </ng-template>
    </igx-column>
    <igx-column
      field="occurrences"
      header="Колко пъти е извършено"
      [sortable]="true"
      [dataType]="'number'"
    >
    </igx-column>
    <igx-column
      field="isContiniuous"
      header="Непрекъснато извършвано престъпление"
      [sortable]="true"
      [dataType]="'boolean'"
    >
    </igx-column>
    <igx-column
      field="respExemption"
      header="Освобождаване от наказателна отговорност"
      [sortable]="true"
      [dataType]="'boolean'"
    >
    </igx-column>
    <igx-column
      field="recidivism"
      header="Рецидивизъм"
      [sortable]="true"
      [dataType]="'boolean'"
    >
    </igx-column>
    <igx-column
      field="offLvlComplId"
      header="Идентификатор на степен на довършване"
      [sortable]="true"
      [dataType]="'text'"
      [hidden]="true"
    >
    </igx-column>
    <igx-column
      field="offLvlComplName"
      header="Степен на довършване"
      [sortable]="true"
      [dataType]="'text'"
    >
    </igx-column>
    <igx-column
      field="offLvlPartId"
      header="Идентификатор на степен на участие"
      [sortable]="true"
      [dataType]="'text'"
      [hidden]="true"
    >
    </igx-column>
    <igx-column
      field="offLvlPartName"
      header="Степен на участие"
      [sortable]="true"
      [dataType]="'text'"
    >
    </igx-column>

    <igx-action-strip #actionstrip>
      <button
        title="Редактирай"
        igxButton="icon"
        igxRipple
        (click)="onOpenEditBulletinOffence(actionstrip.context)"
      >
        <igx-icon>edit</igx-icon>
      </button>
      <button
        title="Изтрии"
        igxButton="icon"
        igxRipple
        (click)="onDeleteBulletinOffence(actionstrip.context)"
      >
        <igx-icon>delete</igx-icon>
      </button>
    </igx-action-strip>
  </igx-grid>
</app-grid-with-transactions>
<igx-dialog #dialogAdd>
  <div class="dialogNewRecord" style="min-width: 1000px">
    <nb-card>
      <nb-card-header>
        <div class="d-flex" style="justify-content: space-between">
          <div class="d-flex align-items-center">
            <h5 style="font-weight: bold">Престъпление</h5>
          </div>
          <div class="d-flex">
            <div>
              <button
                nbButton
                matRipple
                [status]="'success'"
                (click)="onAddOrUpdateBulletineOffenceRow()"
                type="button"
                class="ml-2"
              >
                Потвърди
              </button>
            </div>
            <div>
              <button
                nbButton
                matRipple
                (click)="onCloseBulletinOffenceDilog()"
                type="button"
                class="ml-2"
              >
                Откажи
              </button>
            </div>
          </div>
        </div>
      </nb-card-header>
      <nb-card-body>
        <div class="row mt-2">
          <div class="form-group col-md-8">
            <cais-autocomplete
              [label]="'Код-националното право'"
              [inputFormControl]="bulletinOffenceForm.offenceCatId"
              [parentGroup]="bulletinOffenceForm.group"
              [items]="dbData.offencesCategories"
              [inputName]="'offenceCatId'"
            >
            </cais-autocomplete>
          </div>
          <div class="form-group col-md-4">
            <cais-input
              [type]="'text'"
              [label]="'Форма на вината'"
              [inputFormControl]="bulletinOffenceForm.formOfGuilt"
              [parentGroup]="bulletinOffenceForm.group"
              [inputName]="'formOfGuilt'"
            ></cais-input>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-12">
            <cais-input
              [type]="'text'"
              [label]="'Описание на деянието'"
              [inputFormControl]="bulletinOffenceForm.remarks"
              [parentGroup]="bulletinOffenceForm.group"
              [inputName]="'remarks'"
              [rows]="'3'"
              [inputType]="'TextArea'"
            >
            </cais-input>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-8">
            <cais-autocomplete
              [label]="'Обща категория'"
              [inputFormControl]="bulletinOffenceForm.ecrisOffCatId"
              [parentGroup]="bulletinOffenceForm.group"
              [items]="dbData.ecrisOffCategories"
              [inputName]="'ecrisOffCatId'"
            >
            </cais-autocomplete>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-12">
            <cais-input
              [type]="'text'"
              [rows]="'3'"
              [label]="'Правна квалификация'"
              [inputFormControl]="bulletinOffenceForm.legalProvisions"
              [parentGroup]="bulletinOffenceForm.group"
              [inputName]="'legalProvisions'"
              [inputType]="'TextArea'"
            >
            </cais-input>
          </div>
        </div>
        <div class="row mt-2">
          <div class="form-group col-md-4">
            <cais-input
              [type]="'datetime'"
              [label]="'Начална дата на извършване на деянието'"
              [inputFormControl]="bulletinOffenceForm.offStartDate"
              [parentGroup]="bulletinOffenceForm.group"
              [inputName]="'offStartDate'"
            ></cais-input>
          </div>
          <div class="form-group col-md-4">
            <cais-input
              [type]="'datetime'"
              [label]="'Крайна дата на извършване на деянието'"
              [inputFormControl]="bulletinOffenceForm.offEndDate"
              [parentGroup]="bulletinOffenceForm.group"
              [inputName]="'offEndDate'"
            ></cais-input>
          </div>
        </div>

        <div class="font-weight-bold">
          Място на извършване на престъплението
        </div>
        <hr />

        <div class="row ml-2">
          <div class="form-group col-md-4">
            <cais-autocomplete
              [label]="'Държава'"
              [inputFormControl]="bulletinOffenceForm.offPlaceCountryId"
              [parentGroup]="bulletinOffenceForm.group"
              [items]="dbData.countries"
              [inputName]="'offPlaceCountryId'"
            >
            </cais-autocomplete>
          </div>
          <div class="form-group col-md-4">
            <cais-autocomplete
              [label]="'Област'"
              [inputFormControl]="bulletinOffenceForm.offPlaceSubdivId"
              [parentGroup]="bulletinOffenceForm.group"
              [items]="dbData.countriesSubdivisions"
              [inputName]="'offPlaceSubdivId'"
            >
            </cais-autocomplete>
          </div>
          <div class="form-group col-md-4">
            <cais-autocomplete
              [label]="'Град'"
              [inputFormControl]="bulletinOffenceForm.offPlaceCityId"
              [parentGroup]="bulletinOffenceForm.group"
              [items]="dbData.cities"
              [inputName]="'offPlaceCityId'"
            >
            </cais-autocomplete>
          </div>
        </div>
        <div class="row ml-2">
          <div class="form-group col-md-12">
            <cais-input
              [type]="'text'"
              [rows]="'3'"
              [label]="'Описание'"
              [inputFormControl]="bulletinOffenceForm.offPlaceDescr"
              [parentGroup]="bulletinOffenceForm.group"
              [inputName]="'offPlaceDescr'"
              [inputType]="InputTypeConstants.TextArea"
            >
            </cais-input>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-8">
            <cais-input
              [type]="'number'"
              [label]="'Колко пъти е извършено'"
              [inputFormControl]="bulletinOffenceForm.occurrences"
              [parentGroup]="bulletinOffenceForm.group"
              [inputName]="'occurrences'"
            >
            </cais-input>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-md-5">
            <div
              class="nb-form-control-container"
              style="
                height: 40px;
                max-width: 100%;
                display: flex;
                align-items: center;
              "
            >
              <nb-checkbox [formControl]="bulletinOffenceForm.isContiniuous"
                >Непрекъснато извършвано престъпление</nb-checkbox
              >
            </div>
          </div>
          <div class="col-md-5">
            <div
              class="nb-form-control-container"
              style="
                height: 40px;
                max-width: 100%;
                display: flex;
                align-items: center;
              "
            >
              <nb-checkbox [formControl]="bulletinOffenceForm.respExemption"
                >Освобождаване от наказателна отговорност</nb-checkbox
              >
            </div>
          </div>
          <div class="col-md-2">
            <div
              class="nb-form-control-container"
              style="
                height: 40px;
                max-width: 100%;
                display: flex;
                align-items: center;
              "
            >
              <nb-checkbox [formControl]="bulletinOffenceForm.recidivism"
                >Рецидивизъм
              </nb-checkbox>
            </div>
          </div>
        </div>
        <div class="row mt-2">
          <div class="form-group col-md-4">
            <cais-autocomplete
              [label]="'Степен на довършване'"
              [inputFormControl]="bulletinOffenceForm.offLvlComplId"
              [parentGroup]="bulletinOffenceForm.group"
              [items]="dbData.completions"
              [inputName]="'offLvlComplId'"
            >
            </cais-autocomplete>
          </div>
          <div class="form-group col-md-4">
            <cais-autocomplete
              [label]="'Степен на участие'"
              [inputFormControl]="bulletinOffenceForm.offLvlPartId"
              [parentGroup]="bulletinOffenceForm.group"
              [items]="dbData.parts"
              [inputName]="'offLvlPartId'"
            >
            </cais-autocomplete>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</igx-dialog>
