<div class="row">
  <div class="col-md-2 pr-0">
    <nb-card class="card-min-height">
      <nb-card-header>Заявки</nb-card-header>
      <nb-card-body>
        <nb-tabset
          class="custom-tabset"
          #nbtabset
          (changeTab)="onChangeTab($event)"
        >
          <nb-tab #draftTab [tabTitle]="draftTabTitle" tabIcon="file"> </nb-tab>
          <nb-tab
            *ngIf="inboxCount > 0"
            #inboxTab
            [tabTitle]="inboxTabTitle"
            tabIcon="inbox"
            badgeText="{{ inboxCount }}"
            badgePosition="top right"
            badgeStatus="success"
          >
          </nb-tab>
          <nb-tab
            *ngIf="inboxCount <= 0"
            #inboxTab
            [tabTitle]="inboxTabTitle"
            tabIcon="inbox"
          >
          </nb-tab>
          <nb-tab
            *ngIf="outboxCount > 0"
            #outboxTab
            [tabTitle]="outboxTabTitle"
            badgeText="{{ outboxCount }}"
            tabIcon="email-outline"
            badgePosition="top  right"
            badgeStatus="warning"
          >
          </nb-tab>
          <nb-tab
            *ngIf="outboxCount <= 0"
            #outboxTab
            [tabTitle]="outboxTabTitle"
            tabIcon="email-outline"
          >
          </nb-tab>
        </nb-tabset>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-md-10 pl-0">
    <nb-card class="card-min-height">
      <nb-card-header
        style="
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding-top: 5px;
          padding-bottom: 5px;
        "
      >
        <div>{{ this.title }}</div>
        <!-- <a
          nbButton
          matRipple
          [status]="'success'"
          [routerLink]="['/pages/internal-requests/create']"
          type="button"
          style="min-width: 100px"
        >
          Нова заявка
        </a> -->
      </nb-card-header>
      <nb-card-body>
        <ng-container *ngIf="showDraftTab">
          <cais-internal-request-draft-ovverview></cais-internal-request-draft-ovverview>
        </ng-container>
        <ng-container *ngIf="showInboxTab">
          <cais-internal-request-inbox-overview></cais-internal-request-inbox-overview>
        </ng-container>
        <ng-container *ngIf="showOutboxTab">
          <cais-internal-request-outbox-overview
            (onReadClicked)="onOutBoxReadMessageClicked($event)"
          ></cais-internal-request-outbox-overview>
        </ng-container>
      </nb-card-body>
    </nb-card>
  </div>
</div>
