<div class="row">
  <div class="col-md-2">
    <nb-card accent="primary">
      <nb-card-header>Заявки</nb-card-header>
      <nb-card-body>
        <nb-tabset class="custom-tabset" #nbtabset (changeTab)="onChangeTab($event)">
          <nb-tab #draftTab [tabTitle]="draftTabTitle" tabIcon="file"> </nb-tab>
          <nb-tab *ngIf="inboxCount > 0" #inboxTab [tabTitle]="inboxTabTitle" tabIcon="inbox"
            badgeText="{{ inboxCount }}" badgePosition="top right" badgeStatus="success">
          </nb-tab>
          <nb-tab *ngIf="inboxCount <= 0" #inboxTab [tabTitle]="inboxTabTitle" tabIcon="inbox">
          </nb-tab>
          <nb-tab *ngIf="outboxCount > 0" #outboxTab [tabTitle]="outboxTabTitle" badgeText="{{ outboxCount }}"
            tabIcon="email-outline" badgePosition="top  right" badgeStatus="warning">
          </nb-tab>
          <nb-tab *ngIf="outboxCount <= 0" #outboxTab [tabTitle]="outboxTabTitle" tabIcon="email-outline">
          </nb-tab>
        </nb-tabset>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-md-10">
    <nb-card>
      <ng-container *ngIf="showDraftTab">
        <cais-internal-request-draft-ovverview [caisTitle]="title"></cais-internal-request-draft-ovverview>
      </ng-container>
      <ng-container *ngIf="showInboxTab">
        <cais-internal-request-inbox-overview [caisTitle]="title"></cais-internal-request-inbox-overview>
      </ng-container>
      <ng-container *ngIf="showOutboxTab">
        <cais-internal-request-outbox-overview (onReadClicked)="onOutBoxReadMessageClicked($event)" [caisTitle]="title">
        </cais-internal-request-outbox-overview>
      </ng-container>
    </nb-card>
  </div>
</div>