<div [formGroup]="parentGroup" [ngClass]="setInvalidContainer()">
  <label for="{{ inputName }}" class="label"
    >{{ label }}
    <ng-container *ngIf="formUtils.hasRequiredField(inputFormControl)"
      ><span class="text-danger">*</span></ng-container
    ></label
  >

  <ng-container *ngIf="formatter">
    <input
      type="text"
      nbInput
      fullWidth
      value="{{ formatter(inputFormControl.value) }}"
      [ngClass]="validationCss()"
      (blur)="onBlur($event)"
      (keyup)="onKeyUp($event)"
      (change)="onChange($event)"
      [readonly]="isReadOnly"
    />
  </ng-container>

  <ng-container *ngIf="!formatter">
    <ng-container *ngIf="type === 'text'">
      <input
        *ngIf="inputType === InputTypeConstants.InputElement"
        type="{{ type }}"
        nbInput
        fullWidth
        [formControl]="inputFormControl"
        [ngClass]="validationCss()"
        (blur)="onBlur($event)"
        (keyup)="onKeyUp($event)"
        (change)="onChange($event)"
        [readonly]="isReadOnly"
      />
      <textarea
        *ngIf="inputType === InputTypeConstants.TextArea"
        nbInput
        fullWidth
        [formControl]="inputFormControl"
        [ngClass]="validationCss()"
        rows="{{ rows }}"
      ></textarea>
    </ng-container>

    <ng-container *ngIf="type === 'password'">
      <input
        *ngIf="inputType === InputTypeConstants.InputElement"
        type="{{ type }}"
        nbInput
        fullWidth
        [formControl]="inputFormControl"
        [ngClass]="validationCss()"
        (blur)="onBlur($event)"
        (keyup)="onKeyUp($event)"
        (change)="onChange($event)"
        [readonly]="isReadOnly"
      />
    </ng-container>

    <ng-container *ngIf="type === 'number'">
      <input
        type="{{ type }}"
        nbInput
        fullWidth
        [formControl]="inputFormControl"
        [ngClass]="validationCss()"
        (blur)="onBlur($event)"
        (keyup)="onKeyUp($event)"
        (change)="onNumberChange($event)"
        [readonly]="isReadOnly"
      />
    </ng-container>
    <ng-container *ngIf="type === 'date'">
      <div class="form-date-picker">
        <div class="date-picker-wrapper">
          <igx-date-picker
            #datePicker
            [formControl]="inputFormControl"
            locale="bg"
            class="cais-date-time-picker"
            mode="dropdown"
            [labelVisibility]="false"
            format="dd.MM.yyyy г."
            [disabled]="isReadOnly"
          >
          </igx-date-picker>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="type == 'datetime'">
      <div class="form-group row">
        <div class="form-date-picker col-md-6" style="padding-right: 0px">
          <igx-date-picker
            #datePicker
            name="date-picker"
            [formControl]="inputFormControl"
            locale="bg"
            class="cais-date-time-picker"
            mode="dropdown"
            [labelVisibility]="false"
            format="dd.MM.yyyy г."
            [disabled]="isReadOnly"
            (valueChange)="timePicker.value = datePicker.value"
          >
          </igx-date-picker>
        </div>
        <div class="form-time-picker col-md-4" style="padding-left: 0px">
          <igx-time-picker
            #timePicker
            name="time-picker"
            locale="bg"
            class="cais-date-time-picker"
            [formControl]="inputFormControl"
            [disabled]="datePicker.value || isReadOnly ? false : true"
            mode="dropdown"
            format="HH:mm"
            (valueChange)="datePicker.value = timePicker.value"
          >
            <label igxLabel></label>
          </igx-time-picker>
        </div>
      </div>
    </ng-container>
  </ng-container>

  <cais-validation-message
    label="{{ inputName }}"
    [showRequired]="
      inputFormControl?.errors?.required && inputHasBeenInteracted()
    "
    [maxLength]="inputFormControl?.errors?.maxlength?.requiredLength"
    [showMaxLength]="
      inputFormControl?.errors?.maxlength && inputHasBeenInteracted()
    "
    [minLength]="inputFormControl?.errors?.minlength?.requiredLength"
    [showMinLength]="
      inputFormControl?.errors?.minlength && inputHasBeenInteracted()
    "
    [showEgn]="
      inputFormControl?.errors?.egnValidation && inputHasBeenInteracted()
    "
    [showLnch]="
      inputFormControl?.errors?.lnchValidation && inputHasBeenInteracted()
    "
    [showCyrillicPattern]="
      inputFormControl?.errors?.cyrillicValidation && inputHasBeenInteracted()
    "
    [showEmailPattern]="
      inputFormControl?.errors?.emailValidation && inputHasBeenInteracted()
    "
  ></cais-validation-message>
  <p
    class="caption status-danger"
    *ngFor="let serverError of inputFormControl?.errors?.serverErrors"
  >
    {{ serverError }}
  </p>
</div>
