html {
    font-size: 14px !important;
    /* background-color: rgb(242,247,255);*/
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    /*    background-color: rgb(242,247,255);
*/
}

a.navbar-brand {
    color: white;
}

    a.navbar-brand:hover {
        color: #9dbbe0;
    }

.cais-header .btn-outline-secondary {
    margin-left: 5px;
}

.cais-header h3,
.cais-header h4 {
    margin-bottom: 0;
}

hr {
    margin: 10px 0;
}

label.required:after {
    color: red;
    content: ' *';
    display: inline;
}

div.ui-igcombo-wrapper {
    min-width: 260px;
    width: 100%;
}

.cais-headerbar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 12px 0px;
}

.cais-logo-wrapper {
    height: 55px
}

.cais-logo {
    height: 100%;
}

.cais-header-text {
    padding-left: 20px;
    border-left: 2px solid;
}

    .cais-header-text .main-header {
        font-size: 20px;
        font-weight: 500;
        text-transform: uppercase;
        line-height: 22px;
    }

header .container-fluid {
    background-color: #ffff;
}

footer {
    background-color: #ffff;
}

.btn-primary {
    color: #fff;
    background-color: #014f86;
    border-color: #014f86;
}

    .btn-primary:hover {
        color: #fff;
        background-color: #0054a4;
        border-color: #0054a4;
    }

.cais-navbar {
    background-color: #014f86;
}

    .cais-navbar .navbar {
        /* padding-top: 0px;
        padding-bottom: 0px;*/
        color: white;
    }

    .cais-navbar .navbar-nav > li > a {
        color: white;
        margin-left: 20px;
    }

        .cais-navbar .navbar-nav > li > a:hover,
        .cais-navbar .navbar-nav > li > a:focus {
            color: #d0d6db;
        }


    .cais-navbar .navbar-toggler,
    .cais-navbar .cais-nav-icon {
        padding: 4px 8px;
        font-size: 1.05em;
        color: white;
        cursor: pointer;
        border-radius: 4px;
    }

    .cais-navbar .navbar-toggler-icon {
        display: inline;
    }



    .cais-navbar .navbar-nav > .faq-link-item > a:hover,
    .cais-navbar .navbar-nav > .faq-link-item > a:focus {
        color: #f9f9f9;
        background-color: #014f86;
        border-top: 1px solid #014f86;
    }

    .cais-navbar a.cais-main-icon:hover,
    .cais-navbar a.cais-main-icon:focus {
        color: #014f86;
        background-color: #f9f9f9;
    }

    .cais-navbar a.cais-main-icon {
        margin-right: 5px;
        padding: 2px 6px;
        font-size: 1.4em;
    }

    .cais-navbar .navbar-nav .nav-link {
        padding-top: 0;
        padding-bottom: 0;
    }

    .cais-navbar .cais-user-menu {
        color: #ffffff;
    }

        .cais-navbar .cais-user-menu .user-greeting {
            padding-left: 5px;
            padding-right: 5px;
        }

        .cais-navbar .cais-user-menu i.fa {
            color: #ffffff;
            font-size: 20px;
        }

    .cais-navbar h1 {
        font-weight: 600;
        font-size: 1.1rem;
        letter-spacing: .009375rem;
        text-transform: none;
        line-height: 1.5rem;
        margin-top: 0;
        margin-bottom: 0;
        color: white;
    }

header .container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}

header .cais-headerbar, header .cais-navbar {
    padding-left: 10px;
}

.btn-logout {
    padding-right: 20px;
    color: white;
    padding-left: 10px;
}

    .btn-logout:hover {
        color: #c5d2e4
    }


.cais-logo-wrapper {
    padding: 10px 5px 10px 20px;
    display: inline-block;
}

@media (max-width: 415px) {
    .cais-logo-wrapper {
        width: 100%;
        text-align: center;
        padding: 0;
        padding-top: 5px;
    }
}

.cais-logo-wrapper img.esti-logo {
    height: 60px;
}

footer.footer {
    padding-top: 10px;
    padding-left: 10px;
}

.cais-footer-text {
    text-align: center;
    line-height: 17px;
    height: 100%;
    width: auto;
    font-style: italic;
    font-size: 12px;
    padding-top: 5px
}

    .cais-footer-text p {
        margin-bottom: 0px;
    }

.cais-footer-img-container {
    width: auto;
}

    .cais-footer-img-container ul {
        max-height: 300px;
    }

        .cais-footer-img-container ul li {
            max-height: 60px;
            max-width: 300px;
        }

            .cais-footer-img-container ul li img {
                height: 100%;
                width: 50%;
            }

body div.container {
    margin-top: 20px;
}

.cais-footer-link {
    text-align: center;
    line-height: 18px;
    width: auto;
}

    .cais-footer-link a {
        color: #014f86;
        font-size: 12px;
        text-decoration: underline;
    }

        .cais-footer-link a:hover {
            text-decoration: none;
        }

.importan-text {
    color: red;
}

.grid-button {
    cursor: pointer;
    color: #014f86 !important;
    font-size: 1.2em;
}

    .grid-button:hover {
        color: #0054a4 !important;
        text-decoration: none;
    }

.button-margin {
    margin-left: 5px;
    margin-right: 5px;
}

/*#region Infragistics*/
.ui-iggrid tbody td {
    white-space: nowrap;
}

.ui-iggrid .ui-widget-header,
.ui-iggrid th.ui-state-default,
.ui-iggrid-header .ui-widget-header {
    background-color: #eceeef !important;
}

.ui-iggrid .ui-iggrid-footer .ui-iggrid-paging-item.ui-state-default {
    border: none !important;
}

.ui-iggrid-footer .ui-iggrid-paging .ui-iggrid-paging-item:hover .ui-icon-arrowstop-1-w:before {
    color: black !important;
}

.ui-iggrid-footer .ui-iggrid-paging .ui-iggrid-paging-item:hover .ui-icon-triangle-1-w:before {
    color: black !important;
}

.ui-iggrid-footer .ui-iggrid-paging .ui-iggrid-paging-item:hover .ui-icon-triangle-1-e:before {
    color: black !important;
}

.ui-iggrid-footer .ui-iggrid-paging .ui-iggrid-paging-item:hover .ui-icon-arrowstop-1-e:before {
    color: black !important;
}

.ui-iggrid-firstpage:hover,
.ui-iggrid-prevpage:hover,
.ui-iggrid-nextpage:hover,
.ui-iggrid-lastpage:hover {
    background-color: #eee !important;
    border-radius: .125rem !important;
    -webkit-transition: all .3s linear !important;
    transition: all .3s linear !important;
    color: #212529 !important;
    border-radius: .125rem;
}

.ui-iggrid .ui-iggrid-paging li:hover {
    background-color: #eee !important;
    border-radius: .125rem !important;
    -webkit-transition: all .3s linear !important;
    transition: all .3s linear !important;
    color: #212529 !important;
    border-radius: .125rem;
}

.ui-iggrid .ui-iggrid-paging li {
    border-bottom: none !important;
}

.ui-iggrid .ui-iggrid-pagesizedropdown.ui-state-default {
    border-radius: .125rem !important;
    -webkit-transition: all .3s linear !important;
    transition: all .3s linear !important;
    border: none !important;
}


.ui-iggrid-paging .ui-iggrid-firstpage, .ui-iggrid-lastpage, .ui-iggrid-nextpage, .ui-iggrid-prevpage {
    padding-top: 0px !important;
    padding-bottom: 0px !important
}

.ui-iggrid-pagedropdowncontainer .ui-igedit-container {
    height: 1.4em !important;
    border-radius: 0px !important;
    border-bottom: 1px solid #ccc !important;
}

.ui-iggrid-paging, .ui-iggrid-results .ui-iggrid-pagedropdowncontainer, .ui-igedit-container {
    font-size: medium !important;
    height: 1.4em !important;
}

.ui-iggrid-paging, .ui-iggrid-footer .ui-iggrid-results {
    font-size: smaller !important;
}

.ui-iggrid-results {
    display: flex !important;
    align-items: center !important;
}
/*#endregion */
