html {
    font-size: 14px;
    /* background-color: rgb(242,247,255);*/
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    /*    background-color: rgb(242,247,255);
*/
}

.cais-header .btn-outline-secondary {
    margin-left: 5px;
}

.cais-header h3,
.cais-header h4 {
    margin-bottom: 0;
}

hr {
    margin: 10px 0;
}

label.required:after {
    color: red;
    content: ' *';
    display: inline;
}

div.ui-igcombo-wrapper {
    min-width: 260px;
    width: 100%;
}

.cais-headerbar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 12px 0px;
}

.cais-logo-wrapper {
    height: 55px
}

.cais-logo {
    height: 100%;
}

.cais-header-text {
    padding-left: 20px;
    border-left: 2px solid;
}

.cais-header-text .main-header {
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 22px;
}

header .container-fluid {
    background-color: #ffff;
}

footer {
    background-color: #ffff;
}

.btn-primary {
    color: #fff;
    background-color: #0054a4 /*#364b98*/;
    border-color: #0054a4 /*#364b98*/;
}

.btn-primary:hover {
    color: #fff;
    background-color: #014f86 /*rgb(118,142,240)*/;
    border-color: #014f86 /* rgb(118,142,240)*/;
}

.cais-navbar {
    background-color: #014f86;
}

.cais-navbar .navbar-toggler,
.cais-navbar .cais-nav-icon {
    padding: 4px 8px;
    font-size: 1.05em;
    color: white;
    cursor: pointer;
    border-radius: 4px;
}

.cais-navbar .navbar-toggler-icon {
    display: inline;
}

.cais-navbar .navbar-nav > li > a:hover,
.cais-navbar .navbar-nav > li > a:focus {
    color: #014f86;
    background-color: #f9f9f9;
    border-top: 1px solid #014f86;
}

.cais-navbar .navbar-nav > .faq-link-item > a:hover,
.cais-navbar .navbar-nav > .faq-link-item > a:focus {
    color: #f9f9f9;
    background-color: #014f86;
    border-top: 1px solid #014f86;
}

.cais-navbar a.cais-main-icon:hover,
.cais-navbar a.cais-main-icon:focus {
    color: #014f86;
    background-color: #f9f9f9;
}

.cais-navbar a.cais-main-icon {
    margin-right: 5px;
    padding: 2px 6px;
    font-size: 1.4em;
}

.cais-navbar .navbar-nav .nav-link {
    padding-right: 5px;
    padding-left: 5px;
}

.cais-navbar .cais-user-menu {
    color: #ffffff;
}

.cais-navbar .cais-user-menu .user-greeting {
    padding-left: 5px;
    padding-right: 5px;
}

.cais-navbar .cais-user-menu i.fa {
    color: #ffffff;
    font-size: 20px;
}

.cais-navbar h1 {
    font-weight: 600;
    font-size: 1.25rem;
    letter-spacing: .009375rem;
    text-transform: none;
    line-height: 1.5rem;
    margin-top: 0;
    margin-bottom: 0;
    color: white;
}

header .container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}

header .cais-headerbar, header .cais-navbar{
    padding-left: 10px;
}