<nb-card>
  <nb-card-header>Ново заявление за свидетелство</nb-card-header>
  <nb-card-body>
    <button
      nbButton
      fullWidth
      matRipple
      [status]="'basic'"
      (click)="searchByEGN()"
      type="button"
      class="mb-2"
      style="min-width: 100px"
    >
      Ново заявление по ЕГН
    </button>
    <button
      nbButton
      fullWidth
      matRipple
      [status]="'basic'"
      (click)="searchByLNCH()"
      type="button"
      class="mb-2"
      style="min-width: 100px"
    >
      НОВО ЗАЯВЛЕНИЕ ПО ЛНЧ
    </button>

    <button
      nbButton
      fullWidth
      matRipple
      [status]="'basic'"
      (click)="searchForForeigner()"
      type="button"
      class="mb-2"
      style="min-width: 100px"
    >
      Ново заявление за чужденец
    </button>
  </nb-card-body>
</nb-card>
