<igx-grid
  #grid
  igxGridState
  [data]="items$ | async"
  [height]="null"
  [filterStrategy]="noopFilterStrategy"
  [sortStrategy]="noopSortStrategy"
  [paging]="true"
  [clipboardOptions]="{ copyHeaders: false }"
  [displayDensity]="'cosy'"
  (onSortingDone)="sortingDone($event)"
  (onFilteringDone)="filteringDone($event)"
  (onSelection)="cellSelection($event)"
  [paginationTemplate]="pager"
  [allowFiltering]="true"
  [primaryKey]="'id'"
  [pinning]="pinningConfig"
  [cellSelection]="'none'"
>
  <igx-grid-toolbar>
    <igx-grid-toolbar-title>
      <span class="fw-bold">Бюлетини</span></igx-grid-toolbar-title
    >
    <igx-grid-toolbar-actions>
      <igx-grid-toolbar-hiding></igx-grid-toolbar-hiding>
    </igx-grid-toolbar-actions>
  </igx-grid-toolbar>

  <igx-column
    field="id"
    header="Идентификатор"
    [sortable]="true"
    [dataType]="'number'"
    [hidden]="true"
  >
  </igx-column>
  <igx-column
    field="registrationNumber"
    header="Номер на бюлетин"
    [sortable]="true"
    [dataType]="'string'"
  >
  </igx-column>
  <igx-column
    field="bulletinAuthorityName"
    header="Съд изготвил бюлетина"
    [sortable]="true"
    [dataType]="'string'"
  >
  </igx-column>
  <igx-column
    field="bulletinType"
    header="Тип"
    [sortable]="true"
    [dataType]="'string'"
  >
  </igx-column>
  <igx-column
    field="caseData"
    header="Дело номер/година"
    [sortable]="true"
    [dataType]="'string'"
  >
  </igx-column>
  <igx-column
    field="statusName"
    header="Статус"
    [sortable]="true"
    [dataType]="'string'"
    [hidden]="this.searchForm.statusId.value"
  >
  </igx-column>
  <igx-column
    field="statusId"
    header="Статус ИД"
    [hidden]="true"
    [dataType]="'string'"
  >
  </igx-column>
  <igx-column
    field="fullname"
    header="Имена"
    [sortable]="true"
    [dataType]="'string'"
  >
  </igx-column>
  <igx-column
    field="identifier"
    header="ЕГН/ЛНЧ"
    [sortable]="true"
    [dataType]="'string'"
  >
  </igx-column>
  <igx-column
    field="birthDate"
    header="Дата на раждане"
    [sortable]="true"
    [dataType]="'date'"
  >
    <ng-template igxCell let-cell="cell">
      <span [title]="this.dateFormatService.displayDate(cell.value)">
        {{ this.dateFormatService.displayDate(cell.value) }}
      </span>
    </ng-template>
  </igx-column>

  <igx-column
    width="120px"
    header="Действия"
    [sortable]="false"
    [filterable]="false"
    [pinned]="true"
    [disableHiding]="true"
  >
    <ng-template igxCell let-cell="cell">
      <div class="cell-center">
        <div class="d-flex gap-3">
          <a
            [title]="'Преглед'"
            [routerLink]="['/pages/bulletins/preview', cell.rowData.id]"
          >
            <nb-icon pack="fa" icon="eye"></nb-icon>
          </a>
          <a
            *ngIf="
              this.searchForm.statusId.value == 'Active' ||
              this.searchForm.statusId.value == 'Rehabilitated'
            "
            [title]="'Редактиране'"
            [routerLink]="['/pages/bulletins/edit', cell.rowData.id]"
          >
            <nb-icon pack="fa" icon="pen"></nb-icon>
          </a>
        </div>
      </div>
    </ng-template>
  </igx-column>

  <ng-template #pager let-grid>
    <div class="tl-paginator">
      <cais-grid-pager
        [page]="remoteService.pagerParams.page"
        [perPage]="remoteService.pagerParams.perPage"
        [totalCount]="remoteService.pagerParams.totalCount"
        (pagerChange)="pagerChange($event)"
        [excelReference]="excelExportAll"
      ></cais-grid-pager>
    </div>
  </ng-template>
</igx-grid>
