<nb-card class="card-single-page-height" [formGroup]="fullForm.group">
  <nb-card-header class="card-header-shadow">
    <cais-card-header
      [label]="displayTitle"
      [onSaveFunction]="submitFunction"
      [onCancelFunction]="globalCancelFunction"
    ></cais-card-header>
  </nb-card-header>
  <nb-card-body class="overflow-scroll">
    <form autocomplete="off">
      <nb-tabset>
        <nb-tab tabTitle="Основна информация">
          <div class="row">
            <div class="form-group col-md-6">
              <cais-input
                [type]="'text'"
                [label]="'Номер на бюлетин'"
                [inputFormControl]="fullForm.registrationNumber"
                [parentGroup]="fullForm.group"
              ></cais-input>
            </div>
            <div class="form-group col-md-6">
              <cais-autocomplete
                [label]="'Бюро съдимост, в което се съхранява бюлетина'"
                [inputFormControl]="fullForm.csAuthorityId"
                [parentGroup]="fullForm.group"
                [inputName]="'csAuthorityId'"
                [items]="dbData.csAuthorities"
              >
              </cais-autocomplete>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-6">
              <cais-input
                [type]="'text'"
                [label]="'Пореден номер на бюлетина за лицето '"
                [inputFormControl]="fullForm.sequentialIndex"
                [parentGroup]="fullForm.group"
              ></cais-input>
            </div>

            <div class="form-group col-md-6">
              <cais-input
                [type]="'date'"
                [label]="'Датата на постъпване на хартиения бюлетин'"
                [inputFormControl]="fullForm.bulletinReceivedDate"
                [parentGroup]="fullForm.group"
              ></cais-input>
            </div>
          </div>

          <div class="row">
            <div class="form-group col-md-6">
              <cais-input
                [type]="'date'"
                [label]="'Дата на съставяне на бюлетина'"
                [inputFormControl]="fullForm.bulletinCreateDate"
                [parentGroup]="fullForm.group"
              ></cais-input>
            </div>

            <div class="form-group col-md-6">
              <cais-input
                [type]="'text'"
                [label]="'Входящ номер на бюлетина към азбучния указател '"
                [inputFormControl]="fullForm.alphabeticalIndex"
                [parentGroup]="fullForm.group"
              ></cais-input>
            </div>
          </div>
          <div class="font-weight-bold">Съставил</div>
          <hr />
          <div class="row">
            <label class="label label-front col-md-2">Имена</label>
            <div class="form-group col-md-6">
              <cais-input
                [type]="'text'"
                [inputFormControl]="fullForm.createdByNames"
                [parentGroup]="fullForm.group"
              >
              </cais-input>
            </div>
          </div>
          <div class="row">
            <label class="label label-front col-md-2">Длъжност</label>
            <div class="form-group col-md-6">
              <cais-input
                [type]="'text'"
                [inputFormControl]="fullForm.createdByPosition"
                [parentGroup]="fullForm.group"
              >
              </cais-input>
            </div>
          </div>
          <div class="font-weight-bold">Проверил</div>
          <hr />
          <div class="row">
            <label class="label label-front col-md-2">Имена</label>
            <div class="form-group col-md-6">
              <cais-input
                [type]="'text'"
                [inputFormControl]="fullForm.approvedByNames"
                [parentGroup]="fullForm.group"
              >
              </cais-input>
            </div>
          </div>
          <div class="row">
            <label class="label label-front col-md-2">Длъжност</label>
            <div class="form-group col-md-6">
              <cais-input
                [type]="'text'"
                [inputFormControl]="fullForm.approvedByPosition"
                [parentGroup]="fullForm.group"
              >
              </cais-input>
            </div>
          </div>
        </nb-tab>

        <nb-tab tabTitle="Данни за лицето">
          <div class="row">
            <label class="label label-front col-md-2">Имена на кирилица</label>
            <div class="form-group col-md-3">
              <cais-input
                [type]="'text'"
                [inputFormControl]="fullForm.firstname"
                [parentGroup]="fullForm.group"
              >
              </cais-input>
            </div>
            <div class="form-group col-md-3">
              <cais-input
                [type]="'text'"
                [inputFormControl]="fullForm.surname"
                [parentGroup]="fullForm.group"
              >
              </cais-input>
            </div>
            <div class="form-group col-md-3">
              <cais-input
                [type]="'text'"
                [inputFormControl]="fullForm.familyname"
                [parentGroup]="fullForm.group"
              >
              </cais-input>
            </div>
          </div>

          <div class="row">
            <label class="label label-front col-md-2">Имена на латиница</label>
            <div class="form-group col-md-3">
              <cais-input
                [type]="'text'"
                [inputFormControl]="fullForm.firstnameLat"
                [parentGroup]="fullForm.group"
              >
              </cais-input>
            </div>
            <div class="form-group col-md-3">
              <cais-input
                [type]="'text'"
                [inputFormControl]="fullForm.surnameLat"
                [parentGroup]="fullForm.group"
              >
              </cais-input>
            </div>
            <div class="form-group col-md-3">
              <cais-input
                [type]="'text'"
                [inputFormControl]="fullForm.familynameLat"
                [parentGroup]="fullForm.group"
              >
              </cais-input>
            </div>
          </div>

          <div class="font-weight-bold">
            Псевдоним или други използвани имена на осъденото лице
          </div>
          <hr />

          <div class="row">
            <label class="label label-front col-md-2">Псевдоним</label>
            <div class="form-group col-md-3">
              <input type="text" nbInput fullWidth value="N/A" />
            </div>
            <div class="form-group col-md-3">
              <input type="text" nbInput fullWidth value="N/A" />
            </div>
            <div class="form-group col-md-3">
              <input type="text" nbInput fullWidth value="N/A" />
            </div>
          </div>

          <div class="row">
            <label class="label label-front col-md-2">Моминско име</label>
            <div class="form-group col-md-3">
              <input type="text" nbInput fullWidth value="N/A" />
            </div>
            <div class="form-group col-md-3">
              <input type="text" nbInput fullWidth value="N/A" />
            </div>
            <div class="form-group col-md-3">
              <input type="text" nbInput fullWidth value="N/A" />
            </div>
          </div>

          <div class="row">
            <div class="form-group col-md-3">
              <cais-autocomplete
                [label]="'Пол'"
                [inputFormControl]="fullForm.sex"
                [parentGroup]="fullForm.group"
                [inputName]="'sex'"
                [items]="dbData.genderTypes"
              ></cais-autocomplete>
            </div>
            <div class="form-group col-md-3">
              <cais-input
                [type]="'date'"
                [label]="'Дата на раждане'"
                [inputFormControl]="fullForm.birthDate"
                [parentGroup]="fullForm.group"
              ></cais-input>
            </div>
          </div>

          <div class="row">
            <div class="form-group col-md-3">
              <cais-input
                [type]="'text'"
                [label]="'ЕГН'"
                [inputFormControl]="fullForm.egn"
                [parentGroup]="fullForm.group"
              ></cais-input>
            </div>
            <div class="form-group col-md-3">
              <cais-input
                [type]="'text'"
                [label]="'ЛН'"
                [inputFormControl]="fullForm.ln"
                [parentGroup]="fullForm.group"
              ></cais-input>
            </div>
            <div class="form-group col-md-3">
              <cais-input
                [type]="'text'"
                [label]="'ЛНЧ'"
                [inputFormControl]="fullForm.lnch"
                [parentGroup]="fullForm.group"
              ></cais-input>
            </div>
          </div>

          <div class="row">
            <div class="form-group col-md-3">
              <label class="label">Националност</label>
              <input type="text" nbInput fullWidth value="N/A" />
            </div>
            <div class="form-group col-md-3">
              <cais-input
                [type]="'text'"
                [label]="'АФИС номер'"
                [inputFormControl]="fullForm.afisNumber"
                [parentGroup]="fullForm.group"
              ></cais-input>
            </div>
          </div>

          <div class="font-weight-bold">Документ за самоличност</div>
          <hr />

          <div class="row">
            <div class="form-group col-md-3">
              <cais-input
                [type]="'text'"
                [label]="'Номер на документ'"
                [inputFormControl]="fullForm.idDocNumber"
                [parentGroup]="fullForm.group"
              ></cais-input>
            </div>
            <div class="form-group col-md-3">
              <cais-autocomplete
                [label]="'Категория'"
                [inputFormControl]="fullForm.idDocCategoryId"
                [parentGroup]="fullForm.group"
                [inputName]="'idDocCategoryId'"
                [items]="dbData.idDocumentCategoryTypes"
              >
              </cais-autocomplete>
            </div>
            <div class="form-group col-md-6">
              <cais-input
                [type]="'text'"
                [label]="'Друга категория в случай че липсва в списъка'"
                [inputFormControl]="fullForm.idDocTypeDescr"
                [parentGroup]="fullForm.group"
              ></cais-input>
            </div>
          </div>

          <div class="row">
            <div class="form-group col-md-3">
              <cais-autocomplete
                [label]="'Издаващ орган'"
                [inputFormControl]="fullForm.idDocIssuingAuthority"
                [parentGroup]="fullForm.group"
                [inputName]="'idDocIssuingAuthority'"
                [items]="dbData.idDocIssuingAuthorities"
              ></cais-autocomplete>
            </div>
            <div class="form-group col-md-3">
              <cais-input
                [type]="'date'"
                [label]="'Дата на издаване'"
                [inputFormControl]="fullForm.idDocIssuingDate"
                [parentGroup]="fullForm.group"
              ></cais-input>
            </div>
            <div class="form-group col-md-3">
              <cais-input
                [type]="'date'"
                [label]="'Дата на валидност'"
                [inputFormControl]="fullForm.idDocValidDate"
                [parentGroup]="fullForm.group"
              ></cais-input>
            </div>
          </div>

          <div class="font-weight-bold">Родители</div>
          <hr />

          <div class="row">
            <div class="form-group col-md-3">
              <cais-input
                [type]="'text'"
                [label]="'Майка - име'"
                [inputFormControl]="fullForm.motherFirstname"
                [parentGroup]="fullForm.group"
              ></cais-input>
            </div>
            <div class="form-group col-md-3">
              <cais-input
                [type]="'text'"
                [label]="'Майка - презиме'"
                [inputFormControl]="fullForm.motherSurname"
                [parentGroup]="fullForm.group"
              ></cais-input>
            </div>
            <div class="form-group col-md-3">
              <cais-input
                [type]="'text'"
                [label]="'Майка - фамилия'"
                [inputFormControl]="fullForm.motherFamilyname"
                [parentGroup]="fullForm.group"
              ></cais-input>
            </div>
            <div class="form-group col-md-3">
              <label class="label">Майка - Дата на раждане</label>
              <input type="text" nbInput fullWidth value="N/A" />
            </div>
          </div>

          <div class="row">
            <div class="form-group col-md-3">
              <cais-input
                [type]="'text'"
                [label]="'Баща - име'"
                [inputFormControl]="fullForm.fatherFirstname"
                [parentGroup]="fullForm.group"
              ></cais-input>
            </div>
            <div class="form-group col-md-3">
              <cais-input
                [type]="'text'"
                [label]="'Баща - презиме'"
                [inputFormControl]="fullForm.fatherSurname"
                [parentGroup]="fullForm.group"
              ></cais-input>
            </div>
            <div class="form-group col-md-3">
              <cais-input
                [type]="'text'"
                [label]="'Баща - фамилия'"
                [inputFormControl]="fullForm.fatherFamilyname"
                [parentGroup]="fullForm.group"
              ></cais-input>
            </div>
            <div class="form-group col-md-3">
              <label class="label">Баща - Дата на раждане</label>
              <input type="text" nbInput fullWidth value="N/A" />
            </div>
          </div>
        </nb-tab>

        <nb-tab tabTitle="Осъждане">
          <div class="font-weight-bold">Данни за акта</div>
          <hr />

          <div class="row">
            <div class="form-group col-md-3">
              <cais-autocomplete
                [label]="'Вид на акта'"
                [inputFormControl]="fullForm.decisionTypeId"
                [parentGroup]="fullForm.group"
                [inputName]="'decisionTypeId'"
                [items]="dbData.decisionTypes"
              >
              </cais-autocomplete>
            </div>
            <div class="form-group col-md-3">
              <cais-input
                [type]="'text'"
                [label]="'Номер на акта'"
                [inputFormControl]="fullForm.decisionNumber"
                [parentGroup]="fullForm.group"
              ></cais-input>
            </div>
            <div class="form-group col-md-3">
              <cais-input
                [type]="'date'"
                [label]="'Дата на акта'"
                [inputFormControl]="fullForm.decisionDate"
                [parentGroup]="fullForm.group"
              ></cais-input>
            </div>
            <div class="form-group col-md-3">
              <cais-input
                [type]="'date'"
                [label]="'Дата на влизане в сила'"
                [inputFormControl]="fullForm.decisionFinalDate"
                [parentGroup]="fullForm.group"
              ></cais-input>
            </div>
            <div class="form-group col-md-3">
              <cais-autocomplete
                [label]="'Съдебен орган издал акта'"
                [inputFormControl]="fullForm.decidingAuthId"
                [parentGroup]="fullForm.group"
                [inputName]="'decidingAuthId'"
                [items]="dbData.decidingAuthorities"
              >
              </cais-autocomplete>
            </div>
            <div class="form-group col-md-3">
              <cais-input
                [type]="'text'"
                [label]="'ECLI номер'"
                [inputFormControl]="fullForm.decisionEcli"
                [parentGroup]="fullForm.group"
              ></cais-input>
            </div>
          </div>

          <div class="font-weight-bold">Данни за делото</div>
          <hr />

          <div class="row">
            <div class="form-group col-md-3">
              <cais-autocomplete
                [label]="'Вид дело'"
                [inputFormControl]="fullForm.caseTypeId"
                [parentGroup]="fullForm.group"
                [inputName]="'caseTypeId'"
                [items]="dbData.caseTypes"
              >
              </cais-autocomplete>
            </div>
            <div class="form-group col-md-3">
              <cais-input
                [type]="'text'"
                [label]="'Номер на делото'"
                [inputFormControl]="fullForm.caseNumber"
                [parentGroup]="fullForm.group"
              ></cais-input>
            </div>
            <div class="form-group col-md-3">
              <cais-input
                [type]="'text'"
                [label]="'Година на делото'"
                [inputFormControl]="fullForm.caseYear"
                [parentGroup]="fullForm.group"
              ></cais-input>
            </div>
          </div>

          <div class="row">
            <div class="form-group col-md-9">
              <cais-input
                [type]="'text'"
                [label]="'Забележки'"
                [inputFormControl]="fullForm.convRemarks"
                [parentGroup]="fullForm.group"
                [inputType]="InputTypeConstants.TextArea"
              ></cais-input>
            </div>
          </div>
        </nb-tab>

        <nb-tab tabTitle="Престъпления">
          <cais-bulletin-offences-form
            #bulletineOffences
            [bulletinOffenceTransactions]="fullForm.offancesTransactions"
            [dbData]="dbData"
            [isForPreview]="isForPreview"
          ></cais-bulletin-offences-form>
        </nb-tab>

        <nb-tab tabTitle="Наказания">
          <cais-bulletin-sanctions-form
            #bulletineSanctions
            [bulletinSanctionsTransactions]="fullForm.sanctionsTransactions"
            [dbData]="dbData"
            [isForPreview]="isForPreview"
          >
          </cais-bulletin-sanctions-form>
        </nb-tab>

        <nb-tab tabTitle="Доп. сведения">
          <cais-bulletin-decision-form
            #bulletineDecisions
            [bulletinDecisionsTransactions]="fullForm.decisionsTransactions"
            [dbData]="dbData"
            [isForPreview]="isForPreview"
          >
          </cais-bulletin-decision-form>
        </nb-tab>

        <nb-tab tabTitle="Уведомления">
          <span>Content #7</span>
        </nb-tab>

        <nb-tab tabTitle="Документи">
          <cais-bulletin-document-form
          #bulletineDocuments
          [bulletinForm]="fullForm"
          [isForPreview]="isForPreview"
          [documents]="dbData.documents"
          [documentTypes]="dbData.documentTypes"
        >
        </cais-bulletin-document-form>
        </nb-tab>

        <nb-tab tabTitle="Одит">
          <span>Content #9</span>
        </nb-tab>
      </nb-tabset>
    </form>
  </nb-card-body>
</nb-card>
