<nb-card  [formGroup]="fullForm.group">
    <nb-card-header class="card-header-shadow">
      <cais-card-header
        [label]="displayTitle"
        [onSaveFunction]="submitFunction"
        [onCancelFunction]="globalCancelFunction"
      ></cais-card-header>
    </nb-card-header>
    <nb-card-body>
      <form autocomplete="off">
        <div class="row">
          <div class="form-group col-md-12">
            <cais-input
              [type]="'text'"
              [label]="'Име'"
              [inputFormControl]="fullForm.name"
              [parentGroup]="fullForm.group"
            ></cais-input>
          </div>
          <div class="form-group col-md-12">
            <cais-input
              [type]="'text'"
              [label]="'Описание'"
              [inputFormControl]="fullForm.descr"
              [parentGroup]="fullForm.group"
            ></cais-input>
          </div>
        </div>
      </form>
      <cais-administrations-ext-form-uic
      #bulletineDecisions
      [transactions]="fullForm.extAdministrationUics"
      [administrationUics]="fullForm.extAdministrationUics"
      [uics]="dbData.element"
      [isForPreview]="isForPreview">
      </cais-administrations-ext-form-uic>
    </nb-card-body>
  </nb-card>
