<nb-card>
  <nb-card-header>Ново искане за справка за съдимост</nb-card-header>
  <nb-card-body>
    <div class="d-flex justify-content-center">
      <div class="d-grid gap-2 col-3">
        <button
          nbButton
          fullWidth
          matRipple
          [status]="'primary'"
          (click)="searchByEGN()"
          type="button"
        >
          Ново искане по ЕГН
        </button>
        <button
          nbButton
          fullWidth
          matRipple
          [status]="'primary'"
          (click)="searchByLNCH()"
          type="button"
        >
          Ново искане по ЛНЧ
        </button>

        <button
          nbButton
          fullWidth
          matRipple
          [status]="'primary'"
          (click)="searchForForeigner()"
          type="button"
        >
          Ново искане за чужденец
        </button>
      </div>
    </div>
  </nb-card-body>
</nb-card>

<igx-dialog #searchByIdentifierDialog>
  <div class="dialogNewRecord">
    <tl-linear-progress [visible]="this.isLoading"></tl-linear-progress>
    <nb-card>
      <nb-card-body>
        <ng-container>
          <h2 class="mt-0">{{ titelSearchBy }}</h2>
          <form (submit)="onSubmit()">
            <input
              type="text"
              name="searchValue"
              nbInput
              fullWidth
              [(ngModel)]="searchValue"
            />
          </form>
        </ng-container>
      </nb-card-body>
      <nb-card-footer>
        <div class="row">
          <div class="col-6">
            <button nbButton matRipple fullWidth (click)="onCancel()">
              Отказ
            </button>
          </div>
          <div class="col-6">
            <button
              nbButton
              matRipple
              fullWidth
              status="primary"
              (click)="onSubmit()"
              [disabled]="
                searchValue === null ||
                searchValue === undefined ||
                searchValue === '' ||
                this.isLoading
              "
            >
              <nb-icon
                class="pt-1"
                [icon]="'search'"
                pack="fa"
                title="Търсене"
              ></nb-icon
              >Търси
            </button>
          </div>
        </div>
      </nb-card-footer>
    </nb-card>
  </div>
</igx-dialog>

<igx-dialog #searchByIdentifierErrorDialog>
  <div class="dialogNewRecord">
    <tl-linear-progress [visible]="this.isLoading"></tl-linear-progress>
    <nb-card>
      <nb-card-body>
        <ng-container>
          <h2 class="mt-0">{{ errorTitle }}</h2>
          <div
            style="
              display: flex;
              align-items: center;
              justify-content: space-between;
            "
          >
            <button
              nbButton
              matRipple
              [status]="'primary'"
              type="button"
              [title]="'Ръчно въвеждане'"
              (click)="navigateToReportApplicationCreate()"
              [disabled]="this.isLoading"
            >
              Ръчно въвеждане
            </button>
            <button
              nbButton
              matRipple
              [status]="'danger'"
              type="button"
              [title]="'Анулирай'"
              (click)="changeStatusToCanceled()"
              [disabled]="this.isLoading"
            >
              <nb-icon class="pt-1" [icon]="'xmark'" pack="fa"></nb-icon>
              Анулирай
            </button>
          </div>
        </ng-container>
        <p>{{ errorMsg }}</p>
      </nb-card-body>
    </nb-card>
  </div>
</igx-dialog>

<igx-dialog #cancelAppReportDialog>
  <div class="dialogNewRecord">
    <nb-card>
      <nb-card-header>Анулиране на искане</nb-card-header>
      <nb-card-body>
        <form (submit)="onSubmitCancelReportApplication()">
          <label for="description">Основание</label>
          <input
            type="text"
            name="description"
            nbInput
            fullWidth
            [(ngModel)]="description"
          />
        </form>
      </nb-card-body>
      <nb-card-footer>
        <div class="row">
          <div class="col-6">
            <button
              nbButton
              matRipple
              fullWidth
              status="danger"
              [disabled]="
                description === null ||
                description === undefined ||
                description === '' ||
                this.isLoading
              "
              (click)="onSubmitCancelReportApplication()"
            >
              Продължи
            </button>
          </div>
          <div class="col-6">
            <button nbButton matRipple fullWidth (click)="dismissCancel()">
              Отказ
            </button>
          </div>
        </div>
      </nb-card-footer>
    </nb-card>
  </div>
</igx-dialog>
