@page
@using MJ_CAIS.Common
@using MJ_CAIS.Common.Exceptions
@model ErrorModel
@{
    ViewData["Title"] = "Error";
    var htmlMessage = ExceptionUtils.HtmlBeautifyNewLine(Model.FormatedMessage);
}

<h2 class="text-danger">@CommonResources.MsgErrorOccurred</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

<div style="word-break: break-word;">@Html.Raw(htmlMessage)</div>
