<nb-card class="card-single-page-height" [formGroup]="fullForm.group">
  <nb-card-header class="card-header-shadow">
    <cais-card-header
      [label]="displayTitle"
      [onSaveFunction]="submitFunction"
      [onCancelFunction]="globalCancelFunction"
    ></cais-card-header>
  </nb-card-header>
  <nb-card-body class="overflow-scroll">
    <form autocomplete="off">
      <div class="row">
        <div class="form-group col-md-6">
          <cais-input
            [type]="'text'"
            [label]="'Регистрационен номер'"
            [inputFormControl]="fullForm.regNumber"
            [parentGroup]="fullForm.group"
          ></cais-input>
        </div>
        <div class="form-group col-md-6">
          <cais-input
            [type]="'date'"
            [label]="'Датата на създаване'"
            [inputFormControl]="fullForm.requestDate"
            [parentGroup]="fullForm.group"
          ></cais-input>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-6">
          <cais-input
            [type]="'text'"
            [label]="'Забележки'"
            [inputFormControl]="fullForm.description"
            [parentGroup]="fullForm.group"
            [inputType]="InputTypeConstants.TextArea"
          ></cais-input>
        </div>
      </div>

      <ng-container *ngIf="isEdit()">
        <ng-container *ngIf="!this.isForPreview">
          <div class="row">
            <div class="form-group col-md-6">
              <cais-autocomplete
                [label]="'Статус'"
                [inputFormControl]="fullForm.reqStatusCode"
                [parentGroup]="fullForm.group"
                [inputName]="'reqStatusCode'"
                [items]="dbData.requestTypes"
              ></cais-autocomplete>
            </div>
          </div>
        </ng-container>

        <ng-container *ngIf="this.isForPreview">
          <div class="row">
            <div class="form-group col-md-6">
              <cais-input
                [type]="'text'"
                [label]="'Статус'"
                [inputFormControl]="fullForm.reqStatusName"
                [parentGroup]="fullForm.group"
              ></cais-input>
            </div>
          </div>
        </ng-container>

        <div class="row">
          <div class="form-group col-md-6">
            <cais-input
              [type]="'text'"
              [label]="'Мотиви на съдия'"
              [inputFormControl]="fullForm.responseDescr"
              [parentGroup]="fullForm.group"
              [inputType]="InputTypeConstants.TextArea"
            ></cais-input>
          </div>
        </div>
      </ng-container>

      <div class="bulletin-info-container">
        <div class="font-weight-bold">Данни за лице</div>
        <hr />
        <div class="row">
          <div class="col-md-4">
            <label class="label">Имена на кирилица</label>
            <div class="form-group display-input-container">
              <span>
                {{ this.dbData.bulletinPersonInfo.firstname }}
              </span>
              <span>
                {{ this.dbData.bulletinPersonInfo.surname }}
              </span>
              <span>
                {{ this.dbData.bulletinPersonInfo.familyname }}
              </span>
            </div>
          </div>
          <div class="col-md-4">
            <label class="label">Имена на латиница</label>
            <div class="form-group display-input-container">
              <span>
                {{ this.dbData.bulletinPersonInfo.firstnameLat }}
              </span>
              <span>
                {{ this.dbData.bulletinPersonInfo.surnameLat }}
              </span>
              <span>
                {{ this.dbData.bulletinPersonInfo.familynameLat }}
              </span>
            </div>
          </div>
          <div class="col-md-4">
            <label class="label">Псевдоним</label>
            <div class="form-group display-input-container" *ngFor="let item of this.dbData.bulletinPersonInfo.personAliases">
              <span> {{item.firstname}}</span>
              <span> {{item.surname}}</span>
              <span> {{item.familyname}}</span>
              <span> {{item.fullname}}</span>
            </div>
          </div>
        </div>
  
        <div class="row">
          <div class="col-md-4">
            <label class="label">Пол</label>
            <div class="form-group display-input-container">
              {{ this.dbData.bulletinPersonInfo.sex }}
            </div>
          </div>
          <div class="col-md-4">
            <label class="label">Дата на раждане</label>
            <div class="form-group display-input-container">
              {{ this.dbData.bulletinPersonInfo.birthDate | date }}
            </div>
          </div>
          <div class="col-md-4">
            <label class="label">Националност</label>
            <div class="form-group display-input-container">
              <span *ngFor="let item of this.dbData.bulletinPersonInfo.nationalities">
                {{item}}
              </span>
            </div>
          </div>
        </div>
  
        <div class="row">
          <div class="col-md-4">
            <label class="label">ЕГН</label>
            <div class="form-group display-input-container">
              {{ this.dbData.bulletinPersonInfo.egn }}
            </div>
          </div>
          <div class="col-md-4">
            <label class="label">ЛНЧ</label>
            <div class="form-group display-input-container">
              {{ this.dbData.bulletinPersonInfo.lnch }}
            </div>
          </div>
          <div class="col-md-4">
            <label class="label">ЛН</label>
            <div class="form-group display-input-container">
              {{ this.dbData.bulletinPersonInfo.ln }}
            </div>
          </div>
        </div>
  
        <div class="row">
          <div class="col-md-2">
            <label class="label">Държава</label>
            <div class="form-group display-input-container">
              {{ this.dbData.bulletinPersonInfo.country }}
            </div>
          </div>
          <div class="col-md-2">
            <label class="label">Област</label>
            <div class="form-group display-input-container">
              {{ this.dbData.bulletinPersonInfo.districtname }}
  
            </div>
          </div>
          <div class="col-md-2">
            <label class="label">Община</label>
            <div class="form-group display-input-container">
              {{ this.dbData.bulletinPersonInfo.municipalityName }}
            </div>
          </div>
          <div class="col-md-2">
            <label class="label">Населено място</label>
            <div class="form-group display-input-container">
              {{ this.dbData.bulletinPersonInfo.city }}
            </div>
          </div>
          <div class="col-md-4">
            <label class="label">Oписание в случай на друг адрес</label>
            <div class="form-group display-input-container">
              {{ this.dbData.bulletinPersonInfo.foreignCountryAddress }}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <label class="label">Майка</label>
            <div class="form-group display-input-container">
              {{ this.dbData.bulletinPersonInfo.motherFullname }}
            </div>
          </div>
          <div class="col-md-4">
            <label class="label">Баща</label>
            <div class="form-group display-input-container">
              {{ this.dbData.bulletinPersonInfo.fatherFullname }}
            </div>
          </div>
          <div class="col-md-4">
            <label class="label">БС по местоположение</label>
            <div class="form-group display-input-container">N/A</div>
          </div>
        </div>
  
        <div class="font-weight-bold">Данни за бюлетин</div>
        <hr />
  
        <div class="row">
          <div class="col-md-4">
            <label class="label">Дата на регистрация</label>
            <div class="form-group display-input-container">N/A</div>
          </div>
          <div class="col-md-4">
            <label class="label">Номер</label>
            <div class="form-group display-input-container">
              {{ this.dbData.bulletinPersonInfo.registrationNumber }}
            </div>
          </div>
          <div class="col-md-4">
            <label class="label">Вид</label>
            <div class="form-group display-input-container">
              {{ this.dbData.bulletinPersonInfo.decisionTypeName }}
            </div>
          </div>
        </div>
  
        <div class="row">
          <div class="col-md-4">
            <label class="label">Съд издал акта</label>
            <div class="form-group display-input-container">
              {{ this.dbData.bulletinPersonInfo.decidingAuthName }}
            </div>
          </div>
          <div class="col-md-4">
            <label class="label">Акт(№/дата)</label>
            <div class="form-group display-input-container">
              <span> {{ this.dbData.bulletinPersonInfo.decisionNumber }} </span>
              <span> {{ this.dbData.bulletinPersonInfo.decisionDate | date }} </span>
            </div>
          </div>
          <div class="col-md-4">
            <label class="label">Дело(№/дата)</label>
            <div class="form-group display-input-container">
              <span> {{ this.dbData.bulletinPersonInfo.caseNumber }} </span>
              <span> {{ this.dbData.bulletinPersonInfo.caseYear }} </span>
            </div>
          </div>
        </div>
      </div>
   
    </form>
  </nb-card-body>
</nb-card>
