<nb-card class="card-single-page-height" [formGroup]="fullForm.group">
  <nb-card-header class="card-header-shadow">
    <cais-card-header
      [label]="this.title"
      [onSaveFunction]="submitFunction"
      [onCancelFunction]="onCancelFunction"
      [setForPreview]="isForPreview"
    >
      <div>
        <button
          *ngIf="
            !this.isForPreview &&
            requestStatusCode == InternalRequestStatusCodeConstants.Draft
          "
          nbButton
          matRipple
          [status]="'success'"
          (click)="send()"
          type="button"
          class="ml-2"
          style="min-width: 100px"
        >
          Изпрати
        </button>
      </div>
      <ng-container *ngIf="showReplayBtn">
        <div>
          <button
            nbButton
            matRipple
            [status]="'success'"
            (click)="replay(true)"
            type="button"
            class="ml-2"
            style="min-width: 100px"
          >
            Обработена заявка
          </button>
          <button
            nbButton
            matRipple
            [status]="'danger'"
            (click)="replay(false)"
            type="button"
            class="ml-2"
            style="min-width: 100px"
          >
            Отказана заявка
          </button>
        </div>
      </ng-container>
    </cais-card-header>
  </nb-card-header>
  <nb-card-body class="overflow-scroll">
    <form autocomplete="off">
      <div class="row mt-2">
        <div class="form-group col-md-4">
          <cais-autocomplete
            [label]="'До Бюро съдимост'"
            [inputFormControl]="fullForm.toAuthorityId"
            [parentGroup]="fullForm.group"
            [inputName]="'toAuthorityId'"
            [items]="dbData.csAuthorities"
          ></cais-autocomplete>
        </div>
        <div class="form-group col-md-4">
          <cais-input
            [type]="'date'"
            [label]="'Датата на създаване'"
            [inputFormControl]="fullForm.requestDate"
            [parentGroup]="fullForm.group"
          ></cais-input>
        </div>
        <div class="form-group col-md-4">
          <cais-input
            [type]="'text'"
            [label]="'Регистрационен номер'"
            [inputFormControl]="fullForm.regNumberDisplay"
            [parentGroup]="fullForm.group"
          ></cais-input>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-4">
          <cais-autocomplete
            [label]="'Тип на заявка'"
            [inputFormControl]="fullForm.nIntReqTypeId"
            [parentGroup]="fullForm.group"
            [inputName]="'nIntReqTypeId'"
            [items]="dbData.requestTypes"
          ></cais-autocomplete>
        </div>

        <ng-container *ngIf="isEdit()">
          <div class="form-group col-md-4">
            <cais-input
              [type]="'text'"
              [label]="'Идентификатор на лице'"
              [inputFormControl]="fullForm.pPersIdIdDisplay"
              [parentGroup]="fullForm.group"
            ></cais-input>
          </div>
        </ng-container>
        <ng-container *ngIf="!isEdit()">
          <div class="form-group col-md-4">
            <cais-autocomplete
              [label]="'Идентификатор на лице'"
              [inputFormControl]="fullForm.pPersIdId"
              [parentGroup]="fullForm.group"
              [inputName]="'pPersIdId'"
              [items]="personIds"
            ></cais-autocomplete>
          </div>
        </ng-container>
      </div>

      <label class="label">Бюлетини на лице</label>
      <hr />
      <ng-template #emptyTemplate> </ng-template>
      <app-grid-with-transactions
        [gridTransactions]="personBulletinsGridTransactions"
      >
        <igx-grid
          #personBulletinsGrid
          [height]="null"
          [data]="this.personBulletins"
          [primaryKey]="'id'"
          [rowEditable]="true"
          [addRowEmptyTemplate]="emptyTemplate"
          displayDensity="compact"
          (onRowDeleted)="onBulletinDeleted($event)"
          (rendered)="onBulletinGridRendered()"
        >
          <igx-column
            field="id"
            header="Идентификатор"
            [editable]="false"
            [dataType]="'string'"
            [hidden]="true"
          >
            <ng-template igxCell let-cell="cell">
              <span [title]="cell.value">{{ cell.value }}</span>
            </ng-template>
          </igx-column>
          <igx-column
            [width]="'15%'"
            field="bulletinType"
            header="Тип"
            [editable]="false"
            [dataType]="'string'"
          >
            <ng-template igxCell let-cell="cell">
              <span [title]="cell.value">{{ cell.value }}</span>
            </ng-template>
          </igx-column>
          <igx-column
            [width]="'15%'"
            field="statusName"
            header="Статус"
            [editable]="false"
            [dataType]="'string'"
          >
            <ng-template igxCell let-cell="cell">
              <span [title]="cell.value">{{ cell.value }}</span>
            </ng-template>
          </igx-column>

          <igx-column
            field="registrationNumber"
            header="Номер на бюлетин"
            [editable]="false"
            [dataType]="'string'"
          >
            <ng-template igxCell let-cell="cell">
              <span [title]="cell.value">{{ cell.value }}</span>
            </ng-template>
          </igx-column>
          <igx-column
            field="bulletinAuthorityName"
            header="Съд изготвил бюлетина"
            [editable]="false"
            [dataType]="'string'"
          >
            <ng-template igxCell let-cell="cell">
              <span [title]="cell.value">{{ cell.value }}</span>
            </ng-template>
          </igx-column>
          <igx-column
            [width]="'30%'"
            field="remarks"
            header="Описание"
            [dataType]="'string'"
            [editable]="canEditGrid"
          >
            <ng-template igxCell let-cell="cell">
              <span [title]="cell.value">{{ cell.value }}</span>
            </ng-template>
          </igx-column>
          <ng-template igxRowEditActions let-endRowEdit>
            <div class="custom-buttons">
              <button igxButton igxRowEditTabStop (click)="endRowEdit(false)">
                <igx-icon>clear</igx-icon> Отказ
              </button>
              <button igxButton igxRowEditTabStop (click)="endRowEdit(true)">
                <igx-icon>add</igx-icon> Запис
              </button>
            </div>
          </ng-template>
          <igx-action-strip #actionstrip *ngIf="canEditGrid">
            <igx-grid-editing-actions
              [addRow]="false"
              [contentEditable]="canEditGrid"
            >
            </igx-grid-editing-actions>
          </igx-action-strip>
        </igx-grid>
      </app-grid-with-transactions>
      <div class="row mt-2">
        <div class="form-group col-md-6">
          <cais-input
            [type]="'text'"
            [label]="'Описание'"
            [inputFormControl]="fullForm.description"
            [parentGroup]="fullForm.group"
            [inputType]="InputTypeConstants.TextArea"
          ></cais-input>
        </div>
      </div>
      <ng-container
        *ngIf="
          isEdit() &&
          requestStatusCode != InternalRequestStatusCodeConstants.Draft
        "
      >
        <div class="row">
          <div class="form-group col-md-6">
            <cais-input
              [type]="'text'"
              [label]="'Отговор'"
              [inputFormControl]="fullForm.responseDescr"
              [parentGroup]="fullForm.group"
              [inputType]="InputTypeConstants.TextArea"
            ></cais-input>
          </div>
        </div>
      </ng-container>
    </form>
  </nb-card-body>
</nb-card>
