<ng-container *ngIf="model">
  <nb-card class="card-single-page-height">
    <nb-card-header class="card-header-shadow">
      <div class="d-flex" style="justify-content: space-between">
        <div class="d-flex align-items-center">
          <div style="font-weight: bold; font-size: 22px">
            {{ displayTitle }}
          </div>
        </div>
        <div class="d-flex">
          <div>
            <button
              *ngIf="!this.isForPreview"
              nbButton
              matRipple
              [status]="'success'"
              (click)="identifyFunction()"
              type="button"
              class="ml-2"
              style="min-width: 100px"
            >
              Идентифицирай
            </button>
            <button
              *ngIf="!this.isForPreview"
              nbButton
              matRipple
              [status]="'info'"
              (click)="onOpenCancelIdentificationDialog()"
              type="button"
              class="ml-2"
              style="min-width: 100px"
            >
              Отказ от обработка
            </button>
            <button
              nbButton
              matRipple
              (click)="globalCancelFunction()"
              type="button"
              class="ml-2"
              style="min-width: 100px"
            >
              Назад
            </button>
          </div>
        </div>
      </div>
    </nb-card-header>
    <nb-card-body class="overflow-scroll">
      <div class="inner-card-body">
        <div class="inner-card-header">
          <div class="float-left">Основна информация</div>
          <ng-container>
            <div class="float-rigth">
              <button nbButton size="small" (click)="getDocument()">
                Виж документа
              </button>
            </div>
          </ng-container>
        </div>
        <div class="row mb-3">
          <div class="col-md-5">
            <div class="row col-md-12 cais-display-form-group">
              <span class="label">ECRIS Идентификатор: </span>
              <span>
                {{ model.ecrisIdentifier }}
              </span>
            </div>
          </div>
          <div class="col-md-4">
            <div class="row col-md-12 cais-display-form-group">
              <span class="label">Идентификатор: </span>
              <span>
                {{ model.identifier }}
              </span>
            </div>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-5">
            <div class="row col-md-12 cais-display-form-group">
              <span class="label">Дата на запитване: </span>
              <span>
                {{ model.msgTimestamp | date }}
              </span>
            </div>
          </div>
        </div>
        <div class="inner-card-header">
          <div class="float-left">Данни за лицето</div>
          <div class="float-rigth">
            <ng-container *ngIf="this.fullForm.bulletinId.value">
              <button
                nbButton
                size="small"
                [routerLink]="[
                  '/pages/bulletins/preview',
                  this.fullForm.bulletinId.value
                ]"
              >
                Бюлетин
              </button>
            </ng-container>
            <ng-container *ngIf="this.fullForm.fbbcId.value">
              <button
                nbButton
                size="small"
                class="ml-1"
                [routerLink]="[
                  '/pages/fbbcs/preview',
                  this.fullForm.fbbcId.value
                ]"
              >
                Осъждане в чужбина
              </button>
            </ng-container>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-4">
            <div class="row col-md-12 cais-display-form-group">
              <span class="label">Имена: </span>
              <span>
                {{ model.firstname }} {{ model.surname }} {{ model.familyname }}
              </span>
            </div>
          </div>
        </div>

        <div class="">Псевдоними</div>

        <div class="mt-2 mb-4">
          <igx-grid
            #namesGrid
            [height]="null"
            [data]="dbData.ecrisMsgNames"
            [primaryKey]="'id'"
            [displayDensity]="'compact'"
          >
            <igx-column
              field="firstname"
              header="Име"
              [sortable]="true"
              [dataType]="'string'"
            ></igx-column>
            <igx-column
              field="surname"
              header="Презиме"
              [sortable]="true"
              [dataType]="'string'"
            ></igx-column>
            <igx-column
              field="familyname"
              header="Фамилия"
              [sortable]="true"
              [dataType]="'string'"
            ></igx-column>
          </igx-grid>
        </div>

        <div class="row mb-3">
          <div class="col-md-5">
            <div class="row col-md-12 cais-display-form-group">
              <span class="label">Пол: </span>
              <span>
                {{ model.sex }}
              </span>
            </div>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-5">
            <div class="row col-md-12 cais-display-form-group">
              <span class="label">Месторождение - държава: </span>
              <span>
                {{ model.birthCountry }}
              </span>
            </div>
          </div>
          <div class="col-md-4">
            <div class="row col-md-12 cais-display-form-group">
              <span class="label">Месторождение - град: </span>
              <span>
                {{ model.birthCity }}
              </span>
            </div>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-5">
            <div class="row col-md-12 cais-display-form-group">
              <span class="label">Гражданство: </span>
              <span>
                {{ model.nationalities }}
              </span>
            </div>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-5">
            <div class="row col-md-12 cais-display-form-group">
              <span class="label">Дата на раждане: </span>
              <span>
                {{ model.birthDate | date }}
              </span>
            </div>
          </div>
        </div>
        <div class="mt-4 mb-4">
          <cais-grao-person-overview
            #graoPeople
            (selectRow)="handleSelectedRow($event)"
            [people]="dbData.graoPeople"
            [genderTypes]="dbData.genderTypes"
            [isForPreview]="this.isForPreview"
          >
          </cais-grao-person-overview>
        </div>
      </div>
    </nb-card-body>
  </nb-card>
</ng-container>

<igx-dialog #cancelIdentificationDialog>
  <form autocomplete="off">
    <div class="dialogNewRecord" style="min-width: 500px">
      <nb-card>
        <nb-card-header>Отказ от обработка</nb-card-header>
        <nb-card-body>
          <div class="row">
            <div class="form-group col-md-12">
              <cais-autocomplete
                [label]="'Причина'"
                [inputFormControl]="
                  cancelIdentificationFormGroup.controls.reasonId
                "
                [parentGroup]="cancelIdentificationFormGroup"
                [inputName]="'reasonId'"
                [items]="dbData.cancelIdentificationTypes"
              >
              </cais-autocomplete>
            </div>
          </div>
        </nb-card-body>
        <nb-card-footer>
          <div class="row">
            <div class="col-6">
              <button
                nbButton
                matRipple
                fullWidth
                status="danger"
                (click)="onCancelIdentification()"
              >
                Запис
              </button>
            </div>
            <div class="col-6">
              <button
                nbButton
                matRipple
                fullWidth
                (click)="cancelIdentificationDialog.close()"
              >
                Отказ
              </button>
            </div>
          </div>
        </nb-card-footer>
      </nb-card>
    </div>
  </form>
</igx-dialog>
