<nb-card >
  <nb-card-header class="card-header-shadow">
    <cais-card-header
      [label]="'Данни за лице'"
      [onCancelFunction]="globalCancelFunction"
      [setForPreview]="true"
    ></cais-card-header>
  </nb-card-header>
  <nb-card-body >
    <div class="row mb-3 mt-3">
      <div class="col-md-4">
        <div class="row col-md-12 cais-display-form-group">
          <span class="label">Имена на кирилица: </span>
          <span>
            {{ model.firstname }} {{ model.surname }} {{ model.familyname }}
          </span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="row col-md-12 cais-display-form-group">
          <span class="label">Имена на латиница: </span>
          <span>
            {{ model.firstnameLat }} {{ model.surnameLat }}
            {{ model.familynameLat }}
          </span>
        </div>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-md-4">
        <div class="row col-md-12 cais-display-form-group">
          <span class="label">Пол: </span>
          <ng-container *ngIf="model.sex == 1">
            <span> Мъж </span>
          </ng-container>
          <ng-container *ngIf="model.sex == 2">
            <span> Жена </span>
          </ng-container>
          <ng-container *ngIf="model.sex == 0">
            <span> Неизвестен </span>
          </ng-container>
        </div>
      </div>
      <div class="col-md-4">
        <div class="row col-md-12 cais-display-form-group">
          <span class="label">Дата на раждане: </span>
          <span>
            {{ model.birthDate | date }}
          </span>
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-4">
        <div class="row col-md-12 cais-display-form-group">
          <span class="label">ЕГН: </span>
          <span>
            {{ model.egn }}
          </span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="row col-md-12 cais-display-form-group">
          <span class="label">ЛНЧ: </span>
          <span>
            {{ model.lnch }}
          </span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="row col-md-12 cais-display-form-group">
          <span class="label">ЛН: </span>
          <span>
            {{ model.ln }}
          </span>
        </div>
      </div>
    </div>
    <div class="cais-display-form-group">
      <div class="label">Място на раждане</div>
    </div>
    <hr />
    <div class="row mb-3">
      <div class="col-md-4">
        <div class="row col-md-12 cais-display-form-group">
          <span class="label">Държава: </span>
          <span>
            {{ model.birthPlace.country.displayName }}
          </span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="row col-md-12 cais-display-form-group">
          <span class="label">Област: </span>
          <span>
            {{ model.birthPlace.districtDisplayName }}
          </span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="row col-md-12 cais-display-form-group">
          <span class="label">Община: </span>
          <span>
            {{ model.birthPlace.municipalityDisplayName }}
          </span>
        </div>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-md-4">
        <div class="row col-md-12 cais-display-form-group">
          <span class="label">Населено място: </span>
          <span>
            {{ model.birthPlace.cityDisplayName }}
          </span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="row col-md-12 cais-display-form-group">
          <span class="label">Oписание в случай на друг адрес: </span>
          <span>
            {{ model.birthPlace.foreignCountryAddress }}
          </span>
        </div>
      </div>
    </div>
    <div class="cais-display-form-group">
      <div class="label">Гражданство</div>
    </div>
    <hr />
    <div class="col-md-4">
      <div class="row col-md-12 cais-display-form-group">
        <span *ngFor="let nationality of model.nationalitiesNames">
          <span class="mt-2 mr-2">
            {{ nationality }}
          </span>
        </span>
      </div>
    </div>
    <div class="cais-display-form-group mt-3">
      <div class="label">Родители</div>
    </div>
    <hr />
    <div class="row mb-3">
      <div class="col-md-4">
        <div class="row col-md-12 cais-display-form-group">
          <span class="label">Майка: </span>
          <span>
            {{ model.motherFirstname }} {{ model.motherSurname }}
            {{ model.motherFamilyname }} {{ model.motherFullname }}
          </span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="row col-md-12 cais-display-form-group">
          <span class="label">Баща: </span>
          <span>
            {{ model.fatherFirstname }} {{ model.fatherSurname }}
            {{ model.fatherFamilyname }} {{ model.fatherFullname }}
          </span>
        </div>
      </div>
    </div>
    <div class="cais-display-form-group">
      <div class="label">Брой бюлетини</div>
    </div>
    <hr />
    <div class="row mb-3">
      <div class="col-md-2">
        <div class="row col-md-12 cais-display-form-group">
          <span class="label"
            >{{ BulletinTypeConstants.bulletin78A.name }}:
          </span>
          <span>
            {{ model.bulletin78ACount }}
          </span>
        </div>
      </div>
      <div class="col-md-2">
        <div class="row col-md-12 cais-display-form-group">
          <span class="label"
            >{{ BulletinTypeConstants.convictionBulletin.name }}:
          </span>
          <span>
            {{ model.convictionBulletinCount }}
          </span>
        </div>
      </div>
      <div class="col-md-2">
        <div class="row col-md-12 cais-display-form-group">
          <span class="label"
            >{{ BulletinTypeConstants.unspecified.name }}:
          </span>
          <span>
            {{ model.bulletinUnspecifiedCount }}
          </span>
        </div>
      </div>
    </div>

    <nb-tabset #nbtabset (changeTab)="onChangeTab($event)">
      <nb-tab #bulletinTab [tabTitle]="bulletinsTabTitle">
        <cais-person-bulletin-overview></cais-person-bulletin-overview>
      </nb-tab>
      <nb-tab #applicationTab [tabTitle]="applicationsTabTitle">
        <ng-container *ngIf="showApplicationsTab">
          <cais-person-application-overview></cais-person-application-overview>
        </ng-container>
      </nb-tab>
      <nb-tab [tabTitle]="eApplicationsTabTitle">
        <ng-container *ngIf="showEApplicationsTab">
          <cais-person-eapplication-overview></cais-person-eapplication-overview>
        </ng-container>
      </nb-tab>
      <nb-tab [tabTitle]="reportsTabTitle">
        <ng-container *ngIf="showReportsTab">
          <cais-person-generated-report-overview></cais-person-generated-report-overview>
        </ng-container>
      </nb-tab>
      <nb-tab [tabTitle]="archiveTabTitle">
        <ng-container *ngIf="showArchiveTab">
          <cais-person-archiv-overview></cais-person-archiv-overview>
        </ng-container>
      </nb-tab>
      <nb-tab [tabTitle]="fbbcsTabTitle">
        <ng-container *ngIf="showFbbcsTab">
          <cais-person-fbbc-overview></cais-person-fbbc-overview>
        </ng-container>
      </nb-tab>
      <nb-tab [tabTitle]="pidsTabTitle">
        <ng-container *ngIf="showPidsTab">
          <cais-person-pid-overview
            [personModel]="this.dbData.element"
          ></cais-person-pid-overview>
        </ng-container>
      </nb-tab>
      <nb-tab [tabTitle]="historyTabTitle">
        <ng-container *ngIf="showHistoryTab">
          <cais-person-history-overview
            [personModel]="this.dbData.element"
          ></cais-person-history-overview>
        </ng-container>
      </nb-tab>
    </nb-tabset>
  </nb-card-body>
</nb-card>
