<nb-card>
  <nb-card-header class="">
    <cais-card-header
      [label]="'Данни за лице'"
      [onCancelFunction]="globalCancelFunction"
      [setForPreview]="true"
    ></cais-card-header>
  </nb-card-header>
  <nb-card-body>
    <div class="card bg-transparent mt-3">
      <div class="card-body">
        <h6>
          <span
            >{{ model.firstname }} {{ model.surname }} {{ model.familyname }}
            {{ model.fullname }}</span
          >
          /
          <span>
            {{ model.firstnameLat }} {{ model.surnameLat }}
            {{ model.familynameLat }} {{ model.fullnameLat }}
          </span>
        </h6>
        <div>
          Пол:
          <ng-container *ngIf="model.sex == 1">
            <span> Мъж </span>
          </ng-container>
          <ng-container *ngIf="model.sex == 2">
            <span> Жена </span>
          </ng-container>
          <ng-container *ngIf="model.sex == 0">
            <span> Неизвестен </span>
          </ng-container>
        </div>
        <div *ngIf="model.birthDate != null">
          Дата на раждане: {{ model.birthDate | date }}
        </div>
        <div>
          <span *ngIf="model.egn != null"> ЕГН: {{ model.egn }} </span>
          <span *ngIf="model.lnch != null"> ЛНЧ: {{ model.lnch }} </span>
          <span *ngIf="model.ln != null"> ЛН: {{ model.ln }} </span>
        </div>
        <div>
          Място за раждане:
          <span>
            <span *ngIf="model.birthPlace.country.displayName != null"
              >{{ model.birthPlace.country.displayName }},
            </span>
            <span *ngIf="model.birthPlace.districtDisplayName != null"
              >{{ model.birthPlace.districtDisplayName }},
            </span>
            <span *ngIf="model.birthPlace.municipalityDisplayName != null"
              >{{ model.birthPlace.municipalityDisplayName }},
            </span>
            <span *ngIf="model.birthPlace.cityDisplayName != null">
              {{ model.birthPlace.cityDisplayName }}
            </span>
          </span>
          <span *ngIf="model.birthPlace.foreignCountryAddress != null" )>
            В случай на друг адрес:
            {{ model.birthPlace.foreignCountryAddress }}</span
          >
        </div>
        <div *ngIf="model.nationalitiesNames != null">
          Гражданство:
          <span *ngFor="let nationality of model.nationalitiesNames">
            <span class="mt-2 mr-2">
              {{ nationality }}
            </span>
          </span>
        </div>
        <div
          *ngIf="
            model.motherFirstname != null ||
            model.motherSurname != null ||
            model.motherFamilyname != null ||
            model.motherFullname != null
          "
        >
          <span>Майка: </span>
          <span>
            {{ model.motherFirstname }} {{ model.motherSurname }}
            {{ model.motherFamilyname }} {{ model.motherFullname }}
          </span>
        </div>
        <div
          *ngIf="
            model.fatherFirstname != null ||
            model.fatherSurname != null ||
            model.fatherFamilyname != null ||
            model.fatherFullname != null
          "
        >
          <span>Баща: </span>
          <span>
            {{ model.fatherFirstname }} {{ model.fatherSurname }}
            {{ model.fatherFamilyname }} {{ model.fatherFullname }}
          </span>
        </div>
        <div>Брой бюлетини:</div>
        <div>
          <span>{{ BulletinTypeConstants.bulletin78A.name }}: </span>
          <span>
            {{ model.bulletin78ACount }}
          </span>

          <span>{{ BulletinTypeConstants.convictionBulletin.name }}: </span>
          <span>
            {{ model.convictionBulletinCount }}
          </span>

          <span>{{ BulletinTypeConstants.unspecified.name }}: </span>
          <span>
            {{ model.bulletinUnspecifiedCount }}
          </span>
        </div>
      </div>
    </div>

    <nb-tabset #nbtabset (changeTab)="onChangeTab($event)">
      <nb-tab #bulletinTab [tabTitle]="bulletinsTabTitle">
        <cais-person-bulletin-overview></cais-person-bulletin-overview>
      </nb-tab>
      <nb-tab #applicationTab [tabTitle]="applicationsTabTitle">
        <ng-container *ngIf="showApplicationsTab">
          <cais-person-application-overview></cais-person-application-overview>
        </ng-container>
      </nb-tab>
      <nb-tab [tabTitle]="eApplicationsTabTitle">
        <ng-container *ngIf="showEApplicationsTab">
          <cais-person-eapplication-overview></cais-person-eapplication-overview>
        </ng-container>
      </nb-tab>
      <nb-tab [tabTitle]="reportsTabTitle">
        <ng-container *ngIf="showReportsTab">
          <cais-person-generated-report-overview></cais-person-generated-report-overview>
        </ng-container>
      </nb-tab>
      <nb-tab [tabTitle]="archiveTabTitle">
        <ng-container *ngIf="showArchiveTab">
          <cais-person-archiv-overview></cais-person-archiv-overview>
        </ng-container>
      </nb-tab>
      <nb-tab [tabTitle]="fbbcsTabTitle">
        <ng-container *ngIf="showFbbcsTab">
          <cais-person-fbbc-overview></cais-person-fbbc-overview>
        </ng-container>
      </nb-tab>
      <nb-tab [tabTitle]="pidsTabTitle">
        <ng-container *ngIf="showPidsTab">
          <cais-person-pid-overview
            [personModel]="this.dbData.element"
          ></cais-person-pid-overview>
        </ng-container>
      </nb-tab>
      <nb-tab [tabTitle]="historyTabTitle">
        <ng-container *ngIf="showHistoryTab">
          <cais-person-history-overview
            [personModel]="this.dbData.element"
          ></cais-person-history-overview>
        </ng-container>
      </nb-tab>
    </nb-tabset>
  </nb-card-body>
</nb-card>
