<div class="font-weight-bold">Справки</div>
<hr />
<igx-grid
  #statusHistoryGrid
  [height]="null"
  [data]="reports"
  [primaryKey]="'id'"
>
  <igx-column
    field="id"
    header="Идентификатор"
    [sortable]="false"
    [dataType]="'string'"
    [hidden]="true"
  >
  </igx-column>
  <igx-column
    field="registrationNumber"
    header="Рег. номер"
    dataType="string"
    [sortable]="true"
  >
  </igx-column>
  <igx-column
    field="firstSigner"
    header="Подписващ 1"
    dataType="string"
    [sortable]="true"
  >
  </igx-column>

  <igx-column
    field="secondSigner"
    header="Подписващ 2"
    dataType="string"
    [sortable]="true"
  >
  </igx-column>

  <igx-column
    field="validFrom"
    [sortable]="true"
    header="Валидна от"
    dataType="date"
    [formatter]="this.dateFormatService.formatDate"
  >
    <ng-template igxCell let-cell="cell">
      <span [title]="this.dateFormatService.displayDate(cell.value)">
        {{ this.dateFormatService.displayDate(cell.value) }}
      </span>
    </ng-template>
  </igx-column>
  <igx-column
    field="validTo"
    [sortable]="true"
    header="Валидна до"
    dataType="date"
    [formatter]="this.dateFormatService.formatDate"
  >
    <ng-template igxCell let-cell="cell">
      <span [title]="this.dateFormatService.displayDate(cell.value)">
        {{ this.dateFormatService.displayDate(cell.value) }}
      </span>
    </ng-template>
  </igx-column>

  <igx-column
    field="statusName"
    header="Статус"
    dataType="string"
    [sortable]="true"
  >
  </igx-column>
  <igx-column
    width="100px"
    header="Действия"
    [sortable]="false"
    [filterable]="false"
  >
    <ng-template igxCell let-cell="cell">
      <ng-container *ngIf="cell.rowData.docId">
        <button
          igxButton="icon"
          [title]="'Изтегляне'"
          (click)="printReport(cell.rowData.docId)"
        >
          <nb-icon pack="fa" icon="download"></nb-icon>
        </button>
      </ng-container>
      <ng-container
        *ngIf="
          !isForPreview &&
          cell.rowData.statusCode ==
            ReportApplicationStatusConstants.ReadyReport
        "
      >
        <button
          igxButton="icon"
          [title]="'Маркирай като доставено'"
          (click)="deliver(cell.rowData.id)"
        >
          <i class="fas fa-check"></i>
        </button>
      </ng-container>

      <ng-container
        *ngIf="
          !isForPreview &&
          cell.rowData.statusCode !=
            ReportApplicationStatusConstants.CanceledReport &&
          cell.rowData.statusCode !=
            ReportApplicationStatusConstants.DeliveredReport
        "
      >
        <button
          igxButton="icon"
          [title]="'Анулиране'"
          (click)="
            onOpenCancelReportDialog(
              cell.rowData.id,
              cell.rowData.firstSignerId,
              cell.rowData.secondSignerId
            )
          "
        >
          <nb-icon pack="fa" icon="times"></nb-icon>
        </button>
      </ng-container>
    </ng-template>
  </igx-column>
</igx-grid>

<igx-dialog #cancelReportDialog>
  <form autocomplete="off">
    <div class="dialogNewRecord" style="min-width: 500px">
      <nb-card>
        <nb-card-header>Анулиране на справка</nb-card-header>
        <nb-card-body>
          <div class="row">
            <div class="form-group col-md-12">
              <cais-input
                [type]="'text'"
                [label]="'Основание'"
                [inputFormControl]="cancelReportFormGroup.controls.description"
                [parentGroup]="cancelReportFormGroup"
                [inputName]="'remarks'"
                [rows]="'3'"
                [inputType]="'TextArea'"
              >
              </cais-input>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-12">
              <cais-autocomplete
                [label]="'Подписващ 1'"
                [inputFormControl]="
                  cancelReportFormGroup.controls.firstSignerId
                "
                [parentGroup]="cancelReportFormGroup"
                [inputName]="'firstSignerId'"
                [items]="users"
              >
              </cais-autocomplete>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-12">
              <cais-autocomplete
                [label]="'Подписващ 2'"
                [inputFormControl]="
                  cancelReportFormGroup.controls.secondSignerId
                "
                [parentGroup]="cancelReportFormGroup"
                [inputName]="'secondSignerId'"
                [items]="users"
              >
              </cais-autocomplete>
            </div>
          </div>
        </nb-card-body>
        <nb-card-footer>
          <div class="row">
            <div class="col-6">
              <button
                nbButton
                matRipple
                fullWidth
                status="danger"
                (click)="cancelReport()"
              >
                Запис
              </button>
            </div>
            <div class="col-6">
              <button
                nbButton
                matRipple
                fullWidth
                (click)="cancelReportDialog.close()"
              >
                Отказ
              </button>
            </div>
          </div>
        </nb-card-footer>
      </nb-card>
    </div>
  </form>
</igx-dialog>
