<nb-card class="card-single-page-height" [formGroup]="fullForm.group">
  <nb-card-header class="card-header-shadow">
    <cais-card-header
      [label]="displayTitle"
      [onSaveFunction]="submitFunction"
      [onCancelFunction]="globalCancelFunction"
    ></cais-card-header>
  </nb-card-header>
  <nb-card-body class="overflow-scroll">
    <form autocomplete="off">
      <div class="font-weight-bold">Имена</div>
      <hr />
      <div class="row">
        <div class="form-group col-md-3">
          <cais-input
            [type]="'text'"
            [label]="'Име на кирилица'"
            [inputFormControl]="fullForm.firstname"
            [parentGroup]="fullForm.group"
          >
          </cais-input>
        </div>
        <div class="form-group col-md-3">
          <cais-input
            [type]="'text'"
            [label]="'Презиме на кирилица'"
            [inputFormControl]="fullForm.surname"
            [parentGroup]="fullForm.group"
          >
          </cais-input>
        </div>
        <div class="form-group col-md-3">
          <cais-input
            [type]="'text'"
            [label]="'Фамилия на кирилица'"
            [inputFormControl]="fullForm.familyname"
            [parentGroup]="fullForm.group"
          >
          </cais-input>
        </div>
        <div class="form-group col-md-3">
          <cais-input
            [type]="'text'"
            [label]="'Имена на кирилица'"
            [inputFormControl]="fullForm.fullname"
            [parentGroup]="fullForm.group"
          >
          </cais-input>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-3">
          <cais-input
            [type]="'text'"
            [label]="'Име на латиница'"
            [inputFormControl]="fullForm.firstnameLat"
            [parentGroup]="fullForm.group"
          >
          </cais-input>
        </div>
        <div class="form-group col-md-3">
          <cais-input
            [type]="'text'"
            [label]="'Презиме на латиница'"
            [inputFormControl]="fullForm.surnameLat"
            [parentGroup]="fullForm.group"
          >
          </cais-input>
        </div>
        <div class="form-group col-md-3">
          <cais-input
            [type]="'text'"
            [label]="'Фамилия на латиница'"
            [inputFormControl]="fullForm.familynameLat"
            [parentGroup]="fullForm.group"
          >
          </cais-input>
        </div>
        <div class="form-group col-md-3">
          <cais-input
            [type]="'text'"
            [label]="'Имена на латиница'"
            [inputFormControl]="fullForm.fullnameLat"
            [parentGroup]="fullForm.group"
          >
          </cais-input>
        </div>
      </div>

      <div class="row mt-3">
        <div class="form-group col-md-3">
          <cais-autocomplete
            [label]="'Пол'"
            [inputFormControl]="fullForm.sex"
            [parentGroup]="fullForm.group"
            [inputName]="'sex'"
            [items]="dbData.genderTypes"
          ></cais-autocomplete>
        </div>
        <div class="form-group col-md-3">
          <cais-input
            [type]="'date'"
            [label]="'Дата на раждане'"
            [inputFormControl]="fullForm.birthDate"
            [parentGroup]="fullForm.group"
          ></cais-input>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-md-3">
          <cais-input
            [type]="'text'"
            [label]="'ЕГН'"
            [inputFormControl]="fullForm.egn"
            [parentGroup]="fullForm.group"
          ></cais-input>
        </div>
        <div class="form-group col-md-3">
          <cais-input
            [type]="'text'"
            [label]="'ЛНЧ'"
            [inputFormControl]="fullForm.lnch"
            [parentGroup]="fullForm.group"
          ></cais-input>
        </div>
        <div class="form-group col-md-3">
          <cais-input
            [type]="'text'"
            [label]="'ЛН'"
            [inputFormControl]="fullForm.ln"
            [parentGroup]="fullForm.group"
          ></cais-input>
        </div>
      </div>
      <div class="font-weight-bold">Място на раждане</div>
      <hr />
      <cais-address-form [parentForm]="fullForm.birthPlace"></cais-address-form>
      <div class="row">
        <div class="form-group col-md-6">
          <cais-autocomplete
            [label]="'Категория'"
            [inputFormControl]="fullForm.birthPlaceAuthId"
            [parentGroup]="fullForm.group"
            [inputName]="'birthPlaceAuthId'"
            [items]="dbData.authorities"
          >
          </cais-autocomplete>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-6">
          <cais-multiple-choose
            [label]="'Гражданство'"
            [inputFormControl]="fullForm.nationalities"
            [parentGroup]="fullForm.group"
            [items]="dbData.countries"
          >
          </cais-multiple-choose>
        </div>
        <div class="form-group col-md-3">
          <cais-input
            [type]="'text'"
            [label]="'АФИС номер'"
            [inputFormControl]="fullForm.afisNumber"
            [parentGroup]="fullForm.group"
          ></cais-input>
        </div>
      </div>

      <div class="font-weight-bold">Документ за самоличност</div>
      <hr />

      <div class="row">
        <div class="form-group col-md-3">
          <cais-input
            [type]="'text'"
            [label]="'Номер на документ'"
            [inputFormControl]="fullForm.idDocNumber"
            [parentGroup]="fullForm.group"
          ></cais-input>
        </div>
        <div class="form-group col-md-3">
          <cais-autocomplete
            [label]="'Категория'"
            [inputFormControl]="fullForm.idDocCategoryId"
            [parentGroup]="fullForm.group"
            [inputName]="'idDocCategoryId'"
            [items]="dbData.idDocumentCategoryTypes"
          >
          </cais-autocomplete>
        </div>
        <div class="form-group col-md-6">
          <cais-input
            [type]="'text'"
            [label]="'Друга категория в случай че липсва в списъка'"
            [inputFormControl]="fullForm.idDocTypeDescr"
            [parentGroup]="fullForm.group"
          ></cais-input>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-md-3">
          <cais-input
            [type]="'text'"
            [label]="'Издаващ орган'"
            [inputFormControl]="fullForm.idDocIssuingAuthority"
            [parentGroup]="fullForm.group"
          ></cais-input>
        </div>
        <div class="form-group col-md-3">
          <cais-input
            [type]="'date'"
            [label]="'Дата на издаване'"
            [inputFormControl]="fullForm.idDocIssuingDate"
            [parentGroup]="fullForm.group"
          ></cais-input>
        </div>
        <div class="form-group col-md-3">
          <cais-input
            [type]="'date'"
            [label]="'Дата на валидност'"
            [inputFormControl]="fullForm.idDocValidDate"
            [parentGroup]="fullForm.group"
          ></cais-input>
        </div>
      </div>

      <div class="font-weight-bold">Родители</div>
      <hr />

      <div class="row">
        <div class="form-group col-md-3">
          <cais-input
            [type]="'text'"
            [label]="'Майка - име'"
            [inputFormControl]="fullForm.motherFirstname"
            [parentGroup]="fullForm.group"
          ></cais-input>
        </div>
        <div class="form-group col-md-3">
          <cais-input
            [type]="'text'"
            [label]="'Майка - презиме'"
            [inputFormControl]="fullForm.motherSurname"
            [parentGroup]="fullForm.group"
          ></cais-input>
        </div>
        <div class="form-group col-md-3">
          <cais-input
            [type]="'text'"
            [label]="'Майка - фамилия'"
            [inputFormControl]="fullForm.motherFamilyname"
            [parentGroup]="fullForm.group"
          ></cais-input>
        </div>
        <div class="form-group col-md-3">
          <cais-input
            [type]="'text'"
            [label]="'Майка - имена'"
            [inputFormControl]="fullForm.motherFullname"
            [parentGroup]="fullForm.group"
          ></cais-input>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-md-3">
          <cais-input
            [type]="'text'"
            [label]="'Баща - име'"
            [inputFormControl]="fullForm.fatherFirstname"
            [parentGroup]="fullForm.group"
          ></cais-input>
        </div>
        <div class="form-group col-md-3">
          <cais-input
            [type]="'text'"
            [label]="'Баща - презиме'"
            [inputFormControl]="fullForm.fatherSurname"
            [parentGroup]="fullForm.group"
          ></cais-input>
        </div>
        <div class="form-group col-md-3">
          <cais-input
            [type]="'text'"
            [label]="'Баща - фамилия'"
            [inputFormControl]="fullForm.fatherFamilyname"
            [parentGroup]="fullForm.group"
          ></cais-input>
        </div>
        <div class="form-group col-md-3">
          <cais-input
            [type]="'text'"
            [label]="'Баща - имена'"
            [inputFormControl]="fullForm.fatherFullname"
            [parentGroup]="fullForm.group"
          ></cais-input>
        </div>
      </div>
    </form>
  </nb-card-body>
</nb-card>
