<ng-container *ngIf="model">
  <div class="row home-panel-container">
    <div class="col-md-6">
      <nb-card accent="info">
        <nb-card-header>Бюлетини</nb-card-header>
        <nb-card-body>
          <nb-list>
            <nb-list-item>
              <a [routerLink]="['/pages/bulletins-new-office']">
                Нови бюлетини ({{ model.bulletinNewOfficeCount }})
              </a>
            </nb-list-item>
            <nb-list-item>
              <a [routerLink]="['/pages/bulletins-new-eiss']">
                Нови бюлетини от ЕИСС ({{ model.bulletinNewEISSCount }})
              </a>
            </nb-list-item>
            <nb-list-item>
              <a [routerLink]="['/pages/bulletins-for-rehabilitation']">
                За реабилитация ({{ model.bulletinForRehabilitationCount }})
              </a>
            </nb-list-item>
            <nb-list-item>
              <a [routerLink]="['/pages/bulletins-for-destruction']">
                За унищожаване ({{ model.bulletinForDestructionCount }})
              </a>
            </nb-list-item>
            <nb-list-item>
              <a [routerLink]="['/pages/isin-identified']">
                За отразяване от ИСИН ({{ model.isinIdentifiedCount }})
              </a>
            </nb-list-item>
          </nb-list>
        </nb-card-body>
      </nb-card>
    </div>
    <div class="col-md-6">
      <div class="row col-md-12">
        <nb-card accent="info" class="col-md-12">
          <nb-card-header>ECRIS</nb-card-header>
          <nb-card-body>
            <nb-list>
              <nb-list-item>
                <a [routerLink]="['/pages/ecris-identification']">
                  За идентификация ({{ model.ecrisForIdentificationCount }})
                </a>
              </nb-list-item>
              <nb-list-item>
                <a [routerLink]="['/pages/ecris-req-waiting']">
                  Запитвания ({{ model.ecrisWaitingForCSAuthorityCount }})
                </a>
              </nb-list-item>
            </nb-list>
          </nb-card-body>
        </nb-card>
      </div>
      <div class="row col-md-12">
        <nb-card accent="info" class="col-md-12">
          <nb-card-header>ISIN</nb-card-header>
          <nb-card-body>
            <nb-list>
              <nb-list-item>
                <a [routerLink]="['/pages/isin-new']">
                  Получени съобщения от ИСИН ({{ model.isinNewCount }})
                </a>
              </nb-list-item>
            </nb-list>
          </nb-card-body>
        </nb-card>
      </div>
    </div>
  </div>
  <div class="row home-panel-container">
    <!-- <div class="col-md-6">
      <nb-card accent="info">
        <nb-card-header>Свидетелства</nb-card-header>
        <nb-card-body>
          <nb-list>
            <nb-list-item>
              <a [routerLink]="['/pages/bulletins-new-office']">
                Очаква преглед на служител (8)
              </a>
            </nb-list-item>
            <nb-list-item>
              <a [routerLink]="['/pages/bulletins-new-eiss']">
                Очаква избор на бюлетини съобразно целта (4)
              </a>
            </nb-list-item>
            <nb-list-item>
              <a [routerLink]="['/pages/bulletins-for-rehabilitation']">
                Заявки за реабилитация (9)
              </a>
            </nb-list-item>
          </nb-list>
        </nb-card-body>
      </nb-card>
    </div> -->
  </div>
</ng-container>
