@infragistics:registry=https://packages.infragistics.com/npm/js-licensed/
always-auth=true

//packages.infragistics.com/npm/js-licensed/:_auth=##PATH##
//packages.infragistics.com/npm/js-licensed/:username=##PATH##
//packages.infragistics.com/npm/js-licensed/:always-auth=true