<nb-card >
  <nb-card-header class="">
    <cais-card-header
      [label]="displayTitle"
      [onSaveFunction]="submitFunction"
      [onCancelFunction]="globalCancelFunction"
      [setForPreview]="this.isForPreview"
    >
      <button
        *ngIf="
          !isForPreview &&
          isEdit() &&
          reportApplicationStatus == ReportApplicationStatusConstants.New
        "
        nbButton
        [status]="'danger'"
        type="button"
        (click)="onOpenDialogForCancelApplication()"
      >
        <nb-icon class="pt-1" [icon]="'xmark'" pack="fa"></nb-icon> Анулирай
      </button>
      <button
        *ngIf="
          !isForPreview &&
          isEdit() &&
          reportApplicationStatus == ReportApplicationStatusConstants.New
        "
        nbButton
        [status]="'primary'"
        type="button"
        (click)="finalEdit()"
      >
        <nb-icon class="pt-1" [icon]="'pen-to-square'" pack="fa"></nb-icon>
        Окончателна редакция
      </button>
    </cais-card-header>
  </nb-card-header>
  <nb-card-body >
    <form autocomplete="off">
      <nb-tabset #nbtabset (changeTab)="onChangeTab($event)">
        <nb-tab tabTitle="Искане">
          <ng-container *ngIf="isEdit()">
            <nb-card status="primary" class="mt-3">
              <nb-card-header>Служебна информация </nb-card-header>

              <nb-card-body>
                <div class="row">
                  <div class="form-group col-md-6">
                    <cais-input
                      [type]="'text'"
                      [label]="'Статус'"
                      [inputFormControl]="fullForm.statusName"
                      [parentGroup]="fullForm.group"
                    ></cais-input>
                  </div>
                  <div class="form-group col-md-6">
                    <cais-input
                      [type]="'text'"
                      [label]="'Номер на искане'"
                      [inputFormControl]="fullForm.registrationNumberDisplay"
                      [parentGroup]="fullForm.group"
                    ></cais-input>
                  </div>
                  <ng-container *ngIf="fullForm.csAuthorityName.value">
                    <div class="form-group col-md-6">
                      <cais-input
                        [type]="'text'"
                        [label]="'Бюро съдимост'"
                        [inputFormControl]="fullForm.csAuthorityName"
                        [parentGroup]="fullForm.group"
                      ></cais-input>
                    </div>
                  </ng-container>
                </div>
              </nb-card-body>
            </nb-card>

            <nb-card status="primary" class="mt-3">
              <nb-card-header>Заявител </nb-card-header>

              <nb-card-body>
                <div class="row">
                  <div class="form-group col-md-6">
                    <cais-input
                      [type]="'text'"
                      [label]="'Пълно име на заявителя'"
                      [inputFormControl]="fullForm.applicantName"
                      [parentGroup]="fullForm.group"
                    ></cais-input>
                  </div>
                  <div class="form-group col-md-6">
                    <cais-input
                      [type]="'text'"
                      [label]="
                        'Допълнителна информация, свързана с получателя на справката'
                      "
                      [inputFormControl]="fullForm.applicantDescr"
                      [parentGroup]="fullForm.group"
                    ></cais-input>
                  </div>
                </div>
              </nb-card-body>
            </nb-card>
          </ng-container>

          <nb-card status="primary" class="mt-3">
            <nb-card-header>Цел </nb-card-header>

            <nb-card-body>
              <div class="row">
                <div class="form-group col-md-3">
                  <cais-autocomplete
                    [inputFormControl]="fullForm.purposeId"
                    [parentGroup]="fullForm.group"
                    [items]="dbData.purposeIds"
                    [inputName]="'purposeId'"
                  >
                  </cais-autocomplete>
                </div>
                <div class="form-group col-md-9">
                  <cais-input
                    [type]="'text'"
                    [inputFormControl]="fullForm.purpose"
                    [parentGroup]="fullForm.group"
                  >
                  </cais-input>
                </div>
              </div>
            </nb-card-body>
          </nb-card>

          <nb-card status="primary" class="mt-3">
            <nb-card-header
              >Информация, събрана по служебен път
            </nb-card-header>

            <nb-card-body>
              <cais-person-form
                [personForm]="fullForm.person"
                [genderTypes]="dbData.genderTypes"
                [countries]="dbData.countries"
                [contextType]="PersonContextEnum.ReportApplication"
                [isEditable]="
                  fullForm.statusCode.value !=
                    ReportApplicationStatusConstants.Approved &&
                  !this.isForPreview
                "
              >
              </cais-person-form>
            </nb-card-body>
          </nb-card>

          <nb-card status="primary" class="mt-3">
            <nb-card-header>Адрес на получател </nb-card-header>

            <nb-card-body>
              <div class="row">
                <div class="form-group col-md-3">
                  <cais-input
                    [type]="'text'"
                    [label]="'Име'"
                    [inputFormControl]="fullForm.addrName"
                    [parentGroup]="fullForm.group"
                  ></cais-input>
                </div>
                <div class="form-group col-md-3">
                  <cais-autocomplete
                    [label]="'Държава'"
                    [inputFormControl]="fullForm.addrState"
                    [parentGroup]="fullForm.group"
                    [items]="dbData.countries"
                    [inputName]="'addrState'"
                  >
                  </cais-autocomplete>
                </div>
                <div class="form-group col-md-3">
                  <cais-input
                    [type]="'text'"
                    [label]="'Област'"
                    [inputFormControl]="fullForm.addrDistrict"
                    [parentGroup]="fullForm.group"
                  ></cais-input>
                </div>

                <div class="form-group col-md-3">
                  <cais-input
                    [type]="'text'"
                    [label]="'Град'"
                    [inputFormControl]="fullForm.addrTown"
                    [parentGroup]="fullForm.group"
                  ></cais-input>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-md-3">
                  <cais-input
                    [type]="'text'"
                    [label]="'ул. №'"
                    [inputFormControl]="fullForm.addrStr"
                    [parentGroup]="fullForm.group"
                  ></cais-input>
                </div>
                <div class="form-group col-md-3">
                  <cais-input
                    [type]="'text'"
                    [label]="'Мобилен телефон'"
                    [inputFormControl]="fullForm.addrPhone"
                    [parentGroup]="fullForm.group"
                  ></cais-input>
                </div>
                <div class="form-group col-md-3">
                  <cais-input
                    [type]="'text'"
                    [label]="'Ел. поща'"
                    [inputFormControl]="fullForm.addrEmail"
                    [parentGroup]="fullForm.group"
                  ></cais-input>
                </div>
              </div>
            </nb-card-body>
          </nb-card>
        </nb-tab>

        <nb-tab
          [tabTitle]="reportsTabTitle"
          *ngIf="
            isEdit() &&
            reportApplicationStatus != ReportApplicationStatusConstants.New
          "
        >
          <ng-container *ngIf="showReportsTab">
            <cais-generated-report-overview [users]="dbData.users">
            </cais-generated-report-overview>
          </ng-container>
        </nb-tab>

        <nb-tab [tabTitle]="historyTabTitle" *ngIf="isEdit() || isForPreview">
          <ng-container *ngIf="showHistoryTab">
            <cais-report-app-history-overview>
            </cais-report-app-history-overview>
          </ng-container>
        </nb-tab>
      </nb-tabset>
    </form>
  </nb-card-body>
</nb-card>
