<nb-card class="search-card" accent="primary" [formGroup]="fullForm.group">
  <nb-card-header>
    <div class="d-flex justify-content-between">
      <h2 class="h4">Търсене на бюлетин</h2>
      <button
        nbButton
        status="primary"
        (click)="onSearch()"
        type="button"
        [disabled]="fullForm.group.pristine"
      >
        <nb-icon
          class="pt-1"
          [icon]="'search'"
          pack="fa"
          title="Търсене"
        ></nb-icon>
        Търсене
      </button>
    </div>
  </nb-card-header>
  <nb-card-body style="overflow: unset">
    <form autocomplete="off">
      <div class="row">
        <div class="form-group col-md-2">
          <cais-input
            [type]="'text'"
            [label]="'Номер на бюлетин'"
            [inputFormControl]="fullForm.registrationNumber"
            [parentGroup]="fullForm.group"
          ></cais-input>
        </div>
        <div class="form-group col-md-2">
          <cais-autocomplete
            [label]="'Тип на бюлетин'"
            [inputFormControl]="fullForm.bulletinType"
            [parentGroup]="fullForm.group"
            [inputName]="'bulletinType'"
            [items]="dbData.bulletinTypes"
          >
          </cais-autocomplete>
        </div>
        <div class="form-group col-md-2">
          <cais-autocomplete
            [label]="'Статус'"
            [inputFormControl]="fullForm.statusId"
            [parentGroup]="fullForm.group"
            [inputName]="'statusId'"
            [items]="bulletinStatuses"
          ></cais-autocomplete>
        </div>
        <div class="form-group col-md-2">
          <cais-input
            [type]="'text'"
            [label]="'Дело номер'"
            [inputFormControl]="fullForm.caseNumber"
            [parentGroup]="fullForm.group"
          ></cais-input>
        </div>
        <div class="form-group col-md-2">
          <cais-input
            [type]="'date'"
            [label]="'От дата'"
            [inputFormControl]="fullForm.fromDate"
            [parentGroup]="fullForm.group"
          ></cais-input>
        </div>
        <div class="form-group col-md-2">
          <cais-input
            [type]="'date'"
            [label]="'До дата'"
            [inputFormControl]="fullForm.toDate"
            [parentGroup]="fullForm.group"
          ></cais-input>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-2">
          <cais-input
            [type]="'text'"
            [label]="'Име'"
            [inputFormControl]="fullForm.firstname"
            [parentGroup]="fullForm.group"
          ></cais-input>
        </div>
        <div class="form-group col-md-2">
          <cais-input
            [type]="'text'"
            [label]="'Презиме'"
            [inputFormControl]="fullForm.surname"
            [parentGroup]="fullForm.group"
          ></cais-input>
        </div>
        <div class="form-group col-md-2">
          <cais-input
            [type]="'text'"
            [label]="'Фамилия'"
            [inputFormControl]="fullForm.familyname"
            [parentGroup]="fullForm.group"
          ></cais-input>
        </div>
        <div class="form-group col-md-2">
          <cais-input
            [type]="'text'"
            [label]="'ЕГН'"
            [inputFormControl]="fullForm.egn"
            [parentGroup]="fullForm.group"
          >
          </cais-input>
        </div>
        <div class="form-group col-md-2">
          <cais-input
            [type]="'text'"
            [label]="'ЛНЧ'"
            [inputFormControl]="fullForm.lnch"
            [parentGroup]="fullForm.group"
          >
          </cais-input>
        </div>
        <div class="form-group col-md-2">
          <cais-input
            [type]="'date'"
            [label]="'Дата на раждане'"
            [inputFormControl]="fullForm.birthDate"
            [parentGroup]="fullForm.group"
          ></cais-input>
        </div>
      </div>
    </form>
  </nb-card-body>
</nb-card>
<nb-card class="mt-2">
  <cais-bulletin-search-overview #searchBulletinGrid [searchForm]="fullForm">
  </cais-bulletin-search-overview>
</nb-card>
