<nb-card class="card-single-page-height" [formGroup]="fullForm.group">
  <nb-card-header class="card-header-shadow">
    <div class="d-flex" style="justify-content: space-between">
      <div class="d-flex align-items-center">
        <div style="font-weight: bold; font-size: 22px">{{ title }}</div>
      </div>
      <div class="d-flex">
        <div>
          <button
            (click)="onSearch()"
            nbButton
            matRipple
            type="button"
            class="ml-2"
            style="min-width: 100px"
          >
            Търсене
          </button>
        </div>
      </div>
    </div>
  </nb-card-header>
  <nb-card-body class="overflow-scroll">
    <form autocomplete="off">
      <div class="font-weight-bold">Данни за бюлетин</div>
      <hr />
      <div class="row">
        <div class="form-group col-md-3">
          <cais-autocomplete
            [label]="'Бюро съдимост'"
            [inputFormControl]="fullForm.authorityId"
            [parentGroup]="fullForm.group"
            [inputName]="'authorityId'"
            [items]="dbData.authorities"
          ></cais-autocomplete>
        </div>
        <div class="form-group col-md-3">
          <cais-input
            [type]="'text'"
            [label]="'Номер'"
            [inputFormControl]="fullForm.registrationNumber"
            [parentGroup]="fullForm.group"
          ></cais-input>
        </div>
        <div class="form-group col-md-3">
          <cais-autocomplete
            [label]="'Вид'"
            [inputFormControl]="fullForm.bulletinType"
            [parentGroup]="fullForm.group"
            [inputName]="'bulletinType'"
            [items]="dbData.bulletinTypes"
          ></cais-autocomplete>
        </div>
        <div class="form-group col-md-3">
          <cais-autocomplete
            [label]="'Статус'"
            [inputFormControl]="fullForm.statusId"
            [parentGroup]="fullForm.group"
            [inputName]="'statusId'"
            [items]="dbData.statuses"
          ></cais-autocomplete>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-3">
          <cais-input
            [type]="'date'"
            [label]="'Датата на постъпване на хартиения бюлетин'"
            [inputFormControl]="fullForm.bulletinReceivedDate"
            [parentGroup]="fullForm.group"
          ></cais-input>
        </div>
      </div>
      <div class="font-weight-bold">Данни за акта</div>
      <hr />
      <div class="row">
        <div class="form-group col-md-3">
          <cais-autocomplete
            [label]="'Съд, постановил акта'"
            [inputFormControl]="fullForm.decidingAuthId"
            [parentGroup]="fullForm.group"
            [inputName]="'decidingAuthId'"
            [items]="dbData.decidingAuthorities"
          ></cais-autocomplete>
        </div>

        <div class="form-group col-md-3">
          <cais-input
            [type]="'text'"
            [label]="'Номер'"
            [inputFormControl]="fullForm.decisionNumber"
            [parentGroup]="fullForm.group"
          ></cais-input>
        </div>

        <div class="form-group col-md-3">
          <cais-autocomplete
            [label]="'Вид'"
            [inputFormControl]="fullForm.decisionTypeId"
            [parentGroup]="fullForm.group"
            [inputName]="'decisionTypeId'"
            [items]="dbData.decisionTypes"
          ></cais-autocomplete>
        </div>

        <div class="form-group col-md-3">
          <cais-input
            [type]="'date'"
            [label]="'Дата'"
            [inputFormControl]="fullForm.decisionDate"
            [parentGroup]="fullForm.group"
          ></cais-input>
        </div>

        <div class="form-group col-md-3">
          <cais-input
            [type]="'date'"
            [label]="'Дата на влизане в сила на акта'"
            [inputFormControl]="fullForm.decisionFinalDate"
            [parentGroup]="fullForm.group"
          ></cais-input>
        </div>
      </div>
      <div class="font-weight-bold">Данни за дело</div>
      <hr />
      <div class="row">
        <div class="form-group col-md-3">
          <cais-autocomplete
            [label]="'Вид'"
            [inputFormControl]="fullForm.caseTypeId"
            [parentGroup]="fullForm.group"
            [inputName]="'caseTypeId'"
            [items]="dbData.caseTypes"
          ></cais-autocomplete>
        </div>
        <div class="form-group col-md-3">
          <cais-input
            [type]="'text'"
            [label]="'Номер'"
            [inputFormControl]="fullForm.caseNumber"
            [parentGroup]="fullForm.group"
          ></cais-input>
        </div>
        <div class="form-group col-md-3">
          <cais-input
            [type]="'text'"
            [label]="'Година'"
            [inputFormControl]="fullForm.caseYear"
            [parentGroup]="fullForm.group"
          ></cais-input>
        </div>
      </div>
      <!-- <div class="font-weight-bold">Престъпление</div>
      <hr /> -->
      <div class="row">
        <div class="form-group col-md-3">
          <cais-lookup
            [label]="'Деяние'"
            [inputControl]="fullForm.offenceCategory"
            [parentGroup]="fullForm.offenceCategory.group"
            [openFunction]="openOffenceCategoryDialog"
          ></cais-lookup>
        </div>
        <!-- </div> -->
        <!-- <div class="font-weight-bold">Накзание</div>
      <hr /> -->
        <!-- <div class="row"> -->
        <div class="form-group col-md-3">
          <cais-autocomplete
            [label]="'Вид наказание'"
            [inputFormControl]="fullForm.sanctCategoryId"
            [parentGroup]="fullForm.group"
            [inputName]="'sanctCategoryId'"
            [items]="dbData.sanctionCategories"
          ></cais-autocomplete>
        </div>
        <div class="form-group col-md-3">
          <cais-input
            [type]="'number'"
            [label]="'Размер'"
            [inputFormControl]="fullForm.fineAmount"
            [parentGroup]="fullForm.group"
          ></cais-input>
        </div>
      </div>
      <div class="font-weight-bold">Период</div>
      <hr />
      <div class="row">
        <div class="form-group col-md-3">
          <cais-input
            [type]="'date'"
            [label]="'От'"
            [inputFormControl]="fullForm.fromDate"
            [parentGroup]="fullForm.group"
          ></cais-input>
        </div>
        <div class="form-group col-md-3">
          <cais-input
            [type]="'date'"
            [label]="'До'"
            [inputFormControl]="fullForm.toDate"
            [parentGroup]="fullForm.group"
          ></cais-input>
        </div>
      </div>
    </form>
    <cais-report-bulletin-search-overview
      #bulletinReportOverview
      [searchForm]="fullForm"
    >
    </cais-report-bulletin-search-overview>
  </nb-card-body>
</nb-card>
