<div class="my-3">
  <app-grid-with-transactions [gridTransactions]="transactions">
    <igx-grid #personAliasGrid [height]="null" [data]="gridData" [primaryKey]="'id'">
      <igx-grid-toolbar>
        <igx-grid-toolbar-title>
          <span class="fw-bold">Псевдоним или други използвани имена</span></igx-grid-toolbar-title>
        <igx-grid-toolbar-actions>
          <div class="d-flex gap-2">
            <igx-grid-toolbar-hiding class="mt-1"></igx-grid-toolbar-hiding>
            <button nbButton [status]="'primary'" (click)="personAliasDialog.open()" *ngIf="isGridEditable">
              <nb-icon class="pt-1" [icon]="'plus'" pack="fa"></nb-icon>
              Добави
            </button>
          </div>
        </igx-grid-toolbar-actions>
      </igx-grid-toolbar>

      <igx-column field="id" header="Идентификатор" [sortable]="false" [dataType]="'string'" [hidden]="true">
      </igx-column>

      <igx-column field="typeName" header="Тип" [sortable]="true" [dataType]="'string'"></igx-column>

      <igx-column field="firstname" header="Име" [sortable]="true" [dataType]="'string'"></igx-column>

      <igx-column field="surname" header="Презиме" [sortable]="true" [dataType]="'string'"></igx-column>

      <igx-column field="familyname" header="Фамилия" [sortable]="true" [dataType]="'string'"></igx-column>

      <igx-column field="fullname" header="Имена" dataType="string" [sortable]="true">
      </igx-column>

      <igx-action-strip #actionstrip>
        <button *ngIf="isGridEditable" title="Редактирай" igxButton="icon" igxRipple
          (click)="onOpenEditPersonAlias(actionstrip.context)">
          <igx-icon>edit</igx-icon>
        </button>
        <button *ngIf="isGridEditable" title="Изтрии" igxButton="icon" igxRipple
          (click)="onDeletePersonAlias(actionstrip.context)">
          <igx-icon>delete</igx-icon>
        </button>
      </igx-action-strip>
    </igx-grid>
  </app-grid-with-transactions>
</div>
<igx-dialog #personAliasDialog>
  <div class="dialogNewRecord">
    <nb-card>
      <nb-card-header>
        <div class="d-flex gap-3 align-items-center">
          <h5 class="fw-bold">Псевдоним</h5>
          <button nbButton matRipple [status]="'primary'" (click)="onAddOrUpdatePersonAliasRow()" type="button"
            class="ml-2">
            <nb-icon class="pt-1" pack="far" icon="circle-check"></nb-icon> Потвърди
          </button>
          <button nbButton matRipple (click)="onClosePersonAliasDilog()" type="button">
            <nb-icon class="pt-1" pack="far" icon="circle-xmark"></nb-icon> Откажи
          </button>
        </div>
      </nb-card-header>
      <nb-card-body>
        <div class="row mt-2">
          <div class="form-group col-md-12">
            <cais-autocomplete [label]="'Тип'" [inputFormControl]="personAliasForm.typeId"
              [parentGroup]="personAliasForm.group" [items]="personAliasTypes" [inputName]="'typeId'">
            </cais-autocomplete>
          </div>
        </div>

        <div class="row mt-2">
          <div class="form-group col-md-12">
            <cais-input [type]="'text'" [label]="'Име'" [inputFormControl]="personAliasForm.firstname"
              [parentGroup]="personAliasForm.group" [inputName]="'firstname'">
            </cais-input>
          </div>
        </div>

        <div class="row mt-2">
          <div class="form-group col-md-12">
            <cais-input [type]="'text'" [label]="'Презиме'" [inputFormControl]="personAliasForm.surname"
              [parentGroup]="personAliasForm.group" [inputName]="'surname'">
            </cais-input>
          </div>
        </div>

        <div class="row mt-2">
          <div class="form-group col-md-12">
            <cais-input [type]="'text'" [label]="'Фамилия'" [inputFormControl]="personAliasForm.familyname"
              [parentGroup]="personAliasForm.group" [inputName]="'familyname'">
            </cais-input>
          </div>
        </div>

        <div class="row mt-2">
          <div class="form-group col-md-12">
            <cais-input [type]="'text'" [label]="'Имена'" [inputFormControl]="personAliasForm.fullname"
              [parentGroup]="personAliasForm.group" [inputName]="'fullname'">
            </cais-input>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</igx-dialog>