@{
    ViewData["Title"] = "Начална страница";
}

<div class="text-center mb-3">
    <h1 class="mt-2 text-center">Портал за служебен достъп</h1>
    <h4 class="mt-2 text-center">ЦАИС "Съдебен статус"</h4>
</div>

<div class="row text-center">
    <div class="col-md-6" style="margin: 0 auto;">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Заявления и справки</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <div class="mb-3 mt-3">
                        <a class="btn btn-primary col-md-3" asp-controller="Account" asp-action="Login">
                            Вход с КЕП
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
