<!-- <tl-linear-progress
  [visible]="this.remoteService.isLoading"
></tl-linear-progress> -->

  <igx-grid #grid igxGridState [data]="items$ | async" [filterStrategy]="noopFilterStrategy" [height]="null"
    [sortStrategy]="noopSortStrategy" [paging]="true" [clipboardOptions]="{ copyHeaders: false }"
    [displayDensity]="'cosy'" (onSortingDone)="sortingDone($event)" (onFilteringDone)="filteringDone($event)"
    (onSelection)="cellSelection($event)" [paginationTemplate]="pager" [allowFiltering]="true" [primaryKey]="'id'"
    [pinning]="pinningConfig" [cellSelection]="'none'">

    <igx-column field="id" header="Идентификатор" [sortable]="true" [dataType]="'number'" [hidden]="true">
      <ng-template igxCell let-cell="cell">
        <span [title]="cell.value">{{ cell.value }}</span>
      </ng-template>
    </igx-column>

    <igx-column field="identificatiors" header="ЕГН;ЛНЧ" [sortable]="true" [dataType]="'string'">
      <ng-template igxCell let-cell="cell">
        <span [title]="cell.value">{{ cell.value }}</span>
      </ng-template>
    </igx-column>

    <igx-column field="registrationNumber" header="№ на заявление" [sortable]="true" [dataType]="'string'">
      <ng-template igxCell let-cell="cell">
        <span [title]="cell.value">{{ cell.value }}</span>
      </ng-template>
    </igx-column>

    <igx-column field="purpose" header="Цел" [sortable]="true" [dataType]="'string'">
      <ng-template igxCell let-cell="cell">
        <span [title]="cell.value">{{ cell.value }}</span>
      </ng-template>
    </igx-column>

    <igx-column field="firstname" header="Име" [sortable]="true" [dataType]="'string'">
      <ng-template igxCell let-cell="cell">
        <span [title]="cell.value">{{ cell.value }}</span>
      </ng-template>
    </igx-column>

    <igx-column field="surname" header="Презиме" [sortable]="true" [dataType]="'string'">
      <ng-template igxCell let-cell="cell">
        <span [title]="cell.value">{{ cell.value }}</span>
      </ng-template>
    </igx-column>

    <igx-column field="familyname" header="Фамилия" [sortable]="true" [dataType]="'string'">
      <ng-template igxCell let-cell="cell">
        <span [title]="cell.value">{{ cell.value }}</span>
      </ng-template>
    </igx-column>

    <igx-column field="birthDate" header="Дата на раждане" [sortable]="true" [dataType]="'date'">
      <ng-template igxCell let-cell="cell">
        <span [title]="this.dateFormatService.displayDate(cell.value)">
          {{ this.dateFormatService.displayDate(cell.value) }}
        </span>
      </ng-template>
    </igx-column>

    <igx-column field="birthPlaceOther" header="Място на раждане" [sortable]="true" [dataType]="'string'">
      <ng-template igxCell let-cell="cell">
        <span [title]="cell.value">{{ cell.value }}</span>
      </ng-template>
    </igx-column>

    <igx-column field="csAuthorityBirth" header="БС - месторождение" [sortable]="true" [dataType]="'string'">
      <ng-template igxCell let-cell="cell">

        <span [title]="cell.value">{{ cell.value }}</span>

      </ng-template>
    </igx-column>

    <igx-column width="140px" header="Действия" [sortable]="false" [filterable]="false" [pinned]="true">
      <ng-template igxCell let-cell="cell">
        <div class="cell-center">
          <a [title]="'Преглед'" [routerLink]="['/pages/applications/preview', cell.rowData.id]">
            <nb-icon pack="fa" icon="eye"></nb-icon>
          </a>
          <a *ngIf="hideStatus" [title]="'Редактиране'" [routerLink]="['/pages/applications/edit', cell.rowData.id]">
            <nb-icon pack="fa" icon="pen"></nb-icon>
          </a>
        </div>
      </ng-template>
    </igx-column>

    <ng-template #pager let-grid>
      <div class="tl-paginator">
        <cais-grid-pager [page]="remoteService.pagerParams.page" [perPage]="remoteService.pagerParams.perPage"
          [totalCount]="remoteService.pagerParams.totalCount" (pagerChange)="pagerChange($event)"
          [excelReference]="excelExportAll"></cais-grid-pager>
      </div>
    </ng-template>
  </igx-grid>
