<nb-card>
  <nb-card-body>
    <ng-container>
      <h2 class="mt-0">{{ title }}</h2>
      <div style="display: flex; align-items: center; justify-content: space-between;">
        <button
          nbButton
          matRipple
          [status]="'success'"
          type="button"
          [title]="'Ръчно въвеждане'"
          (click)="navigateToApplicationCreate()"
        >
          Ръчно въвеждане
        </button>
        <button
          nbButton
          matRipple
          [status]="'danger'"
          type="button"
          [title]="'Анулирай'"
          (click)="changeStatusToCanceled()"
        >
          Анулирай
        </button>
      </div>
    </ng-container>
  </nb-card-body>
</nb-card>
