
<div [formGroup]="parentGroup"
[ngClass]="setInvalidContainer()"    
>
  <ng-container>
    <label for="{{ inputName }}" class="label" style="margin-bottom: 5px;"
      >{{ label }}
      <ng-container *ngIf="formUtils.hasRequiredField(inputControl.id)"
        ><span class="text-danger">*</span></ng-container
      ></label
    >

    <input
      type="hidden"
      nbInput
      formControlName="{{ inputId }}"
      name="{{ inputId }}"
    />

    <nb-form-field>
      <input
        type="text"
        nbInput
        fullWidth
        readonly="readonly"
        formControlName="{{ inputName }}"
        [ngClass]="validationCss()"
        [class.lookup-read-only]="parentGroup.disabled"
        name="{{ inputName }}"
      />

      <button
        [disabled]="inputControl.id.disabled"
        type="button"
        nbSuffix
        nbButton
        ghost
        (click)="openLookupFunction()"
      >
        <nb-icon
          [icon]="'search'"
          pack="fa"
          title="Търсене"
        ></nb-icon>
      </button>

      <button
        [disabled]="inputControl.id.disabled"
        type="button"
        nbSuffix
        nbButton
        ghost
        (click)="clearSelection()"
      >
        <nb-icon
          [icon]="'times'"
          pack="fa"
          title="Изчистване на стойност"
        ></nb-icon>
      </button>
    </nb-form-field>
  </ng-container>

  <cais-validation-message
    label="{{ inputName }}"
    [showRequired]="
      inputControl.id?.errors?.required && inputHasBeenInteracted()
    "
  ></cais-validation-message>
</div>
