<?xml version="1.0" encoding="utf-8"?>
<configuration>

<system.webServer>
  <rewrite>
    <rules>
      <rule name="SecureRedirect" stopProcessing="true">
        <match url="^(.*)$" />
        <conditions>
          <add input="{HTTPS}" pattern="off" />
          <add input="{HTTP_HOST}" pattern="^(.*)$" />
        </conditions>
        <action type="Redirect" url="https://{C:0}" redirectType="Permanent" />
      </rule>
      <rule name="Ignore Identity Server" stopProcessing="true">
          <match url="^auth/" />
          <action type="None" />
      </rule>
      <rule name="Ignore API" stopProcessing="true">
          <match url="^api/" />
          <action type="None" />
      </rule>
      <rule name="Angular Routes" stopProcessing="true">
        <match url=".*" />
        <conditions logicalGrouping="MatchAll">
          <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
          <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
        </conditions>
        <action type="Rewrite" url="./index.html" />
      </rule>
    </rules>
  </rewrite>
</system.webServer>

</configuration>