<div class="d-flex justify-content-between">
  <div class="d-flex align-items-center">
    <h2 class="h5">{{ label }}</h2>
  </div>
  <div class="d-flex gap-2">
    <ng-content></ng-content>

    <button
      *ngIf="!isForPreview"
      nbButton
      matRipple
      [status]="'primary'"
      (click)="onSaveFunction()"
      type="button"
    >
      <nb-icon class="pt-1" pack="fa" icon="save"></nb-icon> Запази
    </button>

    <button nbButton matRipple (click)="onCancelFunction()" type="button">
      <ng-container *ngIf="isForPreview">
        <nb-icon class="pt-1" [icon]="'rotate-left'" pack="fa"></nb-icon> Назад
      </ng-container>
      <ng-container *ngIf="!isForPreview">
        <nb-icon class="pt-1" [icon]="'xmark'" pack="fa"></nb-icon> Отказ
      </ng-container>
    </button>

    <button
      *ngIf="isForEdit && isForDelete && !isForPreview"
      nbButton
      matRipple
      [status]="'danger'"
      (click)="onDeleteFunction()"
      type="button"
    >
      <nb-icon class="pt-1" [icon]="'trash'" pack="fa"></nb-icon> Изтрий
    </button>
  </div>
</div>
