<tl-linear-progress
  [visible]="this.remoteService?.isLoading"
></tl-linear-progress>
<igx-grid
  #grid
  igxGridState
  [data]="items$ | async"
  [height]="null"
  [filterStrategy]="noopFilterStrategy"
  [sortStrategy]="noopSortStrategy"
  [paging]="true"
  [clipboardOptions]="{ copyHeaders: false }"
  [displayDensity]="'cosy'"
  (onSortingDone)="sortingDone($event)"
  (onFilteringDone)="filteringDone($event)"
  (onSelection)="cellSelection($event)"
  [paginationTemplate]="pager"
  [allowFiltering]="true"
  [primaryKey]="'id'"
  [pinning]="pinningConfig"
  [cellSelection]="'none'"
>
  <igx-column
    field="id"
    header="Идентификатор"
    [sortable]="true"
    [dataType]="'number'"
    [hidden]="true"
  >
  </igx-column>
  <igx-column
    field="tablenameDesc"
    header="Източник"
    [sortable]="true"
    [dataType]="'string'"
    [resizable]="true"
  >
  </igx-column>
  <igx-column
    field="descr"
    header="Описание"
    [sortable]="true"
    [dataType]="'string'"
    [resizable]="true"
  >
  </igx-column>
  <igx-column
    field="name"
    header="Имена на кирилица"
    [sortable]="true"
    [dataType]="'string'"
    [width]="'20%'"
    [resizable]="true"
  >
  </igx-column>
  <igx-column
    field="nameLat"
    header="Имена на латиница"
    [sortable]="true"
    [dataType]="'string'"
    [width]="'20%'"
    [resizable]="true"
  >
  </igx-column>
  <igx-column
    field="sex"
    [width]="'8%'"
    header="Пол"
    [sortable]="true"
    [dataType]="'string'"
    [resizable]="true"
  >
  </igx-column>
  <igx-column
    field="pids"
    header="Идентификтори"
    [sortable]="true"
    [dataType]="'string'"
    [filterable]="false"
  >
  </igx-column>
  <igx-column
    field="citizenShips"
    header="Гражданство"
    [sortable]="true"
    [dataType]="'string'"
    [filterable]="false"
  >
  </igx-column>
  <igx-column
    field="birthDate"
    header="Дата на раждане"
    [sortable]="true"
    [dataType]="'date'"
    [resizable]="true"
  >
    <ng-template igxCell let-cell="cell">
      <span [title]="this.dateFormatService.displayDate(cell.value)">
        {{ this.dateFormatService.displayDate(cell.value) }}
      </span>
    </ng-template>
  </igx-column>

  <igx-column
    field="birthCountry"
    header="Държава"
    [sortable]="true"
    [dataType]="'string'"
    [resizable]="true"
  >
  </igx-column>
  <igx-column
    field="birthCity"
    header="Град"
    [sortable]="true"
    [dataType]="'string'"
    [resizable]="true"
  >
  </igx-column>
  <igx-column
    field="birthPlaceOther"
    header="Място на раждане (описание)"
    [sortable]="true"
    [dataType]="'string'"
    [resizable]="true"
  >
  </igx-column>

  <igx-column
    field="motherName"
    header="Имена на майка"
    [sortable]="true"
    [dataType]="'string'"
    [width]="'20%'"
    [resizable]="true"
  >
  </igx-column>
  <igx-column
    field="fatherName"
    header="Имена на баща"
    [sortable]="true"
    [dataType]="'string'"
    [width]="'20%'"
    [resizable]="true"
  >
  </igx-column>
  <igx-column
    width="50px"
    header="Действия"
    [sortable]="false"
    [filterable]="false"
    [pinned]="true"
    [disableHiding]="true"
  >
    <ng-template igxCell let-cell="cell">
      <div class="cell-center">
        <div class="d-flex gap-3">
          <button
            class="btn btn-link"
            [title]="'Преглед'"
            [disabled]="!(cell.rowData.tablename && cell.rowData.tableId)"
            (click)="onPreview(cell.rowData.tablename, cell.rowData.tableId)"
          >
            <nb-icon pack="fa" icon="eye"></nb-icon>
          </button>
        </div>
      </div>
    </ng-template>
  </igx-column>
  <ng-template #pager let-grid>
    <div class="tl-paginator">
      <cais-grid-pager
        [page]="remoteService.pagerParams.page"
        [perPage]="remoteService.pagerParams.perPage"
        [totalCount]="remoteService.pagerParams.totalCount"
        (pagerChange)="pagerChange($event)"
      ></cais-grid-pager>
    </div>
  </ng-template>
</igx-grid>
