<ng-container *ngIf="model">
  <nb-card >
    <nb-card-header class="card-header-shadow">
      <div class="d-flex justify-content-between">
        <div class="d-flex align-items-center">
          <h2 class="h5">Съобщение за изтърпяно наказание</h2>
        </div>
        <div class="d-flex">
          <button
            nbButton
            matRipple
            (click)="globalCancelFunction()"
            type="button"
          >
            <nb-icon class="pt-1" [icon]="'rotate-left'" pack="fa"></nb-icon>
            Назад
          </button>
        </div>
      </div>
    </nb-card-header>
    <nb-card-body >
      <cais-isin-data-form [model]="model"> </cais-isin-data-form>
      <cais-isin-bulletin-overview> </cais-isin-bulletin-overview>
    </nb-card-body>
  </nb-card>
</ng-container>
