<nb-card class="card-single-page-height" [formGroup]="fullForm.group">
  <nb-card-header class="card-header-shadow">
    <cais-card-header
      [label]="displayTitle"
      [onSaveFunction]="submitFunction"
      [onCancelFunction]="globalCancelFunction"
    ></cais-card-header>
  </nb-card-header>
  <nb-card-body>
    <form autocomplete="off">
      <ng-template [ngxPermissionsOnly]="['GlobalAdmin']">
        <div class="row">
          <div class="form-group col-md-12">
            <cais-autocomplete
              [label]="'Бюро съдимост'"
              [inputFormControl]="fullForm.csAuthorityId"
              [parentGroup]="fullForm.group"
              [inputName]="'csAuthorityId'"
              [items]="dbData.csAuthorities"
            ></cais-autocomplete>
          </div>
        </div>
      </ng-template>
      <div class="row">
        <div class="form-group col-md-4">
          <cais-input
            [type]="'text'"
            [label]="'Име'"
            [inputFormControl]="fullForm.firstname"
            [parentGroup]="fullForm.group"
          ></cais-input>
        </div>
        <div class="form-group col-md-4">
          <cais-input
            [type]="'text'"
            [label]="'Презиме'"
            [inputFormControl]="fullForm.surname"
            [parentGroup]="fullForm.group"
          ></cais-input>
        </div>
        <div class="form-group col-md-4">
          <cais-input
            [type]="'text'"
            [label]="'Фамилия'"
            [inputFormControl]="fullForm.familyname"
            [parentGroup]="fullForm.group"
          ></cais-input>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-4">
          <cais-input
            [type]="'text'"
            [label]="'ЕГН'"
            [inputFormControl]="fullForm.egn"
            [parentGroup]="fullForm.group"
          ></cais-input>
        </div>
        <div class="form-group col-md-4">
          <cais-input
            [type]="'text'"
            [label]="'Позиция'"
            [inputFormControl]="fullForm.position"
            [parentGroup]="fullForm.group"
          ></cais-input>
        </div>
       <div class="form-group col-md-4">
          <cais-input
            [type]="'text'"
            [label]="'Електронна поща'"
            [inputFormControl]="fullForm.email"
            [parentGroup]="fullForm.group"
          ></cais-input>
        </div> 
      </div>
      <div class="row">
        <div class="form-group col-md-12">
          <cais-multiple-choose
            [label]="'Роля'"
            [inputFormControl]="fullForm.roles"
            [parentGroup]="fullForm.group"
            [items]="dbData.roles"
          >
          </cais-multiple-choose>
        </div>
      </div>
      <div class="row mt-2">
        <div class="form-group col-md-2">
          <nb-checkbox [formControl]="fullForm.active">Активен</nb-checkbox>
        </div>
      </div>
    </form>
  </nb-card-body>
</nb-card>
