<div class="header-container">
  <div class="logo-container">
    <a (click)="toggleSidebar()" href="#" class="sidebar-toggle">
      <nb-icon icon="menu-2-outline"></nb-icon>
    </a>
    <a class="logo" href="#" (click)="navigateHome()"
      ><h1 style="font-size: 20px; font-weight: 600">
        <img src="assets/images/logo.png" id="cais-logo" />
        <span style="padding-left: 5px; margin-left: 5px"
          >ЦАИС Съдебен статус</span
        >
        <span *ngIf="origin !== 'https://crr-internal.mjs.bg'" style="padding-left: 5px; margin-left: 5px" class="text-white bg-danger"
        >Непродукционна среда</span
      >
      </h1>
    </a>
  </div>
  <nb-select
    [selected]="currentTheme"
    (selectedChange)="changeTheme($event)"
  >
    <nb-option *ngFor="let theme of themes" [value]="theme.value">
      {{ theme.name }}</nb-option
    >
  </nb-select>
</div>

<div class="header-container">
  <a style="cursor: pointer;" [title]="'Информация'" (click)="navigateToHelp()">
    <i class="fas fa-question-circle"></i>
  </a>
  <nb-actions size="small">
    <nb-action class="user-action">
      <nb-user
        [nbContextMenu]="userMenu"
        [onlyPicture]="userPictureOnly"
        [name]="user?.name"
      >
      </nb-user>
    </nb-action>
  </nb-actions>
</div>
