@using MJ_CAIS.WebPortal.Public.Models.Conviction

@model ConvictionCodeDisplayModel

@{
    ViewData["Title"] = "Преглед";
    var names = $"{Model.Firstname} {Model.Surname} {Model.Familyname}";
    var namesLat = $"{Model.FirstnameLat} {Model.SurnameLat} {Model.FamilynameLat}";
}

@if (Model.IsEmptyResponse)
{
    <div class="text-center">
        <h3>Няма данни за свидетелство с код: @Model.SearchCode</h3>
    </div>
}