@using MJ_CAIS.WebPortal.Public.Models.Conviction

@model ConvictionCodeDisplayModel

@{
    ViewData["Title"] = "Преглед";
    var names = $"{Model.Firstname} {Model.Surname} {Model.Familyname }";
    var namesLat = $"{Model.FirstnameLat} {Model.SurnameLat} {Model.FamilynameLat }";
}

@if (Model.IsEmptyResponse)
{
    <div class="text-center">
        <h3>Няма данни за свидетелство с код: @Model.SearchCode</h3>
    </div>
}
else
{
    <link rel="stylesheet" href="~/css/custom-css/conviction-display.css" asp-append-version="true" />

    <div class="content p_top_10">

        <div class="home_check home_check_fullwidth">
            <h1>Свидетелство за съдимост</h1>

            <div class="bg_signed_sample" style="background-color: #FFFFFF; -o-box-shadow:0px 0px 17px #969696; -moz-box-shadow:0px 0px 17px #969696; -webkit-box-shadow:0px 0px 17px #969696; box-shadow:0px 0px 17px #969696;">
                <table class="bg_signed" width="100%" cellpadding="0" cellspacing="0" style="font-size: 14px; font-family: Verdana;">
                    <tbody>
                        <tr>
                            <td style="font-size: 14px;" align="left">Регистрационен номер: 13021500014</td>
                            <td style="font-size: 14px;" align="right">Bалидно до: <strong>15 август 2013</strong></td>
                        </tr>
                        <tr>
                            <td style="font-size: 14px; padding-bottom: 10px; border-bottom: 1px solid #000000;" align="left">Registration number: 13021500014<br></td>
                            <td style="font-size: 14px; padding-bottom: 10px; border-bottom: 1px solid #000000;" align="right">Date of expiry: <b>15 August 2013</b><br></td>
                        </tr>
                        <tr style="height: 30px;">
                            <td colspan="2">              <br>          </td>
                        </tr>
                        <tr>
                            <td colspan="2" align="center" style="font-size: 16px;"><strong>ЕЛЕКТРОННО СВИДЕТЕЛСТВО ЗА СЪДИМОСТ</strong></td>
                        </tr>
                        <tr>
                            <td colspan="2" align="center" style="font-size: 16px;"><strong>ELECTRONIC CONVICTION STATUS CERTIFICATE</strong></td>
                        </tr>
                        <tr>
                            <td colspan="2" align="center" height="30px;">              <br>          </td>
                        </tr>
                        <tr>          <td colspan="2" align="center">МИНИСТЕРСТВО НА ПРАВОСЪДИЕТО НА РЕПУБЛИКА БЪЛГАРИЯ</td>      </tr>
                        <tr>          <td colspan="2" align="center">MINISTRY OF JUSTICE OF THE REPUBLIC OF BULGARIA</td>      </tr>
                        <tr style="height: 40px;">          <td colspan="2" align="center">              <br>          </td>      </tr>
                        <tr>          <td colspan="2" align="left">Удостоверява, че лицето:</td>      </tr>
                        <tr>          <td colspan="2" align="left">Certifies that the person:</td>      </tr>
                        <tr style="height: 30px;">          <td colspan="2" align="center">              <br>          </td>      </tr>
                        <tr>          <td colspan="2" align="center" style="font-size: 20px;"><strong>НИКОЛАЙ ИВАНОВ ПЕТРОВ</strong></td>      </tr>
                        <tr>          <td colspan="2" align="center">(име, презиме и фамилия)</td>      </tr>
                        <tr>          <td colspan="2" align="center">              <br>          </td>      </tr>
                        <tr>          <td colspan="2" align="center" style="font-size: 20px;"><strong>NIKOLAY IVANOV PETROV</strong></td>      </tr>
                        <tr>          <td colspan="2" align="center">(name, father’s name, surname)</td>      </tr>
                        <tr style="height: 30px;">          <td colspan="2" align="center">              <br>          </td>      </tr>
                        <tr>          <td colspan="2" align="left">ЕГН: <b>8406123846</b></td>      </tr>
                        <tr>          <td colspan="2" align="left">Personal number: <b>8406123846</b></td>      </tr>
                        <tr style="height: 30px;">          <td colspan="2" align="left">              <br>          </td>      </tr>
                        <tr>          <td colspan="2" align="left">Роден(а): <b>12 юни 1984</b></td>      </tr>
                        <tr>          <td colspan="2" align="left">Date of birth: <b>12 June 1984</b></td>      </tr>
                        <tr>          <td colspan="2" align="left">              <br>          </td>      </tr>
                        <tr>
                            <td colspan="2" align="center" style="font-size: 16px;">              <br>              <strong>НЕ Е ОСЪЖДАНО<br>И НЕ Е ОСВОБОЖДАВАНО ОТ НАКАЗАТЕЛНА ОТГОВОРНОСТ ПО ЧЛ. 78а НК</strong>          </td>
                        </tr>
                        <tr>
                            <td colspan="2" align="center" style="font-size: 16px; padding-top: 20px;">              <strong>HAS NOT BEEN CONVICTED<br>AND HAS NOT BEEN RELEASED FROM CRIMINAL RESPONSIBILITY<br>UNDER ART. 78a OF THE CRIMINAL CODE</strong>          </td>
                        </tr>
                        <tr style="height: 40px;">          <td colspan="2" align="center">              <br>          </td>      </tr>
                        <tr>          <td colspan="2" align="left">Дата на издаване: <b>15 февруари 2013</b></td>      </tr>
                        <tr>          <td colspan="2" align="left">Date of issue: <b>15 February 2013</b></td>      </tr>
                        <tr style="height: 30px;">          <td colspan="2" align="left">              <br>          </td>      </tr>
                        <tr>
                            <td align="left">Адрес за проверка: <b>http:<font style="font-family: calibri; font-size: 1.1em;"><b>//</b></font>cs.mjs.bg</b></td>
                            <td align="right">Код за достъп: <b>1A1A1A1A1A</b></td>
                        </tr>
                        <tr>
                            <td align="left">Verify at: <b>http:<font style="font-family: calibri; font-size: 1.1em;"><b>//</b></font>cs.mjs.bg<font style="font-family: calibri; font-size: 1.1em;"><b>/</b></font>en</b></td>
                            <td align="right">Access code: <b>1A1A1A1A1A</b></td>
                        </tr>
                        <tr>
                            <td style="font-size: 1em; padding-bottom: 20px; border-bottom-width: 1px; border-bottom-style: solid;" colspan="2" align="left">
                                <br>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <table style="font-size: 10px;">
                    <tbody>
                        <tr>
                            <td align="justify"><span style="text-align:justify;display:block"><i>Забележка: Електронното свидетелство за съдимост само в електронния си вид, достъпно на обявената от Министерството на правосъдието интернет страница, има същата сила, като свидетелството за съдимост, издадено на хартиен носител.</i></span></td>
                        </tr>
                        <tr>
                            <td align="justify"><span style="text-align:justify;display:block"><i>Електронното свидетелство за съдимост е достъпно от заинтересованото лице на страницата на Министерство на правосъдието, чрез предоставения код за достъп.</i></span></td>
                        </tr>
                        <tr>
                            <td align="justify"><span style="text-align:justify;display:block"><i>Note: The Electronic Conviction Status Certificate in electronic format only is accessible through the web page of the Ministry of Justice and has the same legal value as the Conviction Status Certificate issued on paper.</i></span></td>
                        </tr>
                        <tr>
                            <td><span style="text-align:left;display:block"><i>Persons concerned can access the Electronic Conviction Status Certificate through the web page of the Ministry of Justice via access code.</i></span></td>
                        </tr>
                    </tbody>
                </table>
            </div>


            <script type="text/javascript">
                $(function () {
                    $("strong.show_sign_details").click(function () {
                        if ($(this).hasClass('active')) {
                            $("strong.show_sign_details").removeClass('active');
                            $(".sign_details").fadeOut();
                        }
                        else {
                            $("strong.show_sign_details").removeClass('active');
                            $(".sign_details").hide();
                            $(this).addClass('active');
                            $(this).next().fadeIn(600);
                        }
                    });
                });
            </script>

            <div class="info_cont" style="width: 820px;">
                <strong class="show_sign_details">Данни от електронния подпис на Министерство на правосъдието</strong>
                <div class="sign_details">
                    <table cellpadding="0" cellspacing="0" class="signTable" style="width: 100%;">
                        <tbody>
                            <tr>
                                <td class="mini header">
                                    Дата на подписване
                                </td>
                            </tr>
                            <tr>
                                <td class="mini">
                                    15 февруари 2013
                                </td>
                            </tr>
                            <tr>
                                <td class="mini header">
                                    Данни за сертификат
                                </td>
                            </tr>
                            <tr>
                                <td class="mini">
                                    Сериен номер: 00D6C36FCCF6E5BC06
                                </td>
                            </tr>
                            <tr>
                                <td class="mini">

                                    Валиден от: 15 февруари 2013
                                </td>
                            </tr>
                            <tr>
                                <td class="mini">

                                    Валиден до: 15 февруари 2014
                                </td>
                            </tr>
                            <tr>
                                <td class="mini header">
                                    Информация за издателя
                                </td>
                            </tr>
                            <tr>
                                <td class="mini">
                                    InfoNotary PLC<br>
                                    BG
                                </td>
                            </tr>
                            <tr>
                                <td class="header mini">
                                    Информация за автора и титуляра
                                </td>
                            </tr>
                            <tr>
                                <td class="mini">
                                    MINISTRY OF JUSTICE<br>
                                    BG, 1040 Sofia, str. Slavyanska No.1<br>
                                    Hristo Marinov Zahariev
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
        <div class="clear"></div>
    </div>
}