<nb-card *ngIf="formGroup" [formGroup]="formGroup">
    <nb-card-header>Сигурни ли сте?</nb-card-header>
    <nb-card-body>
        <cais-input
        [type]="'text'"
        [label]="'Основание'"
        [inputFormControl]="this.formGroup.controls.description"
        [parentGroup]="formGroup"
      ></cais-input>
    </nb-card-body>
    <nb-card-footer>
      <div class="row">
        <div class="col-6">
          <button
            nbButton
            matRipple
            fullWidth
            status="danger"
            [disabled]='this.formGroup.invalid'
            (click)="success()"
          >
            Продължи
          </button>
        </div>
        <div class="col-6">
          <button nbButton matRipple fullWidth (click)="dismiss()">Отказ</button>
        </div>
      </div>
    </nb-card-footer>
  </nb-card>
  