<nb-card>
  <tl-linear-progress
    [visible]="this.remoteService?.isLoading"
  ></tl-linear-progress>
  <igx-grid
    #grid
    igxGridState
    [data]="items$ | async"
    [height]="null"
    [filterStrategy]="noopFilterStrategy"
    [sortStrategy]="noopSortStrategy"
    [paging]="true"
    [clipboardOptions]="{ copyHeaders: false }"
    [displayDensity]="'cosy'"
    (onSortingDone)="sortingDone($event)"
    (onFilteringDone)="filteringDone($event)"
    (onSelection)="cellSelection($event)"
    [paginationTemplate]="pager"
    [allowFiltering]="true"
    [primaryKey]="'id'"
    [pinning]="pinningConfig"
    [cellSelection]="'none'"
  >
    <igx-grid-toolbar>
      <igx-grid-toolbar-title>Бюлетини</igx-grid-toolbar-title>
    </igx-grid-toolbar>

    <igx-column
      field="id"
      header="Идентификатор"
      [sortable]="true"
      [dataType]="'number'"
      [hidden]="true"
    >
    </igx-column>
    <igx-column
      field="registrationNumber"
      header="Номер на бюлетин"
      [sortable]="true"
      [dataType]="'string'"
    >
    </igx-column>
    <igx-column
      field="bulletinAuthorityName"
      header="  Съд изготвил бюлетина"
      [sortable]="true"
      [dataType]="'string'"
    >
    </igx-column>
    <igx-column
      field="bulletinType"
      header="Тип"
      [sortable]="true"
      [dataType]="'string'"
    >
    </igx-column>

    <igx-column
      field="statusName"
      header="Статус"
      [sortable]="true"
      [dataType]="'string'"
    >
    </igx-column>
    <igx-column
      field="statusId"
      header="Статус ИД"
      [hidden]="true"
      [dataType]="'string'"
    >
    </igx-column>
    <igx-column
      field="fullName"
      header="Имена"
      [sortable]="true"
      [dataType]="'string'"
    >
    </igx-column>
    <igx-column
      field="identifier"
      header="ЕГН/ЛНЧ"
      [sortable]="true"
      [dataType]="'string'"
    >
    </igx-column>
    <igx-column
      field="birthDate"
      header="Дата на раждане"
      [sortable]="true"
      [dataType]="'date'"
    >
      <ng-template igxCell let-cell="cell">
        <span [title]="this.dateFormatService.displayDate(cell.value)">
          {{ this.dateFormatService.displayDate(cell.value) }}
        </span>
      </ng-template>
    </igx-column>

    <igx-column
      width="110px"
      header=""
      [sortable]="false"
      [filterable]="false"
      [pinned]="true"
    >
      <ng-template igxCell let-cell="cell">
        <a
          [title]="'Преглед'"
          [routerLink]="[
            '/pages/bulletin-administrations/preview',
            cell.rowData.id
          ]"
        >
          <nb-icon pack="fa" icon="eye"></nb-icon>
        </a>
        <a
          [title]="'Отключване'"
          (click)="
            onOpenDialog(
              cell.rowData.id,
              cell.rowData.statusId,
              cell.rowData.version
            )
          "
        >
          <i class="fas fa-unlock-alt"></i>
        </a>
      </ng-template>
    </igx-column>

    <ng-template #pager let-grid>
      <div class="tl-paginator">
        <cais-grid-pager
          [page]="remoteService.pagerParams.page"
          [perPage]="remoteService.pagerParams.perPage"
          [totalCount]="remoteService.pagerParams.totalCount"
          (pagerChange)="pagerChange($event)"
        ></cais-grid-pager>
      </div>
    </ng-template>
  </igx-grid>
</nb-card>

<igx-dialog #dialogAdd>
  <div class="dialogNewRecord" style="min-width: 1000px">
    <nb-card>
      <nb-card-header>
        <div class="d-flex" style="justify-content: space-between">
          <div class="d-flex align-items-center">
            <h5 style="font-weight: bold">Отключване на бюлетин за редакция</h5>
          </div>
          <div class="d-flex">
            <div>
              <button
                nbButton
                matRipple
                [status]="'success'"
                (click)="onUnlockBulletin()"
                type="button"
                class="ml-2"
              >
                Потвърди
              </button>
            </div>
            <div>
              <button
                nbButton
                matRipple
                (click)="onCloseDilog()"
                type="button"
                class="ml-2"
              >
                Откажи
              </button>
            </div>
          </div>
        </div>
      </nb-card-header>
      <nb-card-body>
        <div class="row mt-2">
          <div class="form-group col-md-8">
            <cais-autocomplete
              [label]="'Статус'"
              [inputFormControl]="ulockBulletinForm.status"
              [parentGroup]="ulockBulletinForm.group"
              [items]="statuses"
              [inputName]="'status'"
            >
            </cais-autocomplete>
          </div>
        </div>
        <div class="row mt-2">
          <div class="form-group col-md-6">
            <cais-input
              [type]="'text'"
              [label]="'Мотиви'"
              [inputFormControl]="ulockBulletinForm.description"
              [parentGroup]="ulockBulletinForm.group"
              [inputName]="'description'"
              [rows]="'3'"
              [inputType]="'TextArea'"
            >
            </cais-input>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</igx-dialog>
