<igx-grid
  #grid
  igxGridState
  [data]="people"
  [height]="null"
  [filterStrategy]="noopFilterStrategy"
  [sortStrategy]="noopSortStrategy"
  [clipboardOptions]="{ copyHeaders: false }"
  [displayDensity]="'cosy'"
  (onSortingDone)="sortingDone($event)"
  (onFilteringDone)="filteringDone($event)"
  (onSelection)="cellSelection($event)"
  [allowFiltering]="true"
  [primaryKey]="'id'"
  [pinning]="pinningConfig"
  [cellSelection]="'none'"
  [rowSelection]="selectionMode"
  [selectedRows]="selectedRows"
  [pinning]="pinningConfig"
  (onRowSelectionChange)="handleRowSelection($event)"
>
  <igx-grid-toolbar>
    <igx-grid-toolbar-title></igx-grid-toolbar-title>
  </igx-grid-toolbar>

  <igx-column field="egn" header="ЕГН" [sortable]="true" [dataType]="'string'">
    <ng-template igxCell let-cell="cell">
      <span [title]="cell.value">{{ cell.value }}</span>
    </ng-template></igx-column
  >
  <igx-column
    field="firstname"
    header="Име"
    [sortable]="true"
    [dataType]="'string'"
  >
    <ng-template igxCell let-cell="cell">
      <span [title]="cell.value">{{ cell.value }}</span>
    </ng-template></igx-column
  >
  <igx-column
    field="surname"
    header="Презиме"
    [sortable]="true"
    [dataType]="'string'"
  >
    <ng-template igxCell let-cell="cell">
      <span [title]="cell.value">{{ cell.value }}</span>
    </ng-template></igx-column
  >
  <igx-column
    field="familyname"
    header="Фамилия"
    [sortable]="true"
    [dataType]="'string'"
  >
    <ng-template igxCell let-cell="cell">
      <span [title]="cell.value">{{ cell.value }}</span>
    </ng-template></igx-column
  >
  <igx-column
    field="birthDate"
    header="Дата на раждане"
    [sortable]="true"
    [dataType]="'date'"
  >
    <ng-template igxCell let-cell="cell">
      <span [title]="this.dateFormatService.displayDate(cell.value)">
        {{ this.dateFormatService.displayDate(cell.value) }}
      </span>
    </ng-template></igx-column
  >
</igx-grid>
