<nb-card class="card-single-page-height" [formGroup]="fullForm.group">
  <nb-card-header class="card-header-shadow">
    <cais-card-header
      [label]="displayTitle"
      [onSaveFunction]="submitFunction"
      [onCancelFunction]="globalCancelFunction"
    ></cais-card-header>
  </nb-card-header>
  <nb-card-body class="overflow-scroll">
    <form autocomplete="off">
      <nb-tabset>
        <nb-tab tabTitle="Основна информация">
          <div class="row">
            <div class="form-group col-md-3">
              <cais-input
                [type]="'text'"
                [label]="'ECRIS Идентификатор'"
                [inputFormControl]="fullForm.ecrisIdentifier"
                [parentGroup]="fullForm.group"
              ></cais-input>
            </div>
            <div class="form-group col-md-3">
              <cais-input
                [type]="'text'"
                [label]="'Идентификатор'"
                [inputFormControl]="fullForm.identifier"
                [parentGroup]="fullForm.group"
              ></cais-input>
            </div>
            <div class="form-group col-md-3">
              <cais-input
                [type]="'date'"
                [label]="'Дата на запитване'"
                [inputFormControl]="fullForm.msgTimestamp"
                [parentGroup]="fullForm.group"
              ></cais-input>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-3">
              <cais-input
                [type]="'text'"
                [label]="'Име'"
                [inputFormControl]="fullForm.firstname"
                [parentGroup]="fullForm.group"
              ></cais-input>
            </div>
            <div class="form-group col-md-3">
              <cais-input
                [type]="'text'"
                [label]="'Презиме'"
                [inputFormControl]="fullForm.surname"
                [parentGroup]="fullForm.group"
              ></cais-input>
            </div>
            <div class="form-group col-md-3">
              <cais-input
                [type]="'text'"
                [label]="'Фамилия'"
                [inputFormControl]="fullForm.familyname"
                [parentGroup]="fullForm.group"
              ></cais-input>
            </div>
            <div class="form-group col-md-3">
              <cais-autocomplete
                [label]="'Пол'"
                [inputFormControl]="fullForm.sex"
                [parentGroup]="fullForm.group"
                [inputName]="'sex'"
                [items]="dbData.genderTypes"
              ></cais-autocomplete>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-4">
              <cais-autocomplete
                [label]="'Основно гражданство'"
                [inputFormControl]="fullForm.nationality1Code"
                [parentGroup]="fullForm.group"
                [inputName]="'nationality1Code'"
                [items]="dbData.countries"
              >
              </cais-autocomplete>
            </div>
            <div class="form-group col-md-4">
              <cais-autocomplete
                [label]="'Друго гражданство'"
                [inputFormControl]="fullForm.nationality2Code"
                [parentGroup]="fullForm.group"
                [inputName]="'nationality2Code'"
                [items]="dbData.countries"
              >
              </cais-autocomplete>
            </div>
          </div>

          <div class="row">
            <div class="form-group col-md-4">
              <cais-autocomplete
                [label]="'Месторождение - държава'"
                [inputFormControl]="fullForm.birthCountry"
                [parentGroup]="fullForm.group"
                [inputName]="'birthCountry'"
                [items]="dbData.countries"
              >
              </cais-autocomplete>
            </div>
            <div class="form-group col-md-4">
              <cais-input
                [type]="'text'"
                [label]="'Месторождение - град'"
                [inputFormControl]="fullForm.nationality2Code"
                [parentGroup]="fullForm.group"
              ></cais-input>
            </div>
            <div class="form-group col-md-3">
              <cais-input
                [type]="'date'"
                [label]="'Дата на раждане'"
                [inputFormControl]="fullForm.birthDate"
                [parentGroup]="fullForm.group"
              ></cais-input>
            </div>
          </div>

          <igx-grid
            #ecrisBulletins
            [data]="dbData.ecrisBulletins"
            [height]="null"
            [primaryKey]="'id'"
            [pinning]="pinningConfig"
            [cellSelection]="'none'"
          >
            <igx-grid-toolbar>
              <igx-grid-toolbar-title>Бюлетини</igx-grid-toolbar-title>
            </igx-grid-toolbar>

            <igx-column
              field="id"
              header="Идентификатор"
              [sortable]="true"
              [dataType]="'number'"
              [hidden]="true"
            >
              <ng-template igxCell let-cell="cell">
                <span [title]="cell.value">{{ cell.value }}</span>
              </ng-template>
            </igx-column>

            <igx-column
              field="bulletinType"
              header="Тип"
              [sortable]="true"
              [dataType]="'string'"
            >
              <ng-template igxCell let-cell="cell">
                <span [title]="cell.value">{{ cell.value }}</span>
              </ng-template>
            </igx-column>

            <igx-column
              field="createdOn"
              header="Дата на създаване"
              [sortable]="true"
              [dataType]="'string'"
            >
              <ng-template igxCell let-cell="cell">
                <span [title]="cell.value">{{ cell.value }}</span>
              </ng-template>
            </igx-column>

            <igx-column
              field="registrationNumber"
              header="Номер на бюлетин"
              [sortable]="true"
              [dataType]="'string'"
            >
              <ng-template igxCell let-cell="cell">
                <span [title]="cell.value">{{ cell.value }}</span>
              </ng-template>
            </igx-column>

            <igx-column
              field="alphabeticalIndex"
              header="Входящ номер в азб. указател"
              [sortable]="true"
              [dataType]="'string'"
            >
              <ng-template igxCell let-cell="cell">
                <span [title]="cell.value">{{ cell.value }}</span>
              </ng-template>
            </igx-column>

            <igx-column
              field="firstName"
              header="Име"
              [sortable]="true"
              [dataType]="'string'"
            >
              <ng-template igxCell let-cell="cell">
                <span [title]="cell.value">{{ cell.value }}</span>
              </ng-template>
            </igx-column>

            <igx-column
              field="surName"
              header="Презиме"
              [sortable]="true"
              [dataType]="'string'"
            >
              <ng-template igxCell let-cell="cell">
                <span [title]="cell.value">{{ cell.value }}</span>
              </ng-template>
            </igx-column>

            <igx-column
              field="familyName"
              header="Фамилия"
              [sortable]="true"
              [dataType]="'string'"
            >
              <ng-template igxCell let-cell="cell">
                <span [title]="cell.value">{{ cell.value }}</span>
              </ng-template>
            </igx-column>

            <igx-column
              width="150px"
              header=""
              [sortable]="false"
              [filterable]="false"
              [pinned]="true"
            >
              <ng-template igxCell let-cell="cell">
                <a
                  [title]="'Преглед'"
                  [routerLink]="['/pages/bulletins/preview', cell.rowData.id]"
                >
                  <nb-icon pack="fa" icon="eye"></nb-icon>
                </a>
                <a
                  [title]="'Редактиране'"
                  [routerLink]="['/pages/bulletins/edit', cell.rowData.id]"
                >
                  <nb-icon pack="fa" icon="pen"></nb-icon>
                </a>
              </ng-template>
            </igx-column>
          </igx-grid>
        </nb-tab>
        <nb-tab tabTitle="Проверки в регистри"> </nb-tab>
      </nb-tabset>
    </form>
  </nb-card-body>
</nb-card>
