<div [formGroup]="parentForm.group">
  <div class="row">
    <div class="form-group col-md-3">
      <cais-lookup
        [label]="'Държава'"
        [inputControl]="parentForm.country"
        [parentGroup]="parentForm.country.group"
        [openFunction]="openCountryDialog"
        (onClearSelection)="onClearCountry()"

      ></cais-lookup>
    </div>
    <ng-container *ngIf="!isClearedContry">
      <div
        class="form-group col-md-3"
       
      >
        <cais-autocomplete
          #districtAutocomplete
          [label]="'Област'"
          [inputFormControl]="parentForm.districtId"
          [parentGroup]="parentForm.group"
          [inputName]="'districtId'"
          [(items)]="districts"
          (selectionChanged)="onDistrictChanged($event)"
          [disabled]="!parentForm.isSetForNativeAddress"
          [appendTo]="inDialog ? '.igx-overlay__content--modal' : null"
        ></cais-autocomplete>
      </div>

      <div
        class="form-group col-md-3"
       
      >
        <cais-autocomplete
          #municipalityAutocomplete
          [label]="'Община'"
          [inputFormControl]="parentForm.municipalityId"
          [parentGroup]="parentForm.group"
          [inputName]="'municipalityId'"
          [(items)]="municipalities"
          (selectionChanged)="onMunicipalityChanged($event)"
          [disabled]="!parentForm.isSetForNativeAddress"
          [appendTo]="inDialog ? '.igx-overlay__content--modal' : null"
        ></cais-autocomplete>
      </div>

      <div
        class="form-group col-md-3"
        
      >
        <cais-autocomplete
          #cityAutocomplete
          [label]="'Град'"
          [inputFormControl]="parentForm.cityId"
          [parentGroup]="parentForm.group"
          [inputName]="'cityId'"
          [(items)]="cities"
          [disabled]="!parentForm.isSetForNativeAddress"
          [appendTo]="inDialog ? '.igx-overlay__content--modal' : null"
        ></cais-autocomplete>
      </div>
      <div
        class="form-group col-md-12"
      
      >
        <cais-input
          [type]="'text'"
          [label]="'Описание в случай на друго'"
          [inputFormControl]="parentForm.foreignCountryAddress"
          [parentGroup]="parentForm.group"
          [inputName]="'foreignCountryAddress'"
          [rows]="'1'"
          [inputType]="'TextArea'"
          [disabled]="
          parentForm.isSetForNativeAddress &&
          !showDescWhenIsNativeAddress &&
          hideDesc
        "
        ></cais-input>
      </div>
    </ng-container>
  </div>
</div>
