@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Titillium+Web");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

@import "~@ng-select/ng-select/themes/default.theme.css";

@import "./spinner";

// themes - our custom or/and out of the box themes
@import "themes";

// framework component themes (styles tied to theme variables)
@import "~@nebular/theme/styles/globals";
@import "~@nebular/auth/styles/globals";

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/grid";

// loading progress bar theme
@import "./pace.theme";

@import "./layout";
@import "./overrides";

@import "~@infragistics/igniteui-angular/lib/core/styles/themes/index";
@include igx-core();
@include igx-typography();

// install the framework and custom global styles
@include nb-install() {
  // framework global styles
  @include nb-theme-global();
  @include nb-auth-global();

  @include ngx-layout();
  // loading progress bar
  @include ngx-pace-theme();

  @include nb-overrides();
}

.nb-theme-dark {
  $custom-palette: igx-palette(
    $primary: #f0f2ff,
    $secondary: #3f51b5,
    $surface: #222b45,
    $error: #cf1a2b,
    $success: #689f38,
    $warn: #ff9800,
    $info: #9208bc,
    $grays: #fff,
  );
  @include igx-theme(
    $palette: $custom-palette,
    $schema: $dark-indigo-schema,
    $roundness: null,
    $elevation: null
  );
  @include igx-typography(
    $font-family: "Nunito Sans",
    $type-scale: $indigo-type-scale
  );
}

// File styles
.file-drop-zone {
  border: dotted 3px lightgray;
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}

.file-over-class {
  border: dotted 3px green;
}

.file-select-hidden {
  visibility: hidden;
  position: absolute;
  overflow: hidden;
  width: 0px;
  height: 0px;
  border: none;
  margin: 0;
  padding: 0;
}

/*#region date time styles*/

.nb-theme-default .mat-calendar-body-cell-content:hover,
.mat-calendar-body-selected {
  background-color: $primary;
  color: white;
}

/*#endregion date time styles*/

.cais-lookup{
  width: calc(100vw - 10%);
  height: 90vh;
}