
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Titillium+Web");
@import 'material-icons/iconfont/material-icons.css';

@import "~@ng-select/ng-select/themes/default.theme.css";

@import "./spinner";

// themes - our custom or/and out of the box themes
@import "themes";

// framework component themes (styles tied to theme variables)
@import "~@nebular/theme/styles/globals";
@import "~@nebular/auth/styles/globals";


@import "~bootstrap/scss/bootstrap";




@import "~@infragistics/igniteui-angular/lib/core/styles/themes/index";
@include igx-core();

// install the framework and custom global styles
@include nb-install() {
  // framework global styles
  @include nb-theme-global();
  @include nb-auth-global();
}


.nb-theme-dark {
  $custom-palette: igx-palette(
    $primary: #f0f2ff,
    $secondary: yellow,
    $surface: #222b45,
    $error: #cf1a2b,
    $success: #689f38,
    $warn: #ff9800,
    $info: #9208bc,
    $grays: #fff,
  );
  @include igx-theme(
    $palette: $custom-palette,
    $schema: $dark-indigo-schema,
    $roundness: null,
    $elevation: null
  );

}

// File styles
.file-drop-zone {
  border: dotted 3px lightgray;
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}

.file-over-class {
  border: dotted 3px green;
}

.file-select-hidden {
  visibility: hidden;
  position: absolute;
  overflow: hidden;
  width: 0px;
  height: 0px;
  border: none;
  margin: 0;
  padding: 0;
}

/*#region date time styles*/

.nb-theme-default .mat-calendar-body-cell-content:hover,
.mat-calendar-body-selected {
  background-color: $primary;
  color: white;
}

/*#endregion date time styles*/

.cais-lookup {
  width: calc(100vw - 10%);
  height: 90vh;
}

.cais-display-form-group {
  display: flex;
  align-items: center;

  .label {
    padding-right: 5px;
    font-size: 14px !important;
  }
}

/*#region card in display forms*/

.inner-card-header {
  padding: 0.6rem 0.5rem;
  border-top: 1px solid #edf1f7;
  font-family: Open Sans, sans-serif;
  font-weight: 700;
  line-height: 1.5rem;
  border-bottom-style: solid;
  border-bottom-width: 0.15rem;
  border-bottom-color: $primary;
  margin-bottom: 0.5rem;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.inner-card-body {
  padding: 1rem;
}

/*#endregion card in display forms*/

.home-panel-container {
  a {
    text-decoration: none !important;
  }
}

.ng-dropdown-panel {
  z-index: 99999 !important;
}

#cais-logo {
  width: 70px;
  height: 50px;
  border-right: 1px solid #00000082;
  padding-right: 9px;
}

.eu-logo {
  height: 50px;
}




nb-layout .layout .layout-container .content nb-layout-footer nav {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}


////////////
.cell__inner {
  display: flex;
  align-items: center;
  height: 100%;
}

.cell__inner {
  position: relative;
  justify-content: space-between;
}

.cell-center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.cell-center a , .btn-link {
  color: #0000009E;
}
.cell-center .btn-link {
 padding:0px;
} 


.ng-select {
  .ng-select-container {
    background-color: #f7f9fc !important;
    border-color: #e4e9f2;
  }
}

.nb-theme-default nb-card-body {
  overflow: unset;
}


.cais-date-time-picker {
  input.igx-input-group__input {
    border-radius: 0.25rem;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 0.9375rem;
    font-weight: 600;
    line-height: 1.5rem;
    padding: 0.4375rem 1rem;
    background-color: #f7f9fc;
    border-color: #e4e9f2;
    color: #222b45;
    width: 100%;
    border-style: solid;
    border-width: 1px;
    font-family: Open Sans, sans-serif;
    -webkit-appearance: none;
    appearance: none;
    height: 2.25rem;
  }
  .igx-input-group__bundle,
  .igx-input-group__bundle ng-star-inserted {
    padding-top: 0px;
    box-shadow: none;
    border-radius: 0.25rem;
  }
  .igx-icon {
    font-size: 20px;
    align-items: center;
    justify-content: space-around;
    border-color: transparent;
    color: rgb(143, 155, 179);
  }
  .igx-icon:hover,
  .igx-input-group igx-prefix:hover {
    background-color: #edf1f7;
  }
  .igx-input-group igx-prefix {
    position: absolute;
    right: 0px;
    z-index: 1;
    padding: 0.2rem;
    border-radius: 0px;
  }
  .igx-input-group igx-suffix {
    position: absolute;
    right: 30px;
  }
  .igx-input-group igx-suffix:hover {
    background-color: #edf1f7;
  }
}
