<igx-grid
  #grid
  igxGridState
  [data]="items$ | async"
  [height]="null"
  [filterStrategy]="noopFilterStrategy"
  [sortStrategy]="noopSortStrategy"
  [paging]="true"
  [clipboardOptions]="{ copyHeaders: false }"
  [displayDensity]="'cosy'"
  (onSortingDone)="sortingDone($event)"
  (onFilteringDone)="filteringDone($event)"
  (onSelection)="cellSelection($event)"
  [paginationTemplate]="pager"
  [allowFiltering]="true"
  [primaryKey]="'id'"
  [pinning]="pinningConfig"
  [cellSelection]="'none'"
>
  <igx-grid-toolbar>
    <igx-grid-toolbar-title>Подлежащи на реабилитация</igx-grid-toolbar-title>
  </igx-grid-toolbar>

  <igx-column
    field="id"
    header="Идентификатор"
    [sortable]="true"
    [dataType]="'number'"
    [hidden]="true"
  >
    <ng-template igxCell let-cell="cell">
      <span [title]="cell.value">{{ cell.value }}</span>
    </ng-template>
  </igx-column>

  <igx-column
    field="rehabilitationDate"
    header="Дата на настъпване на право на реабилитация"
    [sortable]="true"
    [dataType]="'string'"
  >
    <ng-template igxCell let-cell="cell">
      <span [title]="cell.value">{{ cell.value }}</span>
    </ng-template>
  </igx-column>
  <igx-column
    field="createdOn"
    header="Дата на създаване"
    [sortable]="true"
    [dataType]="'string'"
  >
    <ng-template igxCell let-cell="cell">
      <span [title]="cell.value">{{ cell.value }}</span>
    </ng-template>
  </igx-column>

  <igx-column
    field="registrationNumber"
    header="Номер на бюлетин"
    [sortable]="true"
    [dataType]="'string'"
  >
    <ng-template igxCell let-cell="cell">
      <span [title]="cell.value">{{ cell.value }}</span>
    </ng-template>
  </igx-column>

  <igx-column
    field="firstName"
    header="Име"
    [sortable]="true"
    [dataType]="'string'"
  >
    <ng-template igxCell let-cell="cell">
      <span [title]="cell.value">{{ cell.value }}</span>
    </ng-template>
  </igx-column>

  <igx-column
    field="surName"
    header="Презиме"
    [sortable]="true"
    [dataType]="'string'"
  >
    <ng-template igxCell let-cell="cell">
      <span [title]="cell.value">{{ cell.value }}</span>
    </ng-template>
  </igx-column>

  <igx-column
    field="familyName"
    header="Фамилия"
    [sortable]="true"
    [dataType]="'string'"
  >
    <ng-template igxCell let-cell="cell">
      <span [title]="cell.value">{{ cell.value }}</span>
    </ng-template>
  </igx-column>

  <igx-column
    width="150px"
    header=""
    [sortable]="false"
    [filterable]="false"
    [pinned]="true"
  >
    <ng-template igxCell let-cell="cell">
      <a mat-icon-button [matMenuTriggerFor]="menu" aria-label="Действия">
        <nb-icon pack="fa" icon="bars"></nb-icon>
      </a>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <span>Създай заявка</span>
        </button>
        <button mat-menu-item (click)="onCancelRehabilitation(cell.rowData.id)">
          <span>Откажи</span>
        </button>
        <button mat-menu-item>
          <span>Виж заявки</span>
        </button>
        <button
          mat-menu-item
          [routerLink]="['/pages/bulletins/preview', cell.rowData.id]"
        >
          <span class="ml-1">Преглед на бюлетин</span>
        </button>

        <button
          mat-menu-item
          [routerLink]="['/pages/bulletins/edit', cell.rowData.id]"
        >
          <span class="ml-1">Редакция на бюлетин</span>
        </button>
      </mat-menu>
    </ng-template>
  </igx-column>

  <ng-template #pager let-grid>
    <div class="tl-paginator">
      <cais-grid-pager
        [page]="remoteService.pagerParams.page"
        [perPage]="remoteService.pagerParams.perPage"
        [totalCount]="remoteService.pagerParams.totalCount"
        (pagerChange)="pagerChange($event)"
      ></cais-grid-pager>
    </div>
  </ng-template>
</igx-grid>
