.egov-identity{
  padding: 0.5rem;;
  height: 6rem;
  background-color: #fff;
  width: 100%;
  display: flex !important;
}
.egov-identity-small{
  padding: 0.5rem;;
  height: 4rem;
  background-color: #fff;
  width: 100%;
  display: none !important;
}
@media (max-width: 36rem){
  .egov-identity{
    display: none !important;
  }
  .egov-identity-small{
    display: flex !important;
  }
}
.gerb{
  max-width:100%;
  max-height:100%;
  width: auto;
  height: 5rem;
}
.identity-text{
  margin: 1rem;
  width: 54rem;
}
.eu-logo{
  width: auto;
  height: 100%;
}
.gerb-text{
  padding-left: 0.5rem;
}
.eu-text{
  text-align: justify;
  line-height: 0.7rem;
  max-width: 23rem;
  padding-right: 0.5rem;
  span{
    font-size: x-small;
  }
}

@media (max-width: 56rem){
  .eu-text{
    display: none !important;
  }
}
