<nb-card>
  <igx-grid
    #statusHistoryGrid
    [height]="null"
    [data]="historyData"
    [primaryKey]="'id'"
  >
    <igx-grid-toolbar>
      <igx-grid-toolbar-title>
        <span
          class="fw-bold"
          title="История на промяна на статусите на бюлетини"
          >История на промяна на статусите на бюлетини</span
        >
      </igx-grid-toolbar-title>
      <igx-grid-toolbar-actions>
        <div class="d-flex gap-2">
          <igx-grid-toolbar-hiding class="mt-1"></igx-grid-toolbar-hiding>
        </div>
      </igx-grid-toolbar-actions>
    </igx-grid-toolbar>

    <igx-column
      field="id"
      header="Идентификатор"
      [sortable]="false"
      [dataType]="'string'"
      [hidden]="true"
    >
    </igx-column>

    <igx-column
      field="newStatus"
      header="Нов статус"
      dataType="string"
      [sortable]="true"
    >
    </igx-column>
    <igx-column
      field="oldStatus"
      header="Стар статус"
      dataType="string"
      [sortable]="true"
    >
    </igx-column>

    <igx-column
      field="createdOn"
      [sortable]="true"
      header="Дата на създаване"
      dataType="date"
      [formatter]="this.dateFormatService.formatDate"
    >
      <ng-template igxCell let-cell="cell">
        <span [title]="this.dateFormatService.displayDateTime(cell.value)">
          {{ this.dateFormatService.displayDateTime(cell.value) }}
        </span>
      </ng-template>
    </igx-column>

    <igx-column
      field="createdBy"
      header="Създаден от"
      dataType="string"
      [sortable]="true"
    >
    </igx-column>

    <igx-column
      field="locked"
      header="Заключен за редакция"
      [sortable]="true"
      [dataType]="'boolean'"
    ></igx-column>
    <igx-column
      field="descr"
      header="Описание"
      dataType="string"
      [sortable]="true"
    >
    </igx-column>
    <igx-column
      width="110px"
      header="Действия"
      [sortable]="false"
      [filterable]="false"
      [disableHiding]="true"
    >
      <ng-template igxCell let-cell="cell">
        <div class="cell-center">
          <button
            class="btn btn-link"
            [title]="'Изтегляне'"
            (click)="download(cell.rowData.id)"
          >
            <nb-icon pack="fa" icon="download"></nb-icon>
          </button>
        </div>
      </ng-template>
    </igx-column>
  </igx-grid>
</nb-card>
