@{
    var title = "Политика за достъпност";
    ViewData["Title"] = title;
}

<div class="card">
    <div class="card-header h5 bg-primary text-white">@title</div>
    <div class="card-body">
        <h5>Декларация за достъпност</h5>

        <p>
            Министерство на правосъдието се ангажира да осигури достъпност до тази информационна система за максимално широка група потребители, независимо от използваните технологии и умения.
        </p>

        <p>
            Ние активно работим за подобряване на достъпността и използваемостта и в тази си дейност се придържаме към наличните стандарти и добри практики.
        </p>
        <p>
            За да отговорим на поставените изисквания и критерии за ниво на достъпност, поставени от Европейската комисия относно интернет страниците на публичната администрация, и същевременно да посрещнем изискванията на текущите интернет технологии, ще се придържаме към стандартите на WCAG 2.0 и ниво на съответствие "Двойно-A".
        </p>

        <p>
            <a href="https://mjs.bg/home/index/1ff118fd-0b94-4f58-8363-44741bf08bf9">
                Декларация за достъпност на Министерство на правосъдието
            </a>
        </p>

        <h5>
            Инициатива за уеб достъпност (Web Accessibility Initiative)
        </h5>

        <p>
            Тази информационна система се опитва да покрие ниво на достъпност "Двойно-А" според последните стандарти на World Wide Web Consortium - Web Content Accessibility Guidelines 2.0 (WCAG 2.0), като използва най-добрите практики и техники.
        </p>

        <p>
            WCAG 2.0 обяснява как съдържанието в интернет страниците да бъде направено по-достъпно за хора с увреждания. Изпълнението на насоките ще помогне на повече хора да се чувстват удобно и да се възползват от предимствата на интернет.
        </p>

        <h5>
            W3C Стандарти
        </h5>

        <p>
            Тази информационна система е изградена с код, съвместим с W3C стандартите за XHTML и CSS. Той се възпроизвежда коректно в наличните към момента интернет браузъри и използването му гарантира съвместимост и с бъдещите нови или подобрени браузъри.
        </p>


        <h5>
            Изключения
        </h5>

        <p>
            Макар да се стремим да осигурим съвместимост с наличните стандарти за достъпност, това не винаги е възможно във всеки един аспект. Браузърите и техниките за разработка и достъп до интернет се развиват много бързо и понякога някои от стандартните изисквания за достъпност стават излишни. В тази светлина ние непрекъснато развиваме технологично тази информационна система с оглед постигането на високи стандарти на достъпност и използваемост на съдържанието в нея.
        </p>

    </div>
</div>