@{
    var title = "Общи условия";
    ViewData["Title"] = title;
}
<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
        <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
    </symbol>
</svg>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header h5 bg-primary text-white">@title</div>
                <div class="card-body">
                    <div class="accordion" id="accordionExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header " id="headingTwo">
                                <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Заявител
                                </button>
                            </h2>
                            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <div>
                                        Заявител може да е само физическо лице, български гражданин, с издаден квалифициран електронен подпис по смисъла на Закона за електронния документ и електронния подпис. Чрез него лицето се идентифицира при заявяване на услугата. Системата може да работи само с квалифициран електронен подпис, в който се съдържа информация за ЕГН на заявителя.
                                    </div>
                                    <div>
                                        Електронно свидетелство за съдимост се издава само за заявителя, и не може да бъде издадено за възходящи, низходящи, съпруг, братя, сестри на заявителя или други лица.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingThree">
                                <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    Начин на плащане
                                </button>
                            </h2>
                            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <div>
                                        Съгласно т. 62в, буква в) от Тарифа № 1 към Закона за държавните такси за таксите, събирани от съдилищата, прокуратурата, следствените служби и Министерството на правосъдието, дължимата такса за издаване на електронно свидетелство за съдимост е в размер на 3.00 лева.
                                    </div>
                                    <div>
                                        Тя следва да бъде платена в 14-дневен срок от регистриране на заявката по посочена банкова сметка на Министерство на правосъдието.След изтичане на този срок, заявката се анулира автоматично.
                                    </div>
                                    <div>
                                        След регистриране на заявлението системата визуализира информация за банковото плащане, което може да се направи с помощта на
                                    </div>
                                    <ul>
                                        <li>
                                            кредитна или дебитна карта
                                        </li>
                                        <li>
                                            чрез услугите на ePay/EasyPay
                                        </li>
                                        <li>
                                            чрез лично електронно банкиране
                                        </li>
                                        <li>
                                            на гише в банка
                                        </li>
                                    </ul>

                                    <div>
                                        Електронното свидетелство за съдимост се издава не по-късно от три работни дни от постъпване на държавната такса по посочена банкова сметка на Министерство на правосъдието.
                                    </div>
                                    <div>
                                        <div class="alert alert-warning d-flex align-items-center" role="alert">
                                            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill" /></svg>
                                            <div>
                                                При плащане, различно от това с кредитна или дебитна карта, моля, имайте предвид, че регистрационният номер на заявката задължително трябва да бъде посочен в бюджетното платежно нареждане в полетата „Основание за плащане“ и „Номер на документа, по който се плаща“. При грешно посочен номер на заявката в платежното нареждане системата няма да може да обработи заявката и да издаде електронно свидетелство съдимост. Министерство на правосъдието не носи отговорност при наличие на несъответствия.
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="alert alert-warning d-flex align-items-center" role="alert">
                                            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill" /></svg>
                                            <div>
                                                При плащане по банков път, е възжможно да има забавяне до три работни дни за получаване на потвърждението за постъпила държавната такса по посочена банкова сметка на Министерство на правосъдието.
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingFour">
                                <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseTwo">
                                    Срок за издаване и срок на валидност
                                </button>
                            </h2>
                            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <div>
                                        Електронното свидетелство за съдимост се издава не по-късно от три работни дни от постъпване на държавната такса по посочена банкова сметка на Министерство на правосъдието.
                                    </div>
                                    <div class="alert alert-warning d-flex align-items-center" role="alert">
                                        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill" /></svg>
                                        <div>
                                            При плащане по банков път, е възжможно да има забавяне до три работни дни за получаване на потвърждението за постъпила държавната такса по посочена банкова сметка на Министерство на правосъдието.
                                        </div>
                                    </div>
                                    <div>
                                        Електронното свидетелство се издава в електронен формат, подписва се с електронен подпис на издаващия го орган и се визуализира по образец съгласно приложение № 6 от Наредба № 8.
                                    </div>
                                    <div>
                                        Електронното свидетелство за съдимост важи за срок шест месеца от датата на издаването му.
                                    </div>
                                    <div>
                                        Електронно свидетелство за съдимост има същата сила, както писмената форма.
                                    </div>
                                    <div>
                                        Всички обстоятелства във връзка с издаване на електронно свидетелство за съдимост се съхраняват в информационната система на Министерство на правосъдието.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingFive">
                                <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseTwo">
                                    Общи условия
                                </button>
                            </h2>
                            <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <ol>
                                        <li>
                                            Системата може да издава електронни свидетелства за съдимост за лица, които отговорят на изискванията на чл. 35а, ал. 1 от Наредба № 8/26.02.2008 г. за функциите и дейността на бюрата за съдимост и на които е издаден квалифициран електронен подпис, съдържащ информация за ЕГН на лицето.
                                        </li>
                                        <li>
                                            След идентифициране от системата на заявителя, посредством неговия електронен подпис, личните данни за заявителя се събират по служебен път от регистрите на първичните администратори на данни. Министерство на правосъдието не носи отговорност при наличие на несъответствия за вписаните в регистрите обстоятелства.
                                        </li>
                                        <li>
                                            Системата генерира уникален номер на заявката. Дължимата държавна такса в размер на 3.00 лева трябва да бъде платена в 14-дневен срок от регистриране на заявката по посочена банкова сметка на Министерство на правосъдието. След изтичане на този срок, заявката се анулира автоматично.
                                            <div class="alert alert-warning d-flex align-items-center" role="alert">
                                                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill" /></svg>
                                                <div>
                                                    При плащане, различно от това с кредитна или дебитна карта, моля, имайте предвид, че регистрационният номер на заявката задължително трябва да бъде посочен в бюджетното платежно нареждане в полетата „Основание за плащане“ и „Номер на документа, по който се плаща“. При грешно посочен номер на заявката в платежното нареждане системата няма да може да обработи заявката и да издаде електронно свидетелство съдимост. Министерство на правосъдието не носи отговорност при наличие на несъответствия.
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            В случай че заявителят оттегли заявката, след като е извършил плащането, платената сума не подлежи на възстановяване. Платената сума не се възстановява и когато се установи, че заявителят не отговаря на изискванията на чл. 35а, ал. 1 от Наредба № 8, а именно, когато за него има издавани бюлетини за съдимост и/или бюлетини за наложени административни наказания по чл. 78а НК.
                                        </li>
                                        <li>
                                            Системата позволява за едно лице да има само по една активна и неплатена заявка за издаване на електронно свидетелство за съдимост. Подадена заявка може да бъде анулирана от заявителя преди да бъде извършено плащане на държавната такса. Ако това плащане не бъде извършено в 14-дневен срок, заявката ще се анулира автоматично.
                                        </li>
                                        <li>
                                            Електронното свидетелство за съдимост се издава не по-късно от три работни дни от постъпване на държавната такса по посочена банкова сметка на Министерство на правосъдието.
                                            <div class="alert alert-warning d-flex align-items-center" role="alert">
                                                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill" /></svg>
                                                <div>
                                                    При плащане по банков път, е възжможно да има забавяне до три работни дни за получаване на потвърждението за постъпила държавната такса по посочена банкова сметка на Министерство на правосъдието.
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            Електронното свидетелство се генерира в електронен формат, подписва се с електронен печат на Министерството на правосъдието и се съхранява в информационната му система.
                                        </li>
                                        <li>
                                            Достъп до електронното свидетелство за съдимост се осъществява чрез адрес за достъп, които се предоставят на заявителя на посочения от него електронен адрес. Адрес за достъп се визуализира и върху електронното свидетелство за съдимост. Всяко трето лице, на което заявителят предостави получения адрес за достъп, може да разгледа издаденото електронно свидетелство за съдимост на страницата на информационната система на Министерство на правосъдието.
                                        </li>
                                        <li>
                                            Всички обстоятелства във връзка с издаване на електронно свидетелство за съдимост се съхраняват в информационната система на Министерство на правосъдието.
                                        </li>
                                    </ol>
                                    Условията за използване на системата са утвърдени
                                    със Заповед на Министъра на правосъдието
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>