@using MJ_CAIS.WebPortal.Public.Models.Conviction

@model ConvictionCodeViewModel

@{
    ViewData["Title"] = "Начална страница";
}

<div class="row pt-5 justify-content-center gy-4">
    <div class="col-lg-8">
        <div class="card h-100">
            <div class="card-header h5 bg-primary text-white">Заявления и свидетелства</div>
            <div class="card-body">
                <p>
                    За да подадете заявление за издаване на електронно свидетелство за съдимост или да достъпите Вашите заявления и свидетелства, Ви е необходим валиден начин за автентикация в <a href="https://eauth.egov.bg/eauth/ssologin" target="_blank">еАвт</a>. <br />
                    <ul>
                        <li>
                            Списък с подадени от Вас заявления може да намерите
                            <a asp-controller="Application" asp-action="Index">
                                тук
                            </a>.

                        </li>
                        <li>
                            Списък с издадени вече свидетелства може намерите
                            <a asp-controller="Certificates" asp-action="Index">
                                тук
                            </a>.
                        </li>
                    </ul>
                </p>
                <div class="d-flex justify-content-center mb-3 gap-2">
                    <a class="btn btn-primary btn-lg" asp-controller="Application" asp-action="New">
                        Ново заявление
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
