<div class="container">
    <div class="row">        
        <div class="col-md-12">
            <div class="card h-100">
                <div class="card-header h5 bg-primary text-white">Информация за услуга "Издаване на електронно свидетелство за съдимост"</div>
                <div class="card-body">  
                    <ol>
                        <li>
                            Уникален идентификатор съгласно Регистъра на услугите: 3008
                        </li>
                        <li>
                            Правно основание за предоставянето на административната услуга/издаването на индивидуалния административен акт: Наредба № 8 от 26.02.2008 г. за функциите и организацията на дейността на бюрата за съдимост – чл. 35а.
                        </li>
                        <li>
                            Орган, който предоставя административната услуга/издава индивидуалния административен акт. В случаите на възлагане – служителите, които издават индивидуалния административен акт: Министърът на правосъдието.
                        </li>
                        <li>
                            Информация за Центъра за административно обслужване, адрес, електронен адрес, телефони за връзка, работно време: Министерство на правосъдието, гр. София – 1040, ул. „Аксаков“ № 5 Телефон за връзка: +359 2 9237 355, +359 2 9237 354, +359 2 9237 321 Работно време: от 09:00 ч. до 17:30 ч.@* Електронен адрес: https://cs.mjs.bg*@
                        </li>
                        <li>
                            Процедура по предоставяне на административната услуга/ издаване на индивидуалния административен акт, изисквания и необходими документи. В случай че документ се издава от административен орган, се посочва и органът: Заявяване на услугата чрез квалифициран електронен подпис Услугата се заявява през Единния портал на органите на изпълнителната власт от сектор „Правосъдие“ @*или на адрес: https://cs.mjs.bg/*@ чрез квалифициран електронен подпис, в който се съдържа информация за ЕГН на заявителя. Заявител може да е само физическо лице с издаден квалифициран електронен подпис, чрез който лицето се идентифицира при заявяване на услугата. В автоматичен режим системата може да работи само с квалифициран електронен подпис, в който се съдържа информация за ЕГН на заявителя.
                        </li>
                        <li>
                            Образци на формуляри, които са свързани с предоставянето на административна услуга/издаването на индивидуалния административен акт, включително създадените с нормативен акт или утвърдени с административен акт: Не се попълва заявление в е-форма. Необходимата за извършване на услугата информация с лични данни се извлича автоматично от квалифицирания електронен подпис и се визуализира пред заявителя.
                        </li>
                        <li>
                            Начини на заявяване на услугата: Заявява се в платформата на сайта на Министерство на правосъдието по електронен път чрез електронен подпис, в който се съдържа информация за ЕГН на заявителя и е издаден от български доставчик на удостоверителни услуги.
                        </li>
                        <li>
                            Информация за предоставяне на услугата по електронен път: Услугата се предоставя по електронен път.
                        </li>
                        <li>
                            Срок на действие на документа/индивидуалния административен акт. Срокът за предоставяне на услугата е тридневен, след постъпване на държавната такса. Валидността на свидетелството за съдимост е за срок от шест месеца, считано от датата на издаването му.
                        </li>
                        <li>
                            Такси или цени на услугата, включително при предоставяне по електронен път, основание за тяхното определяне и начини на плащане: За услугата се заплаща фиксирана такса на стойност 3 лв. Тя следва да бъде платена в 14-дневен срок от регистриране на заявката по посочена банкова сметка на Министерство на правосъдието. След регистриране на заявлението системата визуализира информация за банковото плащане, което може да се направи с помощта на кредитна или дебитна карта, с Код за плащане в Портала за електронни плащания, чрез лично електронно банкиране или на гише в банка БНБ – Централно управление, пл. „Батенберг” № 1 IBAN сметка: BG09BNBG 96613000173701, BIC: BNBGBGSD като в „Основание за плащане“ и „Номер на документа, по който се плаща“ на бюджетното платежно нареждане, задължително се посочва Регистрационния номер на заявлението. За улеснение системата предоставя образец на платежно нареждане с предварително попълнени данни, необходими за заплащане на държавната такса - платежното нареждане е само за улеснение на заявителя, без да е задължително негово използване.
                        </li>
                        <li>
                            Орган, осъществяващ контрол върху дейността на органа по предоставянето на услугата. Върховен административен съд
                        </li>
                        <li>
                            Ред, включително срокове за обжалване на действията на органа по предоставянето на услугата. Редът и сроковете са съгласно АПК.
                        </li>
                        <li>
                            Начин на получаване на резултата от услугата: Достъпът до електронното свидетелство за съдимост се осъществява единствено чрез адрес за достъп, който се предоставя на заявителя по въведената от него електронна поща или на страницата на системата при повторно влизане в системата с електронен подпис. Всяко трето лице, на което заявителят предостави получения код за достъп, може да разгледа издаденото електронно свидетелство за съдимост на Единния портал на органите на изпълнителната власт от сектор „Правосъдие“. За разглеждане на издаденото електронно свидетелство за съдимост не е необходим електронен подпис.
                        </li>
                        <li>
                            Предметна област, за която се отнася: Стопански дейности, Социални услуги. Голяма част от извършваните дейности и упражняването на професии със значим обществен интерес или свързани с правораздаването, охраната на правовия ред, националната сигурност в страната, изискват от лицата да имат определено правно поведение в настоящето и в миналото. Чистото, безупречно съдебно минало и настояще се удостоверява с електронното свидетелство за съдимост. В електронното свидетелство за съдимост не се посочва за къде да послужи, тъй като то е предназначено да послужи навсякъде. Електронната услуга издаване на електронно свидетелство за съдимост е валидна за всеки български гражданин, роден на територията на страната, без значение в коя точка на света се намира, достатъчно е да разполага с квалифициран електронен подпис, в който се съдържа неговото ЕГН, подписът да е издаден от български доставчик на удостоверителна услуга и да няма съставени за него бюлетини, за да заяви и получи електронното свидетелство. В шестмесечният срок на валидност то може да се достъпва включително и извън територията на страната, даже едновременно, от няколко заинтересовани лица. Електронните свидетелства за съдимост са на български и на английски език, което е улеснение при използването им в чужбина.
                        </li>
                        <li>Органът, пред който се обжалва индивидуалния административен акт: По реда и в сроковете по АПК.</li>
                    </ol>

                    @* 13.	Електронен адрес за предложения във връзка с услугата: https://cs.mjs.bg/bg/Home/Feedback*@

                    @* 17.	Електронен адрес за предложения във връзка с облекчаване на режима: https://cs.mjs.bg/bg/Home/Feedback*@

                </div>
            </div>
        </div>
    </div>
</div>


