<tl-linear-progress
  [visible]="this.remoteService?.isLoading"
></tl-linear-progress>
<nb-card class="cais-lookup">
  <nb-card-header>
    <div class="d-flex justify-content-between">
      <h5 class="fw-bold">Код-националното право</h5>
      <div class="d-flex align-items-center gap-3">
        <button nbButton matRipple status="primary" (click)="success()">
          Избери
        </button>
        <button nbButton matRipple (click)="dismiss()">
          Затвори
        </button>
      </div>
    </div>

  </nb-card-header>
  <nb-card-body>
    <tl-linear-progress
      [visible]="this.remoteService?.isLoading"
    ></tl-linear-progress>
    <igx-grid
      #grid
      igxGridState
      [data]="items$ | async"
      [height]="null"
      [filterStrategy]="noopFilterStrategy"
      [sortStrategy]="noopSortStrategy"
      [paging]="true"
      [clipboardOptions]="{ copyHeaders: false }"
      [displayDensity]="'cosy'"
      (onSortingDone)="sortingDone($event)"
      (onFilteringDone)="filteringDone($event)"
      (onSelection)="cellSelection($event)"
      [paginationTemplate]="pager"
      [allowFiltering]="true"
      [primaryKey]="'id'"
      [cellSelection]="'none'"
      [rowSelection]="selectionMode"
      [selectedRows]="selectedRows"
      [hideRowSelectors]="false"
      [pinning]="pinningConfig"
      (onRowSelectionChange)="handleRowSelection($event)"
      [emptyGridTemplate]="emptyTemplate"
    >
      <igx-column
        field="id"
        header="'Идентификатор'"
        [sortable]="true"
        [dataType]="'number'"
        [hidden]="true"
      >
        <ng-template igxCell let-cell="cell">
          <span [title]="cell.value">{{ cell.value }}</span>
        </ng-template>
      </igx-column>

      <igx-column
        field="name"
        header="Наименование"
        [sortable]="true"
        [dataType]="'string'"
      >
        <ng-template igxCell let-cell="cell">
          <span [title]="cell.value">{{ cell.value }}</span>
        </ng-template>
      </igx-column>

      <ng-template #pager let-grid>
        <div class="tl-paginator">
          <cais-grid-pager
            [page]="remoteService.pagerParams.page"
            [perPage]="remoteService.pagerParams.perPage"
            [totalCount]="remoteService.pagerParams.totalCount"
            (pagerChange)="pagerChange($event)"
          ></cais-grid-pager>
        </div>
      </ng-template>
    </igx-grid>
    <ng-template #emptyTemplate> </ng-template>
  </nb-card-body>
</nb-card>
